.favorite-offers-list-enter-active,
.favorite-offers-list-leave-active,
.favorite-offers-list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.favorite-offers-list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.favorite-offers-list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.favorite-offers-list-leave-active {
  position: absolute;
}

.favorite-offers-list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}