<template>
    <section
      class="tm-home-about uk-section uk-section-muted uk-position-relative">
        <div class="uk-container">
            <title-caption text="About" data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"/>
            <h2 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                class="tm-home-about__title uk-heading-small uk-margin-small-top uk-width-2-3@s uk-width-1-2@l">
                Caléna's loyalty <br>program is unrivalled
            </h2>
            <div class="tm-home-about__content uk-margin-large-top" data-uk-grid>
                <div class="uk-visible@s uk-width-1-6"></div>
                <div class="uk-width-1-2@s">
                    <div data-uk-grid>
                        <div class="uk-width-5-6@s">
                            <div class="tm-home-about__first-part uk-grid-collapse uk-position-relative" data-uk-grid>
                                <p data-uk-scrollspy="cls:uk-animation-fade; delay: 300"
                                   class="tm-home-about__first-part-text uk-width-1-2 uk-width-1-1@s">
                                    Caléna is an elite community of luxury brands that understand the importance of
                                    loyal
                                    customers.
                                </p>
                                <div
                                  data-uk-scrollspy="cls:uk-animation-slide-right-small; delay: 100"
                                  class="tm-home-about__first-part-image uk-width-1-2 uk-hidden@s uk-background-cover uk-position-right"
                                  data-src="/images/front/home/about-2.jpg"
                                  data-uk-img>
                                </div>
                            </div>

                            <div class="tm-home-about__second-part uk-grid-column-collapse uk-position-relative" data-uk-grid>
                                <div class="uk-hidden@s uk-width-1-3"></div>
                                <div
                                  data-uk-scrollspy="cls:uk-animation-slide-left-small; delay: 100"
                                  class="tm-home-about__second-part-image uk-width-1-3 uk-hidden@s uk-background-cover uk-position-left"
                                  data-src="/images/front/home/about-1.jpg"
                                  data-uk-img>
                                </div>
                                <p data-uk-scrollspy="cls:uk-animation-fade; delay: 300"
                                   class="tm-home-about__second-part-text uk-width-2-3 uk-width-1-1@s">
                                    Whether it is a single purchase or an experience that requires end to end solutions
                                    our
                                    loyalty program will connect you with trusted brands to achieve your goals.
                                </p>
                            </div>
                            <div class="uk-margin-large-top uk-margin-bottom uk-text-center uk-text-left@s">
                                <template v-if="!loggedIn">
                                    <button data-uk-scrollspy="cls:uk-animation-fade; delay: 500"
                                            class="uk-button uk-button-primary uk-button-large">
                                        Sign Up
                                    </button>
                                    <div class="uk-box-shadow-medium" data-uk-dropdown="pos: bottom-justify">
                                        <ul class="uk-nav uk-dropdown-nav uk-text-center">
                                            <li><router-link to="/register/customer">Customer</router-link></li>
                                            <li><router-link to="/register/partner">Partner</router-link></li>
                                        </ul>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-position-right uk-width-1-3 uk-width-2-5@m uk-margin-xlarge-bottom uk-visible@s">
            <div
              data-uk-scrollspy="cls:uk-animation-fade; delay: 100"
              class="tm-home-about__right-image uk-background-cover"
              data-src="/images/front/home/about-2.jpg"
              data-uk-parallax="y: -20,0; media: @s"
              data-uk-img>
            </div>
        </div>
        <div class="uk-position-bottom-left uk-width-1-6 uk-width-1-5@xl uk-visible@s">
            <div
              data-uk-scrollspy="cls:uk-animation-fade; delay: 100"
              class="tm-home-about__left-image uk-background-cover"
              data-src="/images/front/home/about-1.jpg"
              data-uk-parallax="y: 20,0; media: @s"
              data-uk-img>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: "About",
  props: {
    loggedIn: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-home-about {
  &__first-part {
    &-text {
      margin-top: $global-medium-margin;
      margin-bottom: $global-margin;
      @include media-mob($sm) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &-image {
      margin-right: -$global-small-gutter;
    }
  }

  &__second-part {
    margin-top: $global-gutter;

    &-text {
      margin-top: $global-medium-margin;
      @include media-mob($sm) {
        margin-top: 0;
      }
    }

    &-image {
      margin-left: -$global-small-gutter;
      margin-bottom: $global-medium-margin;
    }
  }

  &__right-image {
    height: 320px;
    margin-top: -$global-medium-margin;
    @include media-mob($md) {
      height: 100%;
      margin-top: -($global-large-margin + $global-margin);
    }
  }

  &__left-image {
    height: 260px;
    margin-top: $global-medium-margin;
    margin-bottom: -$global-gutter;
    @include media-mob($md) {
      height: 380px;
      margin-top: ($global-large-margin + $global-margin);
    }
  }
}
</style>
