<template>
    <section class="tm-advantages uk-section uk-section-default">
        <div class="uk-container">
            <div data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 100"
                 data-uk-grid>
                <div class="uk-width-5-6 uk-width-1-3@s">
                    <title-caption text="01"/>
                    <h2 class="uk-h2 uk-margin-small-top">Simple to use</h2>
                    <p>Caléna luxury partner's brands are exclusive, we are not. It’s free and simple to join.</p>
                </div>
                <div class="uk-width-5-6 uk-width-1-3@s">
                    <title-caption text="02"/>
                    <h2 class="uk-h2 uk-margin-small-top">Prestigious</h2>
                    <p>Shop online & instore of your favourite luxury brands.</p>
                </div>
                <div class="uk-width-5-6 uk-width-1-3@s">
                    <title-caption text="03"/>
                    <h2 class="uk-h2 uk-margin-small-top">Secure</h2>
                    <p>Your details are protected by unbreakable bank-level security.</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: "Advantages"
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-advantages {
  .uk-container {
    margin-bottom: $global-medium-margin;
    @include media-mob($lg) {
      margin-bottom: $global-large-margin;
    }
  }
}
</style>
