<template>
    <section class="tm-home-categories uk-section uk-section-default uk-position-relative">
        <div class="uk-container uk-position-relative uk-position-z-index">
            <div class="uk-position-relative uk-visible-toggle" tabindex="-1" data-uk-slideshow="animation: push">
                <div class="uk-flex uk-flex-center uk-position-relative">
                    <ul data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                        class="tm-home-categories__items uk-slideshow-items uk-light uk-width-5-6@s">
                        <li v-for="item in items" :key="item.id">
                            <div class="uk-position-cover" data-uk-slideshow-parallax="scale: 1.2,1.2,1">
                                <img :data-src="item.image" alt="" data-uk-cover data-uk-img>
                            </div>
                            <div class="uk-position-cover"
                                 data-uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"></div>
                            <div class="uk-position-center uk-position-medium uk-text-center">
                                <div data-uk-slideshow-parallax="scale: 1,1,0.8">
                                    <h2 class="uk-heading-small uk-margin-large-bottom"
                                        data-uk-slideshow-parallax="x: 200,0,0">{{ item.title }}</h2>
                                    <router-link :to="{ name: 'offers', params: { categoryId: item.id } }"
                                       class="uk-button uk-button-primary uk-button-large"
                                       data-uk-slideshow-parallax="x: 400,0,0;">
                                        Learn More
                                    </router-link>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="tm-home-categories__arrows-nav">
                        <a class="uk-position-center-left uk-position-small" href="#"
                           data-uk-slidenav-previous data-uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small" href="#"
                           data-uk-slidenav-next data-uk-slideshow-item="next"></a>
                    </div>
                </div>
                <div class="uk-flex uk-flex-center uk-margin-medium-top">
                    <ul data-uk-scrollspy="target: > li; cls:uk-animation-fade; delay: 200"
                        class="tm-home-categories__bottom-nav uk-thumbnav uk-flex uk-flex-between@m uk-width-5-6@s uk-width-1-1@m">
                        <li v-for="(item, index) in items"
                            :key="item.id"
                            class="uk-width-1-3 uk-width-1-4@s uk-width-auto@m"
                            :data-uk-slideshow-item="index">
                            <a href="#" class="uk-link-heading"><span class="uk-h4">{{ item.title }}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tm-home-categories__background uk-width-1-1 uk-position-bottom uk-background-muted"></div>
    </section>
</template>

<script>
export default {
  name: "Categories",
  props: {
    items: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-home-categories {
    padding-top: 0 !important;
    &__arrows-nav {
    @include media-desk($sm) {
      a.uk-slidenav {
        color: $inverse-slidenav-color;
      }
      a.uk-slidenav:hover {
        color: $inverse-slidenav-hover-color;
      }
      a.uk-slidenav:active {
        color: $inverse-slidenav-active-color;
      }
    }
    a.uk-slidenav-previous {
      @include media-mob($sm) {
        margin-left: 0;
        margin-right: 0;
      }
    }
    a.uk-slidenav-next {
      @include media-mob($sm) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &__bottom-nav {
    margin-bottom: -20px;
    > li {
      @include media-desk($md) {
        margin-bottom: $global-margin;
      }
      a {
        position: relative;
        border-bottom: 2px solid transparent;
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          width: 100%;
          height: 2px;
          background-color: transparent;
          transform: translateY(5px);
          transition: transform .25s ease-in-out, background-color .25s ease-in-out;
        }
      }

      &.uk-active {
        a {
          &::after {
            background-color: $global-secondary-background;
            transform: translateY(0);
          }
        }
      }
    }
  }

  &__background {
    height: calc(100% - #{$global-medium-margin * 2});
    @include media-mob($sm) {
      height: 50%;
    }
    @include media-mob($md) {
      height: 40%;
    }
  }
}
</style>
