<template>
    <section class="uk-section uk-section-xlarge uk-background-cover uk-text-center uk-light uk-position-relative"
             data-src="/images/front/home/cta.jpg" data-uk-img>
        <div class="uk-container uk-position-relative uk-position-z-index">
            <h2 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                class="uk-heading-small uk-margin-small-top">Take Advantage Of Caléna</h2>
            <p data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
               class="uk-text-emphasis">Sign up now for free and enjoy the most rewarding luxury loyalty program</p>
            <template v-if="!loggedIn">
                <button data-uk-scrollspy="cls:uk-animation-fade; delay: 500"
                        class="uk-button uk-button-primary uk-button-large uk-margin-large-top">
                    Sign Up
                </button>
                <div class="uk-box-shadow-medium" data-uk-dropdown="pos: bottom-justify">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><router-link to="/register/customer">Customer</router-link></li>
                        <li><router-link to="/register/partner">Partner</router-link></li>
                    </ul>
                </div>
            </template>
        </div>
        <div class="uk-overlay-primary uk-position-cover">
        </div>
    </section>
</template>

<script>
export default {
  name: "Cta",
  props: {
    loggedIn: {
      type: Boolean,
      default: false
    }
  }
}
</script>
