<template>
    <section class="tm-home-faq uk-section uk-section-default">
        <div class="uk-container">
            <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                           text="FAQ"/>
            <h2 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                class="uk-heading-small uk-margin-small-top uk-width-2-3@s uk-width-1-1@m">
                We thought you might have questions
            </h2>
            <ul data-uk-scrollspy="target: > li; cls:uk-animation-fade; delay: 100"
                class="tm-home-faq__accordion uk-margin-medium-top" data-uk-accordion>
                <li class="tm-home-faq__accordion-item uk-open">
                    <a class="tm-home-faq__accordion-title uk-accordion-title" href="#">
                        <span class="uk-h3 uk-margin-remove">How can i sign up?</span>
                    </a>
                    <div class="uk-accordion-content">
                        <p>Go to the sign up page, enter your name, email and link your payment card.  This process only needs to be completed once and it only takes a few moments to complete.</p>
                    </div>
                </li>
                <li class="tm-home-faq__accordion-item">
                    <a class="tm-home-faq__accordion-title uk-accordion-title" href="#">
                        <span class="uk-h3 uk-margin-remove">Is membership available internationally?</span>
                    </a>
                    <div class="uk-accordion-content">
                        <p>Go to the sign up page, enter your name, email and link your payment card.  This process only needs to be completed once and it only takes a few moments to complete.</p>
                    </div>
                </li>
                <li class="tm-home-faq__accordion-item">
                    <a class="tm-home-faq__accordion-title uk-accordion-title" href="#">
                        <span class="uk-h3 uk-margin-remove">Can I see the full list of benefits?</span>
                    </a>
                    <div class="uk-accordion-content">
                        <p>Go to the sign up page, enter your name, email and link your payment card.  This process only needs to be completed once and it only takes a few moments to complete.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</template>

<script>
export default {
  name: "Faq"
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-home-faq {
  &__accordion {
    &-item {
      border-top: 1px solid rgba(59, 53, 48, 0.4);
      padding: $global-margin 0;
      &:not(:first-child) {
        margin-top: 0;
      }
      &:last-child {
        border-bottom: 1px solid rgba(59, 53, 48, 0.4);
      }
    }

    &-title {
      @include media-desk($sm) {
        span {
          font-size: $global-font-size;
        }
      }
    }
  }
}
</style>
