<template>
    <v-card max-width="670" class="mx-auto pa-sm-6 pa-md-12">
        <v-form>
            <v-container>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-text-field
                            v-model="firstname"
                            label="First Name"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" md="6">
                        <v-text-field
                            v-model="email"
                            label="Email"
                            required
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-btn
                            block
                            depressed
                            large
                            color="primary"
                        >Get early access</v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-form>
    </v-card>
</template>

<script>
export default {
    name: "FormAccess",
    data: () => ({
        firstname: '',
        email: ''
    })
}
</script>

<style scoped>

</style>
