<template>
    <div class="tm-hero uk-position-relative">
        <div class="uk-container uk-position-relative uk-position-z-index uk-light">
            <div class="tm-hero__content-wrapper uk-flex uk-flex-middle">
                <div class="tm-hero__content">
                    <span data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                          class="tm-hero__title uk-heading-medium uk-display-block">
                        Luxury has never been so rewarding
                    </span>
                    <span data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 400"
                          class="tm-hero__lead uk-text-emphasis uk-width-large uk-display-block">
                        The next generation luxury loyalty program that rewards real cashback, with no strings attached
                    </span>
                    <template v-if="!loggedIn">
                        <router-link data-uk-scrollspy="cls:uk-animation-fade; delay: 700"
                                     class="uk-button uk-button-primary uk-button-large uk-margin-large-top text-decoration-none"
                                     to="/login"
                        >
                          Cashback Offers
                        </router-link>
                    </template>
				 <template v-else-if="loggedIn">
				  <router-link data-uk-scrollspy="cls:uk-animation-fade; delay: 700"
							   class="uk-button uk-button-primary uk-button-large uk-margin-large-top text-decoration-none"
							   to="/offers"
				  >
				   Cashback Offers
				  </router-link>
				 </template>
                </div>
            </div>
        </div>
        <div class="tm-hero__overlay uk-position-cover">
            <div class="uk-height-1-1">
                <div class="uk-grid-collapse uk-height-1-1" data-uk-grid>
                    <div
                      class="uk-width-small uk-width-2-5@s">
                    </div>
                    <div data-uk-scrollspy="cls:uk-animation-fade"
                         class="tm-hero__background uk-flex-1 uk-position-relative uk-background-cover"
                         data-src="/images/front/home/hero.jpg" data-uk-img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "Hero",
  props: {
    loggedIn: {
      type: Boolean,
      default: false
    }
  },
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-hero {
  &__background {
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(15, 15, 15, 0.48) -8.5%, rgba(56, 50, 30, 0) 30%);
    }
  }

  &__content-wrapper {
    min-height: 520px;
    height: 100vh;
    @include media-portrait() {
      max-height: 150vw !important;
    }
    @include media-mob-portrait($sm) {
      max-height: 80vw !important;
    }
  }

  &__title {
    width: 280px;
    @include media-mob($sm) {
      width: 520px;
    }
    @include media-mob($lg) {
      width: 700px;
    }
  }

  &__lead {
    width: 250px;
    @include media-mob($sm) {
      width: 450px;
    }
    @include media-mob($lg) {
      width: 480px;
    }
  }
}
</style>
