<template>
    <div class="tm-home-how-it-works uk-position-relative">
        <section class="tm-home-how-it-works__header uk-section uk-section-muted">
            <div class="uk-container uk-position-relative uk-position-z-index">
                <div class="uk-grid-column-collapse" data-uk-grid>
                    <div class="uk-visible@s uk-width-2-5"></div>
                    <div class="tm-home-how-it-works__title uk-width-3-5@s">
                        <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                                       text="How it works"/>
                        <h2 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                            class="uk-heading-small uk-margin-small-top">
                            Get inspired with our <br>exclusive luxury <br>partners
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="tm-home-how-it-works__content uk-section uk-section-muted">
            <div class="tm-home-how-it-works__content-container">
                <div data-uk-grid>
                    <div class="uk-width-1-1 uk-width-1-2@s">
                        <div
                          data-uk-scrollspy="cls:uk-animation-fade; delay: 100"
                          class="tm-home-how-it-works__image"
                          data-src="/images/front/home/how-it-works.jpg"
                          data-uk-parallax="y: -20,0; media: @s"
                          data-uk-img>
                        </div>
                    </div>
                    <p data-uk-scrollspy="cls:uk-animation-fade; delay: 300"
                       class="tm-home-how-it-works__content-text uk-width-1-1 uk-width-2-5@s">
                        Browse our categories that showcase luxury brands, services and experiences. From there you will
                        connect directly with the brand for all bookings and purchases for your convenience. Caléna is
                        designed for all your personal and corporate needs.
                    </p>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
  name: "HowItWorks"
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-home-how-it-works {
  &__header {
    @include media-desk($sm) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent !important;
    }
    @include media-mob($sm) {
      padding-bottom: $global-medium-margin;
    }
  }

  &__title {
    white-space: nowrap;
    @include media-mob($md) {
      padding-left: $global-gutter + $global-margin;
    }
    @include media-mob($lg) {
      padding-left: $global-gutter * 2;
    }
  }

  &__content {
    @include media-mob($sm) {
      padding-top: 0;
    }

    &-container {
      @include media-desk($sm) {
        margin-top: $global-large-margin + $global-gutter;
        padding: 0 $global-small-gutter;
      }
    }

    &-text {
      @include media-mob($md) {
        width: 385px;
      }
      @include media-mob($lg) {
        width: 450px;
      }
    }
  }

  &__image {
    height: 240px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    @include media-mob($sm) {
      height: 260px;
      margin-top: -($global-large-margin + $global-medium-margin);
    }
    @include media-mob($md) {
      height: 350px;
    }
    @include media-mob($lg) {
      height: 440px;
      margin-top: -$global-xlarge-margin;
    }
    @include media-mob($xl) {
      height: 520px;
    }
  }
}
</style>
