<template>
    <section class="tm-home-luxury-businesses uk-section uk-section-muted uk-position-relative">
        <div class="uk-container">
            <div data-uk-grid>
                <div class="tm-home-luxury-businesses__content uk-width-2-3@s uk-width-1-2@m">
                    <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                                   text="Become our partner"/>
                    <h2 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                        class="uk-heading-small uk-margin-small-top">Luxury Businesses</h2>
                    <div data-uk-scrollspy="target: > p; cls:uk-animation-fade; delay: 100"
                         class="tm-home-luxury-businesses__content-text">
                        <p>
                            Our card-linked platform features a Cost-Per-Revenue model that drives motivated customers to
                            your brands aimed at building long-term loyalty.
                        </p>
                        <p>
                            Our customer engagement platform allows you to have real connections with customers which
                            improves customer satisfaction, sales, and retention.
                        </p>
                        <p>
                            Want to grow your brand and reward loyal customers? We can have you live on Caléna in just
                            minutes
                        </p>
                    </div>

                    <button data-uk-scrollspy="cls:uk-animation-fade; delay: 500"
                            class="uk-button uk-button-primary uk-button-large uk-margin-top">
                        Contact Us
                    </button>
                </div>
            </div>
        </div>
        <div class="tm-home-luxury-businesses__image uk-width-1-2@m">
            <div
              data-uk-scrollspy="cls:uk-animation-fade; delay: 300"
              class="uk-background-cover uk-height-1-1"
              data-src="/images/front/home/luxury-businesses.jpg"
              data-uk-img>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: "LuxuryBusinesses"
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-home-luxury-businesses {
  @include media-desk($md) {
    padding-bottom: 0 !important;
  }
  &__content-text {
    max-width: 450px;
  }
  &__image {
    height: 340px;
    margin-top: $global-medium-margin;
    @include media-mob($sm) {
      height: 680px;
    }
    @include media-mob($md) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin-top: 0;
      height: 100%;
    }
  }
}
</style>
