<template>
    <section class="tm-home-partners uk-section uk-section-muted">
        <div class="uk-container">
            <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                           text="Partners"/>
            <h2 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                class="uk-heading-small uk-margin-small-top">
                Trust our brands
            </h2>
            <p data-uk-scrollspy="cls:uk-animation-fade; delay: 300">
                Collaborate with our exclusive luxury partners for the perfect experience
            </p>
            <div data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 100"
                 class="uk-margin-medium-top uk-child-width-1-3 uk-child-width-1-4@s" data-uk-grid>
                <div v-for="(item, index) in partners" :key="index">
                    <div class="tm-home-partners__item-container">
                        <img :src="item.logo" :alt="item.name">
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: "Partners",
  data: () => ({
    partners: [
      { name: 'Nautilus Aviation', logo: '/images/front/home/partners/nautilus-aviation.png' },
      { name: 'Crown Resorts', logo: '/images/front/home/partners/crown-resorts.png' },
      { name: 'The Royal Melbourne Golf Club', logo: '/images/front/home/partners/royal-golf-club.png' },
      { name: 'Navair', logo: '/images/front/home/partners/navair.png' },
      { name: 'Prancing Horse', logo: '/images/front/home/partners/prancing-horse.png' },
      { name: 'Hom', logo: '/images/front/home/partners/hom.png' },
      { name: 'Champman', logo: '/images/front/home/partners/champman.png' },
      { name: 'Qualia', logo: '/images/front/home/partners/qualia.png' },
    ]
  })
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-home-partners {
  &__item-container {
    @include media-mob($sm) {
      padding: $global-margin;
    }
    @include media-mob($md) {
      padding: $global-medium-margin;
    }
  }
}
</style>

