<template>
    <section class="tm-home-security uk-section uk-section-default">
        <div class="uk-container">
            <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                           text="Security"/>
            <h2 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                class="uk-heading-small uk-margin-small-top uk-width-2xlarge">
                Caléna is serious about security and protecting you
            </h2>
        </div>
        <div class="tm-home-security__content uk-position-relative">
            <div class="uk-container">
                <div class="uk-grid-column-collapse" data-uk-grid>
                    <div class="tm-home-security__image-container uk-width-1-1 uk-width-1-2@s">
                        <div class="uk-grid-collapse uk-height-1-1" data-uk-grid>
                            <div class="uk-width-5-6@s">
                                <div data-uk-scrollspy="cls:uk-animation-fade; delay: 100"
                                     class="tm-home-security__image uk-background-cover"
                                     data-src="/images/front/home/security.jpg"
                                     data-uk-parallax="y: -20,0; media: @s"
                                     data-uk-img>
                                </div>
                            </div>
                            <div class="uk-visible@s uk-width-1-6"></div>
                        </div>
                    </div>

                    <div class="uk-visible@s uk-width-1-2"></div>
                    <div class="tm-home-security__right-block uk-width-1-2@s">
                        <div data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 200"
                             class="uk-grid-column-collapse uk-child-width" data-uk-grid>
                            <div>
                                <title-caption text="01"/>
                                <h2 class="uk-h2 uk-margin-small-top">Your data</h2>
                                <p>Your data is not for sale. We will never sell you data to businesses or third parties. We
                                    reveal none of your account details to partners when you transact, and our platform is
                                    air-tight.</p>
                            </div>
                            <div>
                                <title-caption text="02"/>
                                <h2 class="uk-h2 uk-margin-small-top">Your bank card information</h2>
                                <p>We do not store any banking information on our site. We have partnered with Yodlee who
                                    are leaders in secure hosting that uses bank-grade security and data encryption
                                    services.</p>
                            </div>
                            <div>
                                <title-caption text="03"/>
                                <h2 class="uk-h2 uk-margin-small-top">Your cashback wallet</h2>
                                <p>
                                    We use bank-level security (256-bit encryption) to ensure your information and your
                                    cashback wallet is secure and safe.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
export default {
  name: "Security"
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-home-security {
  &__image-container {
    @include media-mob($sm) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      padding-top: $global-large-margin + $global-gutter;
      padding-bottom: $global-large-margin;
    }
    @include media-mob($md) {
      padding-top: 0;
      padding-bottom: 0;
    }
    //@include media-mob($lg) {
    //  padding: 0 $global-margin 0 0;
    //}
  }
  &__image {
    height: 230px;
    @include media-mob($sm) {
      height: 100%;
    }
  }

  &__content {
    margin-top: $global-medium-margin;
    @include media-mob($lg) {
      margin-top: $global-large-margin;
    }
  }

  &__right-block {
    @include media-mob($lg) {
      padding-top: $global-large-margin;
      padding-bottom: $global-large-margin;
    }
  }
}
</style>
