<template>
    <section class="tm-home-steve-jobs uk-section uk-section-default uk-section-large uk-text-center">
        <div class="uk-container uk-width-xlarge uk-width-2xlarge@m">
            <span data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                  class="tm-home-steve-jobs__quote uk-h1 uk-display-block">
                “People don't know what they want until you show it to them.”
            </span>
            <signature data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                       text="Steve Jobs" class="uk-margin-top"/>
        </div>
    </section>
</template>

<script>
import Signature from "@/components/common/typography/Signature";
export default {
  name: "SteveJobs",
  components: {
    Signature
  }
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-home-steve-jobs {
  &__quote {
    @include media-desk($sm) {
      font-size: 1.5rem;
    }
  }
}
</style>
