<template>
    <section class="tm-home-testimonials uk-section uk-section-default">
        <div class="uk-container">
            <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                           text="Testimonials"/>
            <h2 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                class="uk-heading-small uk-margin-small-top">
                What our community is saying
            </h2>
            <div data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 100"
                 class="uk-margin-medium-top uk-child-width-1-3@s" data-uk-grid>
                <div v-for="(item, index) in 3" :key="index">
                    <div class="uk-card uk-card-body uk-background-muted">
                        <span
                          class="tm-home-testimonials__quote uk-display-block uk-text-primary">“</span>
                        <p class="uk-margin-remove">I have saved over 7&nbsp;000$ last month on travel expenses</p>
                    </div>
                    <div class="tm-home-testimonials__item-footer uk-text-right uk-margin-top">
                        <span class="uk-text-bold uk-text-emphasis uk-display-block">David A.</span>
                        <span class="uk-text-muted">Entrepreneur</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: "Testimonials"
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-home-testimonials {
  &__quote {
    font-family: $base-heading-font-family;
    font-size: 60px;
    margin-bottom: -$global-gutter;
    line-height: 1;
  }
  &__item-footer {
    span {
        line-height: 1;
    }
  }
}
</style>
