<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <h3 class="text-center">Transaction</h3>
            </v-col>
        </v-row>
        <v-row>
            <v-progress-linear
              v-if="state === 'loading'"
              indeterminate
              color="primary"
            ></v-progress-linear>
            <template v-else-if="transaction">
                <v-col cols="12">
                    <form>
                        <div class="form-item-group">
                            <h5>Customer id</h5>
                            <v-text-field
                              :value="transaction.customer_id"
                              disabled
                            ></v-text-field>
                        </div>
                        <div class="form-item-group">
                            <h5>Value</h5>
                            <v-text-field
                              :value="transaction.value"
                              prepend-icon="mdi-currency-usd"
                              disabled
                            ></v-text-field>
                        </div>
                        <div class="form-item-group">
                            <div class="d-flex">
                                <h5>Status</h5>
                                <v-chip class="ml-3 mt-n1" :color="transactionStatusColor" dark>
                                    {{ transaction.status.toUpperCase() }}
                                </v-chip>
                            </div>
                        </div>
                        <div class="mt-5 form-item-group">
                            <div class="d-flex">
                                <h5>Type</h5>
                                <v-chip
                                  class="ml-3 mt-n1"
                                  color="primary"
                                  label
                                  text-color="white"
                                >
                                    <v-icon left>
                                        mdi-twitter
                                    </v-icon>
                                    {{ transaction.type ? transaction.type.toUpperCase() : 'undefined' }}
                                </v-chip>
                            </div>
                        </div>
                    </form>
                    <v-alert
                      v-if="transaction.approved_by_admin"
                      class="mt-4"
                      type="success"
                      border="left"
                      elevation="2"
                      colored-border
                      icon="mdi-checkbox-marked-circle-outline"
                      transition="scale-transition"
                      max-width="350"
                    >
                        Transaction approved
                    </v-alert>
                    <div class="mt-10">
                        <v-btn
                          v-if="!this.transaction.approved_by_admin"
                          class="white--text"
                          color="green"
                          :loading="state === 'approving'"
                          @click="handleApprove"
                        >
                            Approve
                        </v-btn>
                        <v-btn
                          v-if="canUnApproved"
                          class="white--text"
                          color="red"
                          :loading="state === 'approving'"
                          @click="handleUnApprove"
                        >
                            UnApprove
                        </v-btn>
                    </div>
                </v-col>
            </template>
        </v-row>
    </v-container>
</template>

<script>
import {createNamespacedHelpers} from 'vuex';
const {mapActions} = createNamespacedHelpers('admin');

export default {
  name: "TransactionShow",
  data() {
    return {
      state: null,
      transaction: null,
    }
  },
  props: {
    id: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    transactionStatusColor () {
      return this.isPendingStatus ? 'info' : 'green';
    },
    isPendingStatus () {
      return this.transaction.status === 'pending';
    },
    canUnApproved () {
      return this.transaction.can_un_approved && this.transaction.approved_by_admin;
    }
  },
  watch: {
    state () {
      if (this.state === 'serviceCompletedAtDone') {
        this.serviceCompletedAt = null;
      }
    }
  },
  created() {
    this.state = 'loading';
    this.getCustomerTransactionAction(this.id)
      .then((response) => {
        this.transaction = response;
        this.state = 'loaded';
      });
  },
  methods: {
    ...mapActions({
      getCustomerTransactionAction: 'getCustomerTransaction',
      approveTransactionAction: 'approveTransaction',
      unApproveTransactionAction: 'unApproveTransaction'
    }),
    async handleApprove() {
      this.state = 'approving'
      this.approveTransactionAction(this.id)
        .then((response) => {
          this.transaction = response;
          this.state = 'loaded'
        });
    },
    async handleUnApprove() {
      this.state = 'approving'
      this.unApproveTransactionAction(this.id)
        .then((response) => {
          this.transaction = response;
          this.state = 'loaded'
        });
    }
  }
}
</script>
