<template>
  <div class="tm-form__input uk-width-1-1">
      <label v-if="title" class="tm-form__label">{{ title }}</label>
      <div class="tm-star-rating">
          <div class="tm-star-rating__mark" :class="`star-${mark}`"></div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'StarRating',
  props: {
    mark: {
      type: Number,
      default: 1
    },
    title: {
      type: String,
      default: null
    }
  }
}
</script>

<style lang="scss">
@import '../../../sass/modules/star-rating';
</style>
