<template>
    <div class="tm-uk-v-input uk-inline uk-width-1-1 uk-position-relative">
        <input
          class="uk-input"
          :type="type"
          :name="name"
          :placeholder="placeholder"
          :value="model"
          @input="onInput">
        <a v-if="flipAction && appendFlip" class="uk-form-icon uk-form-icon-flip"
           href="#"
           :data-uk-icon="appendFlip"
           @click.prevent="handleFlipAction"></a>
        <span v-else-if="appendFlip" class="uk-form-icon uk-form-icon-flip"
              :data-uk-icon="appendFlip"></span>
        <div v-if="errors.length"
             class="tm-uk-v-input__errors uk-position-absolute uk-animation-shake">
            <span class="uk-text-small uk-text-danger">
                {{ errorMessages }}
            </span>
        </div>
    </div>
</template>

<script>
export default {
  name: "UkVInput",
  model: {
    prop: 'model',
    event: 'input'
  },
  props: {
    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    errors: {
      type: Array,
      default: () => []
    },
    model: {
      type: [String, Number],
      default: ''
    },
    appendFlip: {
      type: String,
      default: null
    },
    flipAction: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    errorMessages () {
      return this.errors.join(' ');
    }
  },
  methods: {
    onInput ({ target }) {
      const { value } = target;
      this.$emit('input', value);
    },
    handleFlipAction () {
      this.$emit('click:append-flip');
    }
  }
}
</script>

<style lang="scss">
.tm-uk-v-input {
  &__errors {
    left: 0;
    top: 100%;
  }
}
</style>
