<template>
    <div>
        <header-component />
        <main data-uk-height-viewport="offset-bottom: true">
            <transition name="fade" mode="out-in">
                <router-view />
            </transition>
        </main>
        <footer-component />
        <off-canvas-menu />
    </div>
</template>

<script>
import Header from '@/components/layouts/Header';
import Footer from '@/components/layouts/Footer';
import OffCanvasMenu from "@/components/layouts/OffCanvasMenu";

export default {
  name: "App",
  components: {
    'header-component': Header,
    'footer-component': Footer,
    'off-canvas-menu': OffCanvasMenu
  }
}
</script>
