.drawer-menu {
  flex: none;
  background-color: $global-secondary-background !important;
  a:hover {
    text-decoration: none;
  }

  .v-list-item__title {
    @include base-heading-font;
    color: white;
  }
  //.v-list-item {
    //padding-left: 30px;
  //}

}
