<template>
    <v-container class="customer-account-page">
        <v-row>
            <v-col cols="12" text>
               <h3 class="text-center">Account page</h3>
            </v-col>
        </v-row>
        <v-row>
            <v-progress-linear
                    v-if="loading"
                    indeterminate
                    color="primary"
            ></v-progress-linear>
            <div v-if="!loading">
                <ValidationObserver ref="observer" v-slot="{ validate, reset }">
                    <form>
                        <ValidationProvider v-slot="{ errors }" name="Name" rules="required">
                            <v-text-field
                                    v-model="form.name"
                                    :error-messages="errors"
                                    label="Name"
                                    required
                            ></v-text-field>
                        </ValidationProvider>
                        <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
                            <v-text-field
                                    v-model="form.email"
                                    :error-messages="errors"
                                    label="E-mail"
                                    required
                            ></v-text-field>
                        </ValidationProvider>
                        <v-btn class="mr-4" @click="submit" :loading="updating">Update</v-btn>
                    </form>
                </ValidationObserver>
            </div>
        </v-row>
    </v-container>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapState} = createNamespacedHelpers('customer');
  
  import { extend } from 'vee-validate';
  import { required, email } from 'vee-validate/dist/rules';

  extend('required', required)
  extend('email', email)

  export default {
    name: "Account",
    data() {
      return {
        loading: false,
        updating: false,
        form: {
          name: null,
          email: null,
        }
      }
    },
    created() {
      this.loading = true;
      this.$store.dispatch('customer/getAccountData').finally(() => {
        this.form.name = this.account.name;
        this.form.email = this.account.email;
        this.loading = false;
      })
    },
    computed: {
      ...mapState({
        account: state => state.account && state.account.data
      }),
    },
    methods: {
      submit() {
        this.updating = true;
        this.$store.dispatch('customer/updateAccountData', this.form).then(() => {
        
        })
        .catch(() => alert('Error while updating account data'))
        .finally(() => {
          this.updating = false;
        })
      }
    },
    mounted() {
    
    }
  }
</script>

<style scoped>

</style>