<template>
 <v-container>
  <v-row>
   <v-col cols="5">
	<v-card
	  max-width="450"
	  :height="gettingLinkedBankAccounts ? '200px' : ''"
	>
	 <v-subheader
	 >
	  <h4>
	   Linked accounts {{ !gettingLinkedBankAccounts && !linkedBankAccountsFail ? `(${linkedBankAccounts.length})` : '' }}
	  </h4>
	 </v-subheader>
	 <v-progress-linear
	   v-if="gettingLinkedBankAccounts"
	   indeterminate
	   color="primary"
	 ></v-progress-linear>

	 <v-list three-line v-else>
	  <template v-if="linkedBankAccountsFail">
	   <v-alert
		 outlined
		 type="error"
		 text
	   >
		{{ linkedBankAccountsFail }}
	   </v-alert>
	  </template>
	  <template v-for="(item, index) in linkedBankAccounts" v-else>


	   <v-divider
		 v-if="index !== 0"
	   ></v-divider>

	   <v-list-item>
		<v-list-item-content style="padding-bottom: 0; padding-top: 0">
		 <v-alert
		   style="margin: 0"
		   dense
		   outlined
		   :type="item.accountStatus === 'ACTIVE' ? 'success' : 'error'"
		   border="left"
		 >
		  <div class="d-flex">
		   <h3 class="headline">
			{{ item.accountName }}
		   </h3>
		   <v-btn
			 :loading="item.deleting"
			 class="ml-auto"
			 color="error"
			 text
			 @click="deleteItem(item.id)"
		   >
			Delete
		   </v-btn>
		  </div>
		  <v-divider
			class="my-4 info"
			style="opacity: 0.22"
		  ></v-divider>
		  <div class="d-flex flex-column black--text">
		   <p class="font-weight-light text--black my-1">
			Account number: <strong>{{ item.accountNumber }}</strong>
		   </p>
		   <p class="font-weight-light black--text my-1">
			Linked at: <strong>{{ formatDate(item.createdDate) }}</strong>
		   </p>
		   <p class="font-weight-light black--text my-1">
			Status: <strong>{{ item.accountStatus }}</strong>
		   </p>
		  </div>
		 </v-alert>
		</v-list-item-content>
	   </v-list-item>
	  </template>
	 </v-list>
	</v-card>
   </v-col>
   <v-col cols="5">
	<template v-if="yodleeToken">
	  <template v-if="closedFastLink">
	   <v-alert
		 v-if="status === 'successLinked'"
		 prominent
		 type="success"
	   >
		{{ statusText }}
	   </v-alert>
	   <v-alert
		 v-else-if="status === 'failLinked'"
		 outlined
		 type="error"
		 text
	   >
		{{ statusText }}
	   </v-alert>
	   <v-alert
		 v-else
		 outlined
		 type="info"
		 text
	   >
		You have not linked a new account
	   </v-alert>
	  </template>
		<v-btn v-if="!initFastLink" @click="link" class="primary" :loading="loadingFastLink">Want to link bank accounts?</v-btn>
		<div v-show="initFastLink && !closedFastLink" >
		 <div id="container-fastlink">
		 </div>
		 <div>
		  <h4>Test account credentials:</h4>
		  <table class="table table-striped table-borderless">
		   <thead>
		   <tr>
			<th class="test-table-header" scope="col">Provider Name</th>
			<th class="test-table-header" scope="col">User Login Name</th>
			<th class="test-table-header" scope="col">User Password</th>
			<th class="test-table-header" scope="col">MFA Action</th>
		   </tr>
		   </thead>
		   <tbody class="test-table-body">
		   <tr>
			<td>Dag Site</td>
			<td>YodTest.site16441.2</td>
			<td>site16641.2</td>
			<td>None</td>
		   </tr>
		   <tr>
			<td>Dag Site Multilevel</td>
			<td>YodTest.site16442.1</td>
			<td>site16442.1</td>
			<td style="width: 142px">One Time Password: Choose Any Delivery Method (nothing is
			 sent) When
			 prompted
			 enter: 123456
			</td>
		   </tr>
		   <tr>
			<td>Dag Site SecurityQA</td>
			<td>YodTest.site16486.1</td>
			<td>site16486.1</td>
			<td>Challenge Questions:<br> Answer 1: Texas <br>Answer 2: w3schools</td>
		   </tr>
		   </tbody>
		  </table>
		 </div>
		</div>
	</template>
	<template v-else-if="yodleeTokenFail">
	 <v-alert
	   outlined
	   type="error"
	   text
	 >
	  <v-row align="center">
	   <v-col class="grow">
		{{ yodleeTokenFail }}
	   </v-col>
	   <v-col class="shrink">
		<v-btn @click="generateYodleeToken" :loading="generatingYodleeToken">Try to generate the token again</v-btn>
	   </v-col>
	  </v-row>
	 </v-alert>
	</template>
   </v-col>
  </v-row>



<!--          <div v-if="!loading && closedFastLink">-->

  <!--        </div>-->
 </v-container>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapState, mapMutations} = createNamespacedHelpers('customer');

  var dayjs = require('dayjs')
  
  export default {
    name: 'FastLink',
    data() {
      return {
        loading: false,
        statusText: null,
        closedFastLink: false,
        initFastLink: false,
        status: null,
        generatingYodleeToken: false,
        gettingLinkedBankAccounts: false,
        yodleeTokenFail: null,
        linkedBankAccountsFail: null,
        loadingFastLink: null,
      };
    },
    computed: {
      ...mapState({
        yodleeToken: state => state.yodleeToken && state.yodleeToken.success
            ? state.yodleeToken.data.accessToken
            : null,
        yodleeTokenNotRegistered: state => state.yodleeToken && state.yodleeToken.errors
            ? !!state.yodleeToken.errors.yodlee_login_name
            : null,
        linkedBankAccounts: state => state.linkedBankAccounts && state.linkedBankAccounts.success
            ? state.linkedBankAccounts.data.map(i => Object.assign(i, {deleting: !!i.deleting}))
            : null,
      }),
    },
    created() {
      this.generateYodleeToken();
      this.getLinkedBankAccounts();
    },
    methods: {
      ...mapMutations({
        setLinkedBankAccounts: 'setLinkedBankAccounts'
      }),
      generateYodleeToken() {
        this.generatingYodleeToken = true;
        this.$store.dispatch('customer/generateYodleeToken').finally((response) => {
          this.generatingYodleeToken = false;
          if (this.yodleeToken) {
            // this.statusText = 'Loading FastLink sandbox...';
            // this.link();
          }
          else {
            if (this.yodleeTokenNotRegistered) {
              this.yodleeTokenFail = 'Sorry, you have not integrated your user with yodlee.Contact the administration';
            }
            else {
              this.yodleeTokenFail = 'Error while generating Yodlee Token';
            }
          }
        });
	  },
      getLinkedBankAccounts() {
        this.gettingLinkedBankAccounts = true;
        this.$store.dispatch('customer/getLinkedBankAccounts').finally((response) => {
          this.gettingLinkedBankAccounts = false;
          if (this.linkedBankAccounts) {
          }
          else {
            this.linkedBankAccountsFail = 'Error while retrieving linked accounts';
          }
        });
	  },
      link() {
        this.loadingFastLink = true;

        let i = 0;
        const interval = setInterval(() => {
          if (!this.initFastLink && i > 20) {
            this.status = 'failLinked';
            this.statusText = 'Yodlee FastLink initialization problem, try again later';
            window.fastlink.close();
            this.loadingFastLink = false;
            this.closedFastLink = true;
            clearInterval(interval);
		  } else if (i > 20) {
            clearInterval(interval);
		  }
          i++;
		}, 1000);

        window.fastlink.open({
              fastLinkURL: process.env.MIX_FAST_LINK_URL,
              accessToken: `Bearer ${this.yodleeToken}`,
              params: {
                userExperienceFlow: 'Aggregation',
              },
              onSuccess: (data) => {
                console.log('onSuccess', data)
                if (data && data.status === 'SUCCESS') {
                  this.status = 'successLinked';
                  this.loading = true;
                  this.statusText = 'Updating provider data...';
                  this.$store.dispatch('customer/linkProvider', data).finally(() => {
                    this.loading = false;
                    if (this.$store.state.customer.linkProvider) {
                      this.statusText = 'Linking user with provider was successfully';
                    }
                    else {
                      this.status = null;
                      this.statusText = 'Linking was successfully, but not saving provider data';
                    }
                  });
                }
              },
              onError: (data) => {
                console.log('onError', data)
                if (!this.initFastLink) {
                  window.fastlink.close();
                  this.loadingFastLink = false;
                  this.closedFastLink = true;
                  this.initFastLink = false;
                }
                this.status = 'failLinked';
                this.statusText = 'There was an error on Yodlee side, please try again later';
              },
              onExit: (data) => {
                console.log('onExit', data)
                this.getLinkedBankAccounts();
                this.closedFastLink = true;
                window.fastlink.close();
                this.initFastLink = false;
              },
              onEvent: (data) => {
                console.log('onEvent', data)
                if (!this.initFastLink) {
                  this.loadingFastLink = false;
                  this.initFastLink = true;
                  this.closedFastLink = false;
                }
              },
            },
            'container-fastlink')
      },
      deleteItem(accountId) {
        this.$store.dispatch('customer/deleteLinkedBankAccount', accountId).finally((response) => {

        });

	  },
	  formatDate(date) {
        const DayJS = dayjs(date)

        return DayJS.format('DD MMMM YYYY HH:mm');
	  }
    },
  };
</script>

<style scoped>

</style>