<template>
    <v-container class="customer-offers-page">
        <v-row v-if="loading" >
            <v-col cols="12">
                <h3 class="text-center">Loading offers...</h3>
                <v-progress-linear
                        v-if="loading"
                        indeterminate
                        color="primary"
                ></v-progress-linear>
            </v-col>
        </v-row>
        <h3 v-else-if="!loading && items.length === 0">
            Not found offers
        </h3>
        <template v-else>
            <v-row>
                <v-col>
                    <h1 class="text-left">Favorite</h1>
                </v-col>
            </v-row>
            <transition-group name="favorite-offers-list" class="row customer-offer-items-container offer-card-container" tag="div" style="max-width: 1280px;">
                <v-col class="d-flex customer-offer-item" v-for="(offer) in offers" :cols="xs" :sm="sm" :md="md" :lg="lg" :key="offer.id">
                    <v-card
                            class="elevation-4"
                            style="position: relative"
                    >
                        <div>
                            <v-img
                                    aspect-ratio="1"
                                    class="white--text align-end"
                                    :src="offer.image_url"
                            >
                                <v-card-title class="text-subtitle-2">{{ offer.title }}</v-card-title>
                            </v-img>

                            <v-card-subtitle class="pb-0">{{ offer.beginning_at }}</v-card-subtitle>

                            <v-card-text class="text--primary " style="margin-bottom: 40px">
                                <div>{{ offer.terms }}</div>
                            </v-card-text>
                            <v-card-actions style="height: auto; position: absolute; bottom: 0; right: 0">
                                <v-btn @click="favoriteOffer(offer.id)" icon :color="offer.is_favorite ? 'pink' : 'default'">
                                    <v-icon>mdi-heart</v-icon>
                                </v-btn>
                            </v-card-actions>
                        </div>
                    </v-card>
                </v-col>
            </transition-group>
        </template>
    </v-container>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapState} = createNamespacedHelpers('customer');

  export default {
    name: "FavoriteOffers",
    data() {
      return {
        loading: false,
        items: []
      }
    },
    computed: {
      ...mapState(
        {
          offers: state => state.offers && state.offers.success ? state.offers.data : false
        }
      ),
      xs() {
        return this.$root.drawerMenuMiniVariant ? 12 : 12
      },
      sm() {
        return this.$root.drawerMenuMiniVariant ? 6 : 12
      },
      md() {
        return this.$root.drawerMenuMiniVariant ? 4 : 6
      },
      lg() {
        return this.$root.drawerMenuMiniVariant ? 3 : 3
      },
    },
    methods: {
      favoriteOffer(offerId) {
        const offerIndex = this.items.findIndex(x => x.id === offerId);
        if (typeof offerIndex === 'undefined' || !this.items[offerIndex]) {
          throw new Error('Not found offerIndex');
          return;
        }

        const offer = this.items[offerIndex];

        if (offer.is_favorite) {
          this.items.splice(offerIndex, 1);
        }

        this.$store.dispatch('customer/favoriteOffer', offerId).finally(() => {
          this.loading = false;
          if (!this.$store.state.customer.favoriteOffer) {
            this.items.splice(offerIndex, 0, offer);
            alert('Error while toggle favorite offer')
          }
        })
      }
    },
    created() {
      this.loading = true;
      this.$store.dispatch('customer/getOffers', {
        favorite: true
      }).finally(() => {
        this.loading = false;
        if (!this.offers) {
          this.items = [];
          alert('Error while loading offers')
        } else {
          this.items = this.offers
        }
      })
    },
  }
</script>

<style scoped>

</style>
