<template>
    <v-container class="customer-home-page">
        <v-row>
            <v-col cols="3">
                <v-card class="elevation-4" min-width="300px">
                    <v-card-text>
                        <div class="d-flex">
                            <div class="mr-auto">
                                <v-card-title class="text-subtitle-2 pt-0 pb-0 ">Your balance</v-card-title>
                                <v-skeleton-loader
                                        :loading="loadingBalance"
                                        class="headline pt-0 pb-0"
                                        style="padding-left: 10px"
                                        type="chip"
                                >
                                    <v-card-title class="headline pt-0 pb-0 pl-1" :class="{'red--text text--lighten-1 text-subtitle-1 pl-3': !balance}">
                                        {{ balance ? `$${balance}` : 'Unknown'}}
                                    </v-card-title>
                                </v-skeleton-loader>
                            </div>
                            <v-card-actions class="">
                                <v-btn color="primary">Withdraw</v-btn>
                            </v-card-actions>
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row style="margin-top: 30px" no-gutters>
            <v-col>
                <h3>New Offers</h3>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-alert
                    v-if="!loadingOffers && items.length === 0 && !newOffers"
                    border="left"
                    colored-border
                    type="error"
                    elevation="2"
                    width="100%"
            >
                Error while loading offers
            </v-alert>
            <v-alert
                    v-else-if="!loadingOffers && items.length === 0"
                    border="top"
                    colored-border
                    type="info"
                    elevation="2"
                    width="100%"
            >
                Not found offers
              </v-alert>
            <v-col v-else cols="12">
                <v-row style="max-width: 1280px;">
                    <template v-if="loadingOffers">
                        <v-col class="d-flex justify-content-center" v-for="n in 4" :cols="xs" :sm="sm" :md="md" :lg="lg" :key="n" >
                            <v-skeleton-loader
                                    class="elevation-4"
                                    width="100%"
                                    type="card"
                            >
                            </v-skeleton-loader>
                        </v-col>
                    </template>
                    <template v-else>
                        <v-col class="d-flex justify-content-center" v-for="(offer, key) in items" :cols="xs" :sm="sm" :md="md" :lg="lg" :key="key">
                            <CustomerOfferCard v-if="offer.id" @favorite="favoriteOffer(offer.id)" :offer="offer"></CustomerOfferCard>
                            <v-skeleton-loader
                                    v-else
                                    class="elevation-4"
                                    :boilerplate="true"
                                    width="100%"
                                    type="card"
                            >
                            </v-skeleton-loader>
                        </v-col>
                    </template>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapState} = createNamespacedHelpers('customer');

  import CustomerOfferCard from "../../components/CustomerOfferCard";
  import {
    wrappedCustomerGetRelatedOffersRequest,
    wrappedCustomerStoreRelatedOfferReviewRequest,
  } from '../../requests/customer';

  export default {
    name: "Home",
    components: {
      CustomerOfferCard
    },
    data() {
      return {
        items: [],
        loadingOffers: false,
        loadingBalance: false
      }
    },
    computed: {
      ...mapState(
        {
          newOffers: state => state.newOffers && state.newOffers.success ? state.newOffers.data : false,
          balance: state => state.balance && state.balance.success ? state.balance.data.value : false,
        }
      ),
      xs() {
        return this.$root.drawerMenuMiniVariant ? 12 : 12
      },
      sm() {
        return this.$root.drawerMenuMiniVariant ? 6 : 12
      },
      md() {
        return this.$root.drawerMenuMiniVariant ? 4 : 6
      },
      lg() {
        return this.$root.drawerMenuMiniVariant ? 3 : 3
      },
    },
    methods: {
      favoriteOffer(offerId) {
        const offerIndex = this.items.findIndex(x => x.id === offerId);
        if (typeof offerIndex === 'undefined' || !this.items[offerIndex]) {
          throw new Error('Not found offerIndex');
          return;
        }

        this.items[offerIndex].is_favorite = !this.items[offerIndex].is_favorite;

        this.$store.dispatch('customer/favoriteOffer', offerId).finally(() => {
          this.loadingOffers = false;
          if (!this.$store.state.customer.favoriteOffer) {
            this.items[offerIndex].is_favorite = !this.items[offerIndex].is_favorite;
            alert('Error while toggle favorite offer')
          } else {

          }
        })
      },
      loadNewOffers() {
        this.loadingOffers = true;
        this.$store.dispatch('customer/getNewOffers', {
          limit: 4
        }).finally(() => {
          this.loadingOffers = false;
          if (!this.newOffers) {
            this.items = [];
          } else if(this.newOffers.length){
            let items = this.newOffers.slice(0, 4);

            if (items.length < 4) {
              const len = items.length;
              for(let i=0; i < 4 - len; i++) {
                items.push({});
              }
            }

            this.items = items;
          }
        })
      },
      loadBalance() {
        this.loadingBalance = true;
        this.$store.dispatch('customer/getBalance').finally(() => {
          this.loadingBalance = false;
        })
      }
    },
    created() {
        this.loadNewOffers();
        this.loadBalance();
    },
	mounted() {
      // todo Review requests
      // wrappedCustomerGetRelatedOffersRequest().finally()
      // wrappedCustomerStoreRelatedOfferReviewRequest({
		// offer_id: 10,
		// title: 'Review title',
		// description: 'Review description',
		// rating: 5,
	  // }).finally()
	}
  }
</script>

<style scoped>
    /*.v-skeleton-loader__image {*/
    /*    padding-top: 100% !important;*/
    /*}*/
</style>
