<template>
    <v-container class="customer-offers-page">
        <v-row v-if="loading" >
            <v-col cols="12">
                <h3 class="text-center">Loading offers...</h3>
                <v-progress-linear
                        v-if="loading"
                        indeterminate
                        color="primary"
                ></v-progress-linear>
            </v-col>
        </v-row>
        <h3 v-else-if="!loading && items.length === 0">
            Not found offers
        </h3>
        <template v-else>
            <v-row>
                <v-col>
                    <h1 class="text-left">Popularity</h1>
                </v-col>
            </v-row>
            <v-row class="customer-offer-items-container offer-card-container" style="max-width: 1280px;">
                <v-col class="d-flex customer-offer-item" v-for="(offer, index) in offers" :cols="xs" :sm="sm" :md="md" :lg="lg" :key="index">
                    <CustomerOfferCard @favorite="favoriteOffer(offer.id)" :offer="offer"></CustomerOfferCard>
                </v-col>
            </v-row>
        </template>
    </v-container>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapState} = createNamespacedHelpers('customer');

  import CustomerOfferCard from "../../components/CustomerOfferCard";

  export default {
    name: "CustomerOffers",
    components: {
      CustomerOfferCard
    },
    data() {
      return {
        loading: false,
        items: []
      }
    },
    computed: {
      ...mapState(
        {
          offers: state => state.offers && state.offers.success ? state.offers.data : false
        }
      ),
      xs() {
        return this.$root.drawerMenuMiniVariant ? 12 : 12
      },
      sm() {
        return this.$root.drawerMenuMiniVariant ? 6 : 12
      },
      md() {
        return this.$root.drawerMenuMiniVariant ? 4 : 6
      },
      lg() {
        return this.$root.drawerMenuMiniVariant ? 3 : 3
      },
    },
    methods: {
      favoriteOffer(offerId) {
        const offerIndex = this.items.findIndex(x => x.id === offerId);
        if (typeof offerIndex === 'undefined' || !this.items[offerIndex]) {
          throw new Error('Not found offerIndex');
          return;
        }

        this.items[offerIndex].is_favorite = !this.items[offerIndex].is_favorite;

        this.$store.dispatch('customer/favoriteOffer', offerId).finally(() => {
          this.loading = false;
          if (!this.$store.state.customer.favoriteOffer) {
            this.items[offerIndex].is_favorite = !this.items[offerIndex].is_favorite;
            alert('Error while toggle favorite offer')
          } else {

          }
        })
      }
    },
    created() {
      this.loading = true;
      this.$store.dispatch('customer/getOffers').finally(() => {
        this.loading = false;
        if (!this.offers) {
          this.items = [];
          alert('Error while loading offers')
        } else {
          this.items = this.offers
        }
      })
    },
  }
</script>

<style>
</style>
