<template>
    <v-container class="customer-partners-page">
        <v-row v-if="loading" >
            <v-col cols="12">
                <h3 class="text-center">Loading partners...</h3>
                <v-progress-linear
                        v-if="loading"
                        indeterminate
                        color="primary"
                ></v-progress-linear>
            </v-col>
        </v-row>
        <h3 v-else-if="!loading && items.length === 0">
            Not found partners
        </h3>
        <template v-else>
            <v-row>
                <v-col>
                    <h1 class="text-left">Partners</h1>
                </v-col>
            </v-row>
            <v-row class="customer-partners-items-container" style="max-width: 1280px;">
                <v-col class="d-flex customer-partner-item" v-for="(item, index) in items" :cols="xs" :sm="sm" :md="md" :lg="lg" :key="index">
                    <v-card
                            class="elevation-4"
                            style="position: relative;     width: 100%;"
                    >
                        <v-img
                                aspect-ratio="1"
                                class="white--text align-start"
                                height="100%"
                                :src="item.logo"
                                lazy-src="/images/noimg.jpg"
                        >
                            <v-card-title class="headline" style="background: #00000040;">{{ item.company_name }}</v-card-title>
                            <v-card-title class="text-subtitle-2 pt-0" style="background: #00000040;">{{ item.name }}</v-card-title>
                            <v-card-actions v-if="false" style="height: auto; position: absolute; bottom: 0; right: 0">
                                <v-btn class="primary">
                                    Show offers
                                </v-btn>
                            </v-card-actions>
                        </v-img>
                    </v-card>
                </v-col>
            </v-row>
        </template>
    </v-container>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapState} = createNamespacedHelpers('customer');

  export default {
    name: "CustomerPartners",
    data() {
      return {
        loading: false,
        items: []
      }
    },
    computed: {
      ...mapState(
        {
          partners: state => state.partners && state.partners.success ? state.partners.data : false
        }
      ),
      xs() {
        return this.$root.drawerMenuMiniVariant ? 12 : 12
      },
      sm() {
        return this.$root.drawerMenuMiniVariant ? 6 : 12
      },
      md() {
        return this.$root.drawerMenuMiniVariant ? 4 : 6
      },
      lg() {
        return this.$root.drawerMenuMiniVariant ? 3 : 3
      },
    },
    methods: {

    },
    created() {
      this.loading = true;
      this.$store.dispatch('customer/getPartners').finally(() => {
        this.loading = false;
        if (!this.partners) {
          this.items = [];
          alert('Error while loading partners')
        } else {
          this.items = this.partners
        }
      })
    },
  }
</script>

<style scoped>

</style>
