<template>
 	<div>
	 <v-dialog max-width="600"
			   v-model="dialog"
	 >
	  <template v-slot:default="dialog">
	   <v-card>
		<v-toolbar
		  color="primary"
		  dark
		> {{ model.show ? 'Show review' : 'Enter reviews data' }}
		</v-toolbar>

		<v-container fluid class="pa-5">
		 <v-text-field
		   size="1.5"
		   v-model="model.title"
		   label="Title"
		   :disabled="model.show"
		   :clearable="!model.show"
		 ></v-text-field>
		 <v-textarea
		   size="1.5"
		   v-model="model.description"
		   :disabled="model.show"
		   label="Description"
		   :clearable="!model.show"
		 ></v-textarea>
		 <v-row align="center">
		  <v-col cols="4" style="font-size: 1.3em">
		   Enter offer`s rating:
		  </v-col>
		  <v-col>
		   <v-rating
			 hover
			 length="5"
			 size="32"
			 value="3"
			 :readonly="model.show"
			 v-model="model.rating"
		   ></v-rating>
		  </v-col>
		 </v-row>

		</v-container>
		<v-card-actions class="justify-end">
		 <v-btn
		   v-if="!model.show"
		   color="primary"
		   @click="sendReviewData"
		   :loading="sendBtnLoading"
		   :disabled="(!model.title || !model.description || !model.rating)"
		 >Submit
		 </v-btn>
		 <v-btn
		   text
		   @click="dialog.value = false"
		 >Close
		 </v-btn>
		</v-card-actions>
	   </v-card>
	  </template>
	 </v-dialog>
	 <v-data-table
	   :headers="headers"
	   :items="data"
	   :loading="loading"
	   :items-per-page="5"
	   class="elevation-1 pa-5"
	 >

	  <template v-slot:item.rating="{ item }">
	   <v-rating
		 color="primary"
		 length="5"
		 readonly
		 :value="item.rating"

	   ></v-rating>
	  </template>
	  <template v-slot:item.link="{ item }">
	   <a :href="`/offers/${item.slug}`">Link</a>
	  </template>
	  <template v-slot:item.action="{ item }">
	   <v-btn
		 v-if="!item.reviewed"
		 color="primary"
		 @click.stop="showDialog(item.id)"
	   >Review
	   </v-btn>
	   <v-alert class="mt-4" dense outlined type="success" v-else>Reviewed...  <a class="link"
		 @click.stop="showDialog(item.id, item.review)"
	   ><strong>Show Review</strong>
	   </a>
	   </v-alert>
	  </template>

	 </v-data-table>
	</div>
</template>

<script>
import {wrappedPartnerAcceptRelatedReviewRequest, wrappedPartnerGetRelatedReviewsRequest} from "../../requests/partner";
import {
    wrappedCustomerGetRelatedOffersRequest,
    wrappedCustomerStoreRelatedOfferReviewRequest
} from "../../requests/customer";


export default {
    name: "Reviews",
    data() {
        return {
            model: {
                title: null,
                description: null,
                rating: null,
                offer_id: -1,
			  	show: null
            },
            sendBtnLoading: false,
            dialog: false,
            headers: [
                {
                    text: 'Offer title',
                    align: 'start',
                    sortable: false,
                    value: 'title',
                },
                {text: 'Offer Link', value: 'link'},
                {text: 'Partner`s name', value: 'partner_name',},
                {text: 'Action', value: 'action',}


            ],
		  	loading: false,
            data: [],
        }
    },
    mounted() {
      	this.loading = true;
        wrappedCustomerGetRelatedOffersRequest()
            .then(e=>{
                this.data = e.data
                console.log(e)})
            .finally(() => this.loading = false)

    },
    methods: {

        sendReviewData() {
            this.sendBtnLoading = true;
            wrappedCustomerStoreRelatedOfferReviewRequest({
                ...this.model
            }).then(e=>{
              	const offer = this.data.find(o => o.id === this.model.offer_id);

                this.dialog = false;

                if (offer) {
                  offer.reviewed = true;
                  offer.review = Object.assign({}, this.model);
				}
            })
            .finally(() => this.sendBtnLoading = false)
        },
        showDialog(id, review = null){
          	if (!review) {
              this.model.offer_id = id;
              this.model.rating = null;
              this.model.description = null;
              this.model.title = null;
              this.model.show = false;
              this.dialog = true;
			} else {
              this.model.offer_id = -1;
              this.model.rating = review.rating;
              this.model.description = review.description;
              this.model.title = review.title;
              this.model.show = true;
              this.dialog = true;
			}
        }
    }
}
</script>

<style scoped>

</style>
