<template>
    <v-container class="customer-transactions-page">
        <v-row v-if="!loading">
            <v-col>
                <h1 class="text-left">Transactions</h1>
            </v-col>
        </v-row>
        <v-row>
            <v-sheet
            >
                <v-item
                    v-for="(dayKey) in Object.keys(items).sort((a,b) => b - a)"
                    :key="dayKey"
                >
                    <v-sheet
                        class="px-4 pt-4 pb-3"
                        tile
                        style="cursor: pointer;"
                    >
                        <div class="my-2 transition-swing">
                            <v-btn large text color="primary">{{ visibleDay(items[dayKey][0].created_at) }}</v-btn>
                        </div>
                        <v-row v-if="!loading">
                            <v-col class="d-flex customer-transaction-col" v-for="(item, index) in items[dayKey]" :key="index + dayKey" cols="12" >
                                <v-card class="elevation-2" width="100%">
                                    <v-card-title class="headline">${{ item.value }}</v-card-title>
                                    <v-divider class="m-0"></v-divider>
                                    <v-card-text>
                                        Partner: <v-avatar size="36"><img :src="item.partner.logo" /></v-avatar> {{item.partner.company_name}}
                                    </v-card-text>
                                    <v-divider class="m-0"></v-divider>
                                    <v-card-text>
                                        <div>
                                            Created at: <span class="grey--text ml-1">{{ formatDateTime(item.created_at) }}</span>
                                        </div>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row v-if="loading">
                            <v-col cols="12"></v-col>
                        </v-row>
                    </v-sheet>
                </v-item>
            </v-sheet>
        </v-row>
        <v-row>
            <v-col cols="12">
                <div v-if="loading">
                    <h3 class="text-center">Loading transactions...</h3>
                    <v-progress-linear
                            indeterminate
                            color="primary"
                    ></v-progress-linear>
                </div>
                <h3 v-if="!loading && items.length === 0">
                    Not found transactions
                </h3>
                <div v-if="!initLoading && meta.last_page > 1" class="text-center">
                    <v-pagination
                        v-model="meta.page"
                        :length="10"
                    ></v-pagination>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {createNamespacedHelpers} from 'vuex';

    const {mapState} = createNamespacedHelpers('customer');

    import dayjs from "dayjs";

    export default {
        name: "Transactions",
        data: function () {
            return {
                items: {},
                loading: false,
                meta: {
                    page: 1,
                    itemsPerPage: 15,
                    total: 0,
                    last_page: 1
                },
                initLoading: true
            }
        },
        watch: {
            'meta.page': {
                handler(val, oldVal) {
                    if (val !== oldVal) {
                        this.getItems();
                    }
                },
            },
        },
        computed: {
            ...mapState({
                transactions: state => state.transactions && state.transactions.data,
                transactionsMeta: state => state.transactions && state.transactions.meta
            })
        },
        methods: {
            getItems() {
                this.loading = true;
                this.$store.dispatch('customer/getCustomerTransactions', {
                    per_page: this.meta.itemsPerPage,
                    page: this.meta.page
                }).then(() => {
                    this.meta.page = parseInt(this.transactionsMeta.current_page);
                    this.meta.itemsPerPage = this.meta.itemsPerPage === -1 ? -1 : parseInt(this.transactionsMeta.per_page);
                    this.meta.total = parseInt(this.transactionsMeta.total);
                    this.meta.last_page = parseInt(this.transactionsMeta.last_page);
                    this.items = this.transactions;
                }).catch(() => {
                    this.items = [];
                    alert('Error while loading transactions')
                }).finally(() => {
                    this.loading = false;
                    this.initLoading = false
                });
            },
            formatDateTime(value){
                return dayjs(value).format('D MMMM HH:mm');
            },
            visibleDay(value) {
                return dayjs(value).format('D MMMM');
            }
        },
        mounted() {
            this.getItems();
        }
    }
</script>

<style scoped>
    .customer-transaction-col {
        min-width: 300px;
    }
</style>
