<template>
    <v-navigation-drawer
      class="admin-drawer-menu drawer-menu"
      dark
      :mini-variant="lgAndDown"
      :expand-on-hover="mdAndUp"
      mobile-breakpoint="0"
      ref="navigationDrawerRef"
    >
        <v-list>
            <v-list-item
              link
              :to="{name: 'dashboard.partners'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-format-list-bulleted</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Partners</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
              link
              :to="{name: 'dashboard.customers'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-account-group</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Customers</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
              link
              :to="{name: 'dashboard.transactions'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-cash-multiple</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Transactions</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
              link
              :to="{name: 'dashboard.categories'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-palette-swatch</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Categories</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>

        <template v-slot:append>
            <!--<div class="pa-2">
                <v-btn block>Logout</v-btn>
            </div>-->
        </template>
    </v-navigation-drawer>
</template>

<script>
import breakPoints from "../mixins/breakPoints";
export default {
  name: "AdminDrawerMenu",
  mixins: [breakPoints],
  data: function () {
    return {}
  },
  computed: {
    isMiniVariant() {
      return this.$refs.navigationDrawerRef.isMiniVariant;
    }
  },
  methods: {
    miniVariantUpdated(cond) {
      this.$root.drawerMenuMiniVariant = cond;
    }
  },
  mounted() {
    this.$watch('isMiniVariant', (val) => {
      this.$nextTick(() => this.miniVariantUpdated(val))
    }, { immediate: true });
  }
}
</script>

<style scoped>

</style>
