<template>
    <v-navigation-drawer
        class="customer-drawer-menu drawer-menu"
        dark
        :mini-variant="lgAndDown"
        :expand-on-hover="smAndUp"
        mobile-breakpoint="0"
        ref="navigationDrawerRef"
    >
        <v-list>
            <v-list-item
                link
                :to="{name: 'dashboard'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-home</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Home</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
                link
                :to="{name: 'dashboard.account'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-account-box</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>My account</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
                link
                :to="{name: 'dashboard.transactions'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-cash-multiple</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>My Transactions</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
                link
                href="/offers"
            >
                <v-list-item-icon>
                    <v-icon>mdi-cash-refund</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Go Back To Offers</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
                link
                :to="{name: 'dashboard.favorite-offers'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-hand-heart</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Favorite</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
                link
                :to="{name: 'dashboard.fast-link'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-link-box-variant</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Linked Accounts</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <v-list-item
            link
            :to="{name: 'dashboard.reviews'}"
        >
            <v-list-item-icon>
                <v-icon>mdi-eye</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
                <v-list-item-title>Reviews</v-list-item-title>
            </v-list-item-content>
        </v-list-item>

        <template v-slot:append>
            <!--<div class="pa-2">
                <v-btn block>Logout</v-btn>
            </div>-->
        </template>
    </v-navigation-drawer>

</template>

<script>
import breakPoints from "../mixins/breakPoints";

export default {
    name: "customer-drawer-menu",
    mixins: [breakPoints],
    data: function () {
        return {}
    },
    computed: {
        isMiniVariant() {
            return this.$refs.navigationDrawerRef.isMiniVariant;
        }
    },
    methods: {
        miniVariantUpdated(cond) {
            this.$root.drawerMenuMiniVariant = cond;
        }
    },
    mounted() {
        this.$watch('isMiniVariant', (val) => {
            this.$nextTick(() => this.miniVariantUpdated(val))
        }, {immediate: true});
    }
}
</script>
