<template>
    <v-card
            class="customer-offer-card offer-card elevation-4"
            style="position: relative"
    >
        <div>
            <v-img
                    aspect-ratio="1"
                    class="white--text align-end"
                    :src="offer.image_url"
                    lazy-src="/images/noimg.jpg"
            >
                <v-card-title class="text-subtitle-2">{{ offer.title }}</v-card-title>
            </v-img>
            
            <v-card-subtitle class="pb-0">{{ offer.beginning_at }}</v-card-subtitle>
            
            <v-card-text class="text--primary " style="margin-bottom: 40px">
                <div>{{ offer.terms }}</div>
            </v-card-text>
            <v-card-actions style="height: auto; position: absolute; bottom: 0; right: 0">
                <v-btn @click="favoriteOffer(offer.id)" icon :color="offer.is_favorite ? 'pink' : 'default'">
                    <v-icon>mdi-heart</v-icon>
                </v-btn>
            </v-card-actions>
        </div>
    </v-card>
</template>

<script>
  export default {
    name: "CustomerOfferCard",
    props: {
      offer: {
        type: Object,
        required: true
      }
    },
    methods: {
      favoriteOffer() {
        this.$emit('favorite')
      }
    }
  }
</script>

<style scoped>

</style>