<template>
    <v-navigation-drawer
      class="partner-drawer-menu drawer-menu"
      dark
      :mini-variant="mdAndDown"
      :expand-on-hover="smAndUp"
      mobile-breakpoint="0"
      ref="navigationDrawerRef"
    >
        <v-list>
            <v-list-item
              link
              :to="{name: 'dashboard'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-home</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Home</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
              link
              :to="{name: 'dashboard.transactions'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-cash-multiple</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>My Transactions</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
              link
              :to="{name: 'dashboard.offers'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-cash-refund</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Offers</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
              link
              :to="{name: 'dashboard.reviews'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-eye</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Reviews</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
              link
              :to="{name: 'dashboard.settings'}"
            >
                <v-list-item-icon>
                    <v-icon>mdi-account-settings</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Settings</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>

        <template v-slot:append>
            <!--<div class="pa-2">
                <v-btn block>Logout</v-btn>
            </div>-->
        </template>
    </v-navigation-drawer>

</template>

<script>
import breakPoints from "../mixins/breakPoints";
export default {
  name: "partner-drawer-menu",
  mixins: [breakPoints],
  data: function () {
    return {}
  },
  computed: {
    isMiniVariant() {
      return this.$refs.navigationDrawerRef.isMiniVariant;
    }
  },
  methods: {
    miniVariantUpdated(cond) {
      this.$root.drawerMenuMiniVariant = cond;
    }
  },
  mounted() {
    this.$watch('isMiniVariant', (val) => {
      this.$nextTick(() => this.miniVariantUpdated(val))
    }, { immediate: true });
  }
}
</script>
