<template>
    <v-card
        class="partner-offer-card offer-card elevation-4"
        style="position: relative"
    >
            <v-img
                aspect-ratio="1"
                class="white--text align-end"
                :src="offer.image_url"
                lazy-src="/images/noimg.jpg"
            >
                <v-app-bar flat color="rgba(0, 0, 0, 0)" style="background: rgb(0 0 0 / 27%);">
                    <v-toolbar-title class="title white--text pl-0" >
                        {{ offer.title }}
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn fab dark small color="primary" :to="`/dashboard/offers/${offer.id}`">
                        <v-icon dark>
                            mdi-pencil
                        </v-icon>
                    </v-btn>
                </v-app-bar>
            </v-img>

            <v-card-subtitle class="pb-0">Offer Date: {{ offer.beginning_at }} to {{ offer.ending_at }}</v-card-subtitle>
	    	<v-card-subtitle class="pb-0">Cashback Rate: {{ offer.percent }}%</v-card-subtitle>

            <v-card-text class="text--primary " style="margin-bottom: 40px">
                <div>{{ offer.terms }}</div>
            </v-card-text>
    </v-card>
</template>

<script>
  export default {
    name: "PartnerOfferCard",
    props: {
      offer: {
        type: Object,
        required: true
      }
    },
  }
</script>
