<template>
    <div class="tm-page uk-flex-1">
        <hero :loggedIn="loggedIn"/>
        <advantages/>
        <categories :items="categories"/>
        <steve-jobs />
        <how-it-works />
        <about :loggedIn="loggedIn"/>
        <security />
        <partners />
        <cta :loggedIn="loggedIn" />
        <testimonials />
        <faq />
        <luxury-businesses />
    </div>
</template>

<script>
import Hero from '@/components/pages/home/Hero';
import Advantages from "@/components/pages/home/Advantages";
import About from "@/components/pages/home/About";
import SteveJobs from "@/components/pages/home/SteveJobs";
import HowItWorks from "@/components/pages/home/HowItWorks";
import Categories from "@/components/pages/home/Categories";
import Security from "@/components/pages/home/Security";
import Partners from "@/components/pages/home/Partners";
import Cta from "@/components/pages/home/Cta";
import Testimonials from "@/components/pages/home/Testimonials";
import Faq from "@/components/pages/home/Faq";
import LuxuryBusinesses from "@/components/pages/home/LuxuryBusinesses";
import authMixin from '@/mixins/auth';

export default {
  name: "Home",
  components: {
    Hero,
    Advantages,
    About,
    SteveJobs,
    HowItWorks,
    Categories,
    Security,
    Partners,
    Cta,
    Testimonials,
    Faq,
    LuxuryBusinesses
  },
  mixins: [authMixin],
  data: () => ({
    // todo-sml: !!!HARD CODE - temporary solution for showing the client
    categories: [
      { id: 1, title: 'Aviation', image: '/images/front/home/categories/categories-aviation.jpg', slug: 'aviation' },
      { id: 2, title: 'Resorts', image: '/images/front/home/categories/categories-resorts.jpg', slug: 'resorts' },
      { id: 3, title: 'Golf', image: '/images/front/home/categories/categories-golf.jpg', slug: 'golf' },
      { id: 4, title: 'Retail', image: '/images/front/home/categories/categories-retail.jpg', slug: 'retail' },
      { id: 5, title: 'Transport', image: '/images/front/home/categories/categories-transport.jpg', slug: 'transport' },
      { id: 6, title: 'Wellness', image: '/images/front/home/categories/categories-wellness.jpg', slug: 'wellness' },
      { id: 7, title: 'Events', image: '/images/front/home/categories/categories-events.jpg', slug: 'events' },
      { id: 8, title: 'SuperYachts', image: '/images/front/home/categories/categories-super-yachts.jpg', slug: 'super_yachts' },
    ]
  })
}
</script>
