<template>
    <div v-if="responseData"
         class="tm-page uk-flex-1"
         data-uk-scrollspy="cls:uk-animation-fade">
        <offer-hero :item="offer"
                    :isFavorite="isFavorite"
                    :favorite-is-visible="isGuestOrCustomer"
                    @toggleFavorite="handleToggleFavorite"/>
        <section class="tm-offer__intro uk-section uk-section-default uk-padding-remove-bottom">
            <div class="uk-container">
                <div class="uk-grid-column-small" data-uk-grid>
                    <div class="uk-width-5-6@s">
                        <div class="uk-grid-small" data-uk-grid>
                            <div class="uk-width-1-3@s uk-width-1-2@m">
                                <router-link to="/offers"
                                             class="uk-link-heading uk-text-uppercase">
                                    Back to all offers
                                </router-link>
                            </div>
                           <div class="uk-width-4-5 uk-width-2-3@s uk-width-1-2@m" >
							 	<div class="d-flex flex-column">
								 <div v-html="offer.partner.description_large">

								 </div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</section>
        <section class="tm-offer__business-info uk-section uk-section-large uk-section-default">
            <div class="uk-container">
                <div class="uk-grid-column-small" data-uk-grid>
                    <div class="uk-width-1-2@s">
                        <div class="uk-grid-small" data-uk-grid>
                            <div class="uk-width-5-6@s">
                                <img v-if="offer.partner.contact_image" :data-src="offer.partner.contact_image" alt="" data-uk-img>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                                       text="Business information"/>
                        <h2 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                            class="uk-heading-small uk-margin-small-top">Contact Details</h2>
                        <p data-uk-scrollspy="cls:uk-animation-fade; delay: 300"
                           class="uk-width-medium">{{ offer.partner.description_short }}</p>
                        <dl data-uk-scrollspy="cls:uk-animation-fade; delay: 300"
                            class="uk-description-list uk-margin-large-top">
                            <dt>Website</dt>
                            <dd><external-link :href="offer.partner.site"/>{{ offer.partner.site }}</dd>
                            <dt>Address</dt>
                            <dd><external-link :href="`${offer.partner.address}`" :map="true"/>{{ offer.partner.address }}</dd>
                            <dt>Phone</dt>
                            <dd><external-link :href="`tel:${offer.partner.phone}`"/>{{ offer.partner.phone }}</dd>
                        </dl>
                        <div data-uk-scrollspy="cls:uk-animation-fade; delay: 100"
                             class="tm-offer__social tm-social uk-flex uk-flex-middle uk-margin-medium-top">
                            <a v-if="offer.partner.facebook" class="uk-link-heading uk-text-primary"
                               :href="offer.partner.facebook"
                               data-uk-icon="facebook"></a>
                            <a v-if="offer.partner.instagram"
							   class="uk-link-heading uk-text-primary"
                               :href="offer.partner.instagram"
                               data-uk-icon="instagram"></a>
                            <a v-if="offer.partner.linkedin"
							   class="uk-link-heading uk-text-primary"
                               :href="offer.partner.linkedin"
                               data-uk-icon="linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="uk-section uk-section-muted uk-text-center">
            <div class="uk-container uk-container-xsmall">
                <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                               text="Cashback values and Terms & Conditions"/>
                <h2 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                    class="uk-heading-small uk-margin-small-top">
                    Cashback Rate {{ offer.percent }}%
                </h2>
                <p data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                   class="uk-margin-large-top">
                    {{ offer.terms }}
                </p>
            </div>
        </section>
        <section class="tm-offer__gallery uk-section uk-section-large uk-section-default">
            <div class="uk-position-relative">
                <div class="tm-offer__slider-background-text uk-position-cover"
                     data-uk-parallax="y: -10,10; opacity: 0,0.2; viewport: 0.3">
                    <span class="uk-heading-medium uk-display-block uk-text-primary uk-text-nowrap">
                        {{ sliderBackgroundText }}
                    </span>
                    <span class="uk-heading-medium uk-display-block uk-text-primary uk-text-nowrap">
                        {{ sliderBackgroundText }}
                    </span>
                    <span class="uk-heading-medium uk-display-block uk-text-primary uk-text-nowrap">
                        {{ sliderBackgroundText }}
                    </span>
                </div>
            </div>
            <div class="uk-container">
                <div data-uk-scrollspy="cls:uk-animation-slide-right; delay: 200"
                     class="tm-offer__slider uk-position-relative" data-uk-slider>
                    <ul class="uk-grid uk-grid-small uk-slider-items"
                        data-uk-grid
                        data-uk-lightbox="animation: scale">
                        <li v-for="(image, index) in offer.gallery" :key="index">
                            <a class="uk-inline" :href="image" :data-caption="offer.title">
                                <img class="tm-offer__slider-image uk-width-auto uk-display-block"
                                     :data-src="image"
                                     :alt="offer.title"
                                     data-uk-img>
                            </a>
                        </li>
                    </ul>
                    <div data-uk-scrollspy="cls:uk-animation-fade; delay: 500"
                         class="tm-offer__gallery-nav uk-margin-top">
                        <a class="uk-text-primary" href="#" data-uk-slidenav-previous
                           data-uk-slider-item="previous"></a>
                        <a class="uk-margin-left uk-text-primary" href="#" data-uk-slidenav-next
                           data-uk-slider-item="next"></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="tm-offer__rating uk-section uk-section-default uk-padding-remove-top">
            <div class="uk-container">
                <div class="uk-card uk-card-large uk-card-body uk-background-muted">
                    <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small"
                                   text="Service Rating"/>
                    <h2 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 200"
                        class="uk-heading-small uk-margin-small-top">Customers’ experience</h2>
                    <p data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300">
                        Check what other people think about this service
                    </p>
                    <div data-uk-scrollspy="cls:uk-animation-slide-fade; delay: 300"
                         class="uk-margin-large-top">
                        <span class="uk-h1">
						 <template v-if="reviews.length">
						  {{ avgReviewsRating }} / 5
						 </template>
						 <template v-else>
						  0 reviews
						 </template>
						</span>
                    </div>
                    <div v-if="reviews.length" data-uk-scrollspy="cls:uk-animation-fade; delay: 300"
                         class="tm-offer__rating-total uk-margin-top uk-grid-small" data-uk-grid>
                        <star-rating :mark="avgMark" class="uk-width-medium@s"/>
                        <span class="uk-flex-1">{{ reviews.length}} reviews</span>
                    </div>
                    <div v-if="reviews.length" class="tm-offer__reviews uk-margin-medium-top">
                        <div data-uk-scrollspy="cls:uk-animation-fade; delay: 300"
                             class="tm-offer__review"
                             v-for="review in reviews"
                             :key="review.id">
                            <div data-uk-grid>
                                <div class="uk-width-medium@s">
                                    <div class="tm-offer__rating-container">
                                        <star-rating :mark="Math.floor(review.rating)" class="uk-width-medium@s"/>
                                    </div>
                                    <span class="uk-text-bolder uk-display-block uk-margin-top">{{ review.customer.first_name }} {{ review.customer.last_name }}</span>
                                </div>
                                <div class="uk-flex-1">
                                    <span class="uk-h3 uk-display-block">{{ review.title }}</span>
                                    <p>{{ review.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="false" class="uk-margin-large-top uk-text-center">
                        <button data-uk-scrollspy="cls:uk-animation-fade"
                                class="uk-button uk-button-primary uk-button-large">
                            Show All
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <favorite-dialog ref="favoriteDialog"/>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import OfferHero from "@/components/pages/offers/OfferHero";
import FavoriteDialog from "@/components/offers/FavoriteDialog";
import StarRating from "@/components/form/StarRating";
import authMixin from '@/mixins/auth';
import ExternalLink from "../components/icons/ExternalLink";
import {wrappedOfferReviewsRequest} from '../requests/offers';

export default {
  name: "Offer",
  components: {
      ExternalLink,
    OfferHero,
    FavoriteDialog,
    StarRating,
  },
  mixins: [authMixin],
  props: {
    slug: {
      type: String,
      required: true
    }
  },
  data: () => ({
    responseData: false,
    favoriteDialog: false,
    textBackgroundMaxLength: 120,

	shown_largest_description: false,

    reviews: [

    ]
  }),
  computed: {
    ...mapState({
      user: state => state.auth.authUser,
      offer: state => state.offers.offer,
      favorites: state => state.favorites
    }),
    isFavorite () {
      return this.$store.getters['offers/isFavorite'](this.offer.id);
    },
    isGuestOrCustomer () {
      return this.$store.getters['auth/isGuestOrCustomer'];
    },
    sliderBackgroundText () {
      const repetitions = Math.ceil(this.textBackgroundMaxLength / this.offer.title.length);

      return `${this.offer.title} `.repeat(repetitions);
    },
	avgReviewsRating() {
      let sum = 0;

      this.reviews.forEach((review) => {
        sum += review.rating;
      })

      return this.reviews.length ? sum / this.reviews.length : 0;
	},
	avgMark() {
      return Math.floor(this.avgReviewsRating)
	}
  },
  async mounted () {
    await this.getOfferAction(this.slug);

    if (this.loggedIn) {
      await this.getFavoritesAction();
    }

    this.responseData = true;

    wrappedOfferReviewsRequest(this.offer.id).then((e) => {
      this.reviews = e.data;
	}).finally();

    this.$nextTick(() => {
        this.initFavoriteDialog();
    });
  },
  beforeDestroy () {
    this.destroyFavoriteDialog();
  },
  methods: {
    ...mapActions('offers', {
      getOfferAction: 'getOffer',
      getFavoritesAction: 'getFavorites',
      toggleFavoriteAction: 'toggleFavorite'
    }),
    handleToggleFavorite (id) {
      if (this.loggedIn) {
        this.toggleFavoriteAction(id);
      } else {
        this.favoriteDialog.show();
      }
    },
    initFavoriteDialog () {
      this.favoriteDialog = UIkit.modal(this.$refs.favoriteDialog.$el);
    },
    destroyFavoriteDialog () {
      this.favoriteDialog.hide();
    }
  }
}
</script>

<style lang="scss">
@import '../../sass/overwrites';

.tm-offer {
  &__gallery {
    @include media-desk($sm) {
      padding-bottom: $section-padding-vertical;
    }
  }

  &__slider {
    width: calc(100vw - #{$global-small-gutter});
    @include media-mob($sm) {
      width: calc(100vw - #{$global-gutter});
    }
    @include media-mob($md) {
      width: calc(100vw - #{$global-medium-margin});
    }
    @include media-mob($lg) {
      width: calc(100vw - (100vw - #{$container-max-width}) / 2);
    }

    &-background-text {
      margin-top: -($global-large-margin + $global-small-margin);
      opacity: .2;
      > * {
        margin: 0;
        &:nth-child(1) {
          transform: translateX(-150px);
        }
        &:nth-child(2) {
          transform: translateX(-250px);
        }
        &:nth-child(3) {
          transform: translateX(-350px);
        }
      }
    }

    &-image {
      height: $height-small-height;
      @include media-mob($sm) {
        height: $height-medium-height;
      }
    }
  }

  &__review {
    border-top: $global-border-width solid $form-border;
    padding: $global-medium-margin 0;
    &:last-child {
      border-bottom: $global-border-width solid $form-border;
    }
  }

  &__rating-container {
    @include media-mob($sm) {
      height: 29px;
      display: flex;
      align-items: center;
    }
    @include media-mob($lg) {
      height: 33px;
    }
  }
}
</style>
