<template>
    <div v-show="responseData"
         class="tm-page"
         data-uk-scrollspy="cls:uk-animation-fade">
        <offers-hero/>
        <section class="uk-section uk-section-default uk-flex-1">
            <div class="uk-container">
                <offers-top-bar
                  :categories="categories"
                  :activeCategory="activeCategory"
                  @select="showByCategory"
                  @select-all="showAll"
                  v-model="query"/>
                <div
                  v-if="offers.length && loading"
                  class="tm-offers__cards uk-grid-small uk-margin-large-top uk-child-width-1-2@s uk-child-width-1-3@m"
                  data-uk-height-match="target: > div > .tm-offer-card; row: false"
                  data-uk-grid>
                    <div v-for="offer in offers" :key="offer.id">
                        <offer-card
                          :item="offer"
                          :is-favorite="isFavorite(offer.id)"
                          :favorite-is-visible="isGuestOrCustomer"
                          @toggleFavorite="handleToggleFavorite"
                        />
                    </div>
                </div>
                <div v-else-if="!loading" class="uk-margin-large-top uk-text-center uk-animation-slide-bottom-small">
                    <span data-uk-spinner="ratio: 3" class="uk-text-muted"></span>
                </div>
                <div v-else class="uk-background-muted uk-padding-small uk-margin-medium-top uk-text-center uk-animation-slide-bottom-small">
                    <span class="uk-text-large">No Data Available</span>
                </div>
            </div>
            <favorite-dialog ref="favoriteDialog"/>
        </section>
        <observer v-if="loading"
                  :options="observerOptions"
                  @intersect="intersected"/>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import OffersHero from "@/components/pages/offers/OffersHero";
import OffersTopBar from "@/components/pages/offers/OffersTopBar";
import OfferCard from "@/components/pages/offers/OfferCard";
import FavoriteDialog from "@/components/offers/FavoriteDialog";
import Observer from "@/components/common/Observer";
import authMixin from '@/mixins/auth';

export default {
  name: "Offers",
  components: {
    OffersHero,
    OffersTopBar,
    OfferCard,
    FavoriteDialog,
    Observer
  },
  mixins: [authMixin],
  props: {
    categoryId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    observerOptions: {
      threshold: 0.3
    },
    favoriteDialog: null,
    responseData: false,
    loading: false,
    query: null
  }),
  computed: {
    ...mapState('offers', {
      categories: state => state.categories,
      offers: state => state.offers,
      activeCategory: state => state.activeCategory,
      pagination: state => state.pagination,
      favorites: state => state.favorites
    }),
    canPaginate () {
      const { to, total } = this.pagination;
      return Number(to) < total;
    },
    isGuestOrCustomer () {
      return this.$store.getters['auth/isGuestOrCustomer'];
    }
  },
  watch: {
    canPaginate () {
        this.setStateFieldAction({ field: 'footer', value: !this.canPaginate });
    },
    query () {
      const query = this.query || null;
      this.search(query);
    }
  },
  async mounted () {
    await this.getCategoriesAction()
    if (this.categoryId) {
      this.setOffersFieldAction({ field: 'activeCategory', value : this.categoryId });
    }
    await this.getOffersAction();

    if (this.loggedIn) {
      await this.getFavoritesAction();
    }
    this.responseData = true;
    this.loading = true;
    this.$nextTick(() => {
        this.initFavoriteDialog();
    });
  },
  beforeDestroy () {
    this.setPaginationAction({ current_page: 1 });
    this.setOffersFieldsAction({
      activeCategory: null,
      offers: [],
      categories: []
    });
    this.setStateFieldAction({ field: 'footer', value: true });
    this.destroyFavoriteDialog();
  },
  methods: {
    ...mapActions({
      setStateFieldAction: 'setStateField',
      getCategoriesAction: 'offers/getCategories',
      getOffersAction: 'offers/getOffers',
      setPaginationAction: 'offers/setPagination',
      setOffersFieldAction: 'offers/setStateField',
      setOffersFieldsAction: 'offers/setStateFields',
      getFavoritesAction: 'offers/getFavorites',
      toggleFavoriteAction: 'offers/toggleFavorite'
    }),
    showAll () {
      if (this.activeCategory) {
        this.getOffersByCategoryId();
      }
    },
    async showByCategory (id) {
      if (!this.isCategoryActive(id)) {
        await this.getOffersByCategoryId(id);
      }
    },
    async getOffersByCategoryId (value = null) {
      this.loading = false;
      this.setPaginationAction({ current_page: 1 })
      this.setOffersFieldAction({ field: 'activeCategory', value });
      await this.getOffersAction();
      this.loading = true;
    },
    isCategoryActive (id) {
      return id === this.activeCategory;
    },
    intersected () {
      this.canPaginate && this.getOffersAction({
        query: this.query,
        increasePage: true
      });
    },
    async search (query) {
      this.loading = false;
      await this.getOffersAction({ query });
      this.loading = true;
    },
    handleToggleFavorite (id) {
      if (this.loggedIn) {
        this.toggleFavoriteAction(id);
      } else {
        this.favoriteDialog.show();
      }
    },
    isFavorite (id) {
      return this.$store.getters["offers/isFavorite"](id);
    },
    initFavoriteDialog () {
      this.favoriteDialog = UIkit.modal(this.$refs.favoriteDialog.$el);
    },
    destroyFavoriteDialog () {
      this.favoriteDialog.$destroy(true);
    }
  }
}
</script>
