<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <h3 class="text-center">Transaction</h3>
            </v-col>
        </v-row>
        <v-row>
            <v-progress-linear
              v-if="state === 'loading'"
              indeterminate
              color="primary"
            ></v-progress-linear>
            <template v-else-if="transaction">
                <v-col cols="12">
                    <ValidationObserver ref="observer" v-slot="{ validate, reset }">
                        <form>
                            <div class="form-item-group">
                                <h5>Customer id</h5>
                                <v-text-field
                                  :value="transaction.customer_id"
                                  disabled
                                ></v-text-field>
                            </div>
                            <div class="form-item-group">
                                <h5>Value</h5>
                                <v-text-field
                                  :value="transaction.value"
                                  prepend-icon="mdi-currency-usd"
                                  disabled
                                ></v-text-field>
                            </div>
                            <div class="form-item-group">
                                <h5>Released at</h5>
                                <v-text-field
                                  :value="transaction.released_at"
                                  disabled
                                ></v-text-field>
                            </div>
                            <div class="form-item-group">
                                <div class="d-flex">
                                    <h5>Status</h5>
                                    <v-chip class="ml-3 mt-n1"
                                            :color="transactionStatusColor" dark>
                                        {{ transaction.status.toUpperCase() }}
                                    </v-chip>
                                </div>
                            </div>
                            <div class="mt-5 form-item-group">
                                <div class="d-flex">
                                    <h5>Type</h5>
                                    <v-chip
                                      class="ml-3 mt-n1"
                                      color="primary"
                                      label
                                      text-color="white"
                                    >
                                        <v-icon left>
                                            mdi-twitter
                                        </v-icon>
                                        {{ transaction.type ? transaction.type.toUpperCase() : 'undefined' }}
                                    </v-chip>
                                </div>
                            </div>
                            <div v-if="isServiceType" class="mt-5 form-item-group">
                                <div class="d-flex">
                                    <div>
                                        <h5>Service completed at</h5>
                                        <v-menu
                                          v-if="serviceCompletedIsEmpty"
                                          ref="serviceCompletedAt"
                                          v-model="serviceCompletedAtMenu"
                                          :close-on-content-click="false"
                                          transition="scale-transition"
                                          offset-y
                                          min-width="290px"
                                        >
                                            <template v-slot:activator="{ on, attrs }">
                                                <ValidationProvider v-slot="{ errors }" name="service_completed_at"
                                                                    :rules="`date`" ref="beginningAt">
                                                    <v-text-field
                                                      v-model="serviceCompletedAt"
                                                      label="Service completed at"
                                                      prepend-icon="mdi-calendar"
                                                      :error-messages="errors"
                                                      readonly
                                                      v-bind="attrs"
                                                      v-on="on"
                                                    ></v-text-field>
                                                </ValidationProvider>
                                            </template>
                                            <v-date-picker v-model="serviceCompletedAt" no-title
                                                           scrollable
                                                           @input="serviceCompletedAtMenu = false">
                                            </v-date-picker>
                                        </v-menu>
                                        <v-alert
                                          :value="!serviceCompletedIsEmpty"
                                          type="success"
                                          border="left"
                                          elevation="2"
                                          colored-border
                                          icon="mdi-checkbox-marked-circle-outline"
                                          transition="scale-transition"
                                        >
                                            Service was completed at: <strong>
                                            {{ formattedServiceCompletedAt }}</strong>.
                                        </v-alert>
                                    </div>
                                    <v-btn class="mt-9 ml-5"
                                           v-if="serviceCompletedAt"
                                           :loading="state === 'serviceCompletedAtProcess'"
                                           color="primary"
                                           @click="serviceComplete">Confirm the provision of the service
                                    </v-btn>
                                </div>
                            </div>
                        </form>
                    </ValidationObserver>
                    <v-alert
                      v-if="isRetailType && transaction.approved_by_partner"
                      class="mt-4"
                      type="success"
                      border="left"
                      elevation="2"
                      colored-border
                      icon="mdi-checkbox-marked-circle-outline"
                      transition="scale-transition"
                      max-width="350"
                    >
                        Transaction approved
                    </v-alert>
                    <div v-if="isRetailType || transaction.can_un_approved" class="mt-8">
                        <v-btn
                          v-if="approvedByPartner && transaction.can_un_approved"
                          class="white--text"
                          color="red"
                          :loading="state === 'approving'"
                          @click="handleUnApprove"
                        >
                            UnApprove
                        </v-btn>
                        <v-btn
                          v-if="isRetailType && !transaction.approved_by_partner"
                          class="white--text"
                          color="green"
                          :loading="state === 'approving'"
                          @click="handleApprove"
                        >
                            Approve
                        </v-btn>
                    </div>
                </v-col>
            </template>
        </v-row>
    </v-container>
</template>

<script>
import {createNamespacedHelpers} from 'vuex';
const {mapActions} = createNamespacedHelpers('partner');
import {extend} from 'vee-validate';
import dayjs from 'dayjs'

extend('date', {
  getMessage: 'Must be date',
  validate: value => {
    return dayjs(value).isValid();
  }
});

export default {
  name: "TransactionShow",
  data() {
    return {
      state: null,
      transaction: null,
      serviceCompletedAtMenu: false,
      serviceCompletedAt: null,
    }
  },
  props: {
    id: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    isServiceType () {
      return this.transaction.type === 'SERVICE';
    },
    isRetailType () {
      return this.transaction.type === 'RETAIL';
    },
    serviceCompletedIsEmpty () {
      return this.transaction.service_completed_at === null;
    },
    transactionStatusColor () {
      return this.isPendingStatus ? 'info' : 'green';
    },
    formattedServiceCompletedAt () {
      return dayjs(this.transaction.service_completed_at)
      .format('D MMM, YYYY')
    },
    isPendingStatus () {
      return this.transaction.status === 'pending';
    },
    approvedByPartner () {
      return this.transaction.approved_by_partner_with_type
    },
    canUnApproved () {
      return this.transaction.can_un_approved && this.transaction
    }
  },
  watch: {
    state () {
      if (this.state === 'serviceCompletedAtDone') {
        this.serviceCompletedAt = null;
      }
    }
  },
  created() {
    this.state = 'loading';
    this.getCustomerTransactionAction(this.id)
    .then((response) => {
      this.transaction = response;
      this.state = 'loaded';
    })
  },
  methods: {
    ...mapActions({
      getCustomerTransactionAction: 'getCustomerTransaction',
      confirmProvisionServiceTransactionAction: 'confirmProvisionServiceTransaction',
      approveTransactionAction: 'approveTransaction',
      unApproveTransactionAction: 'unApproveTransaction',
    }),
    serviceComplete() {
      this.state = 'serviceCompletedAtProcess';
      this.confirmProvisionServiceTransactionAction({
        id: this.id,
        service_completed_at: this.serviceCompletedAt
      })
        .then((response) => {
          if (response) {
            this.transaction = response;
          }
          this.state = 'serviceCompletedAtDone'
      })
    },
    async handleUnApprove() {
      this.state = 'approving';
      this.unApproveTransactionAction(this.id)
        .then((response) => {
          this.transaction = response;
          this.state = 'loaded';
        })
    },
    async handleApprove() {
      this.state = 'approving';
      this.approveTransactionAction(this.id)
        .then((response) => {
          this.transaction = response;
          this.state = 'loaded';
        })
    }
  }
}
</script>
