<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-data-table
                  :headers="headers"
                  :items="categories"
                  sort-by="id"
                  class="elevation-1"
                >
                    <template v-slot:top>
                        <v-toolbar flat>
                            <v-toolbar-title><h2>Categories</h2></v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="500px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                      color="primary"
                                      dark
                                      class="mb-2"
                                      v-bind="attrs"
                                      v-on="on"
                                    >
                                        New Category
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">{{ formTitle }}</span>
                                    </v-card-title>

                                    <v-card-text>
                                        <ValidationObserver ref="observer" v-slot="{ validate, reset }">
                                            <v-container>
                                                <v-row>
                                                    <v-col cols="12" sm="5">
                                                        <ValidationProvider v-slot="{ errors }"
                                                                            name="Title"
                                                                            rules="required|unique">
                                                            <v-text-field
                                                              v-model="editedItem.title"
                                                              :error-messages="errors"
                                                              label="Category title"
                                                              required
                                                            ></v-text-field>
                                                        </ValidationProvider>
                                                    </v-col>
                                                    <v-col cols="12" sm="5">
                                                        <ValidationProvider v-slot="{ errors }"
                                                                            name="Icon"
                                                                            rules="required">
                                                            <v-text-field
                                                              v-model="editedItem.icon"
                                                              :error-messages="errors"
                                                              label="Category icon"
                                                              required
                                                            ></v-text-field>
                                                        </ValidationProvider>
                                                    </v-col>
                                                    <v-col cols="12" sm="2">
                                                        <v-list-item-avatar :color="accentColor" class="mr-2">
                                                            <v-icon dark>{{ editedItem.icon }}</v-icon>
                                                        </v-list-item-avatar>
                                                    </v-col>
                                                </v-row>
                                            </v-container>
                                        </ValidationObserver>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="primary darken-1" text @click="close">
                                            Cancel
                                        </v-btn>
                                        <v-btn color="primary darken-1" text @click="save">
                                            Save
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <v-dialog v-model="dialogDelete" max-width="500px">
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">
                                            Are you sure you want to delete this Category?
                                        </span>
                                    </v-card-title>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                        <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.title="{ item }">
                        <span class="title">{{ item.title }}</span>
                    </template>
                    <template v-slot:item.icon="{ item }">
                        <v-list-item-avatar :color="accentColor" class="mr-2">
                            <v-icon dark>{{ item.icon }}</v-icon>
                        </v-list-item-avatar>
                    </template>
                    <template v-slot:item.created_at="{ item }">
                        {{ formatDate(item.created_at) }}
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-icon small class="mr-2" @click="editItem(item)">
                            mdi-pencil
                        </v-icon>
                        <v-icon small @click="deleteItem(item)">
                            mdi-delete
                        </v-icon>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="primary" @click="initialize">
                            Reset
                        </v-btn>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import {createNamespacedHelpers} from 'vuex';
import {required, integer, between} from 'vee-validate/dist/rules';
import dayjs from "dayjs";
import {extend} from "vee-validate";

extend('required', required)
extend('integer', integer)
extend('between', between)

const {mapState, mapActions} = createNamespacedHelpers('admin');

export default {
  name: "Categories",
  data: () => ({
    headers: [
      {
        text: 'id',
        align: 'start',
        sortable: true,
        value: 'id',
      },
      {text: 'Title', value: 'title'},
      {text: 'Icon', value: 'icon', sortable: false},
      {text: 'Date', value: 'created_at'},
      {text: 'Actions', value: 'actions', sortable: false, align: 'end'},
    ],
    accentColor: 'orange accent-2',
    loading: false,
    dialog: false,
    dialogDelete: false,
    editedIndex: -1,
    editedItem: {
      title: '',
      icon: '',
    },
    defaultItem: {
      title: '',
      icon: '',
    },
  }),
  computed: {
    ...mapState({
      categories: state => state.categories
    }),
    formTitle() {
      return this.editedIndex === -1 ? 'New Category' : 'Edit Category'
    },
    isUniqueCategoryTitle() {
      const { id, title } = this.editedItem;
      return this.editedIndex === -1
        ? this.$store.getters['admin/isUniqueCategoryTitle'](title)
        : this.$store.getters['admin/isUniqueCategoryTitleExceptId'](id, title)
    }
  },
  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },
  created() {
    this.initialize();
    const isUnique = () => ({ valid: this.isUniqueCategoryTitle});
    extend('unique', {
      validate: isUnique,
      message: 'Field must by unique!'
    });
  },
  methods: {
    ...mapActions({
      getCategoriesAction: 'getCategories',
      createCategoryAction: 'createCategory',
      updateCategoryAction: 'updateCategory',
      deleteCategoryAction: 'deleteCategory'
    }),
    async initialize() {
      this.loading = true;
      await this.getCategoriesAction();
      this.loading = false;
    },
    formatDate(value) {
      return dayjs(value).format('D MMMM HH:mm');
    },
    editItem(item) {
      this.editedIndex = this.categories.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem(item) {
      this.editedIndex = this.categories.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm() {
      const {id} = this.editedItem;
      this.deleteCategoryAction(id)
      .then(() => this.initialize());
      this.closeDelete()
    },

    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    async save() {
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        if (this.editedIndex > -1) {
          const {id, title, icon} = this.editedItem;
          this.updateCategoryAction({id, params: {title, icon}})
          .then(() => this.initialize());
        } else {
          this.createCategoryAction(this.editedItem)
          .then(() => this.initialize());
        }
        this.$refs.observer.reset();
        this.close();
      }
    }
  }
}
</script>

