<template>
    <v-container>
        <v-data-table
          :headers="headers"
          :items="items"
          :options.sync="meta"
          :server-items-length="meta.total"
          :loading="loading"
          class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title><h2>Customers</h2></v-toolbar-title>
                </v-toolbar>
            </template>
        </v-data-table>
    </v-container>

</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapState} = createNamespacedHelpers('admin');

  export default {
    name: "Customers",
    data: function () {
      return {
        headers: [
          {
            text: 'id',
            align: 'start',
            sortable: false,
            value: 'id',
          },
          {text: 'First name', value: 'first_name'},
          {text: 'Email', value: 'email'},
        ],
        items: [],
        loading: false,
        meta: {
          page: 1,
          itemsPerPage: 15,
          total: 0
        }
      }
    },
    watch: {
      meta: {
        handler(val, oldVal) {
          if (JSON.stringify(val) !== JSON.stringify(oldVal)) {
            this.getItems();
          }
        },
        deep: true,
      },
    },
    computed: {
      ...mapState({
        customers: state => state.customers && state.customers.data,
        customersMeta: state => state.customers && state.customers.meta
      })
    },
    methods: {
      getItems() {
        this.loading = true;
        this.$store.dispatch('admin/getCustomers', {
          per_page: this.meta.itemsPerPage,
          page: this.meta.page
        }).then(() => {
          this.meta.page = parseInt(this.customersMeta.current_page);
          this.meta.itemsPerPage = this.meta.itemsPerPage === -1 ? -1 : parseInt(this.customersMeta.per_page);
          this.meta.total = parseInt(this.customersMeta.total);
          this.items = this.customers;
        }).catch(() => {
          this.items = [];
          alert('Error while loading customers')
        }).finally(() => {
          this.loading = false;
        });
      }
    },
    mounted() {

    }
  }
</script>

<style scoped>

</style>
