<template>
    <v-container fluid>
        <div class="container d-flex">
            <h1 class="base-heading-font">Welcome to Admin Dashboard</h1>
        </div>
    </v-container>
</template>

<script>
    export default {
        name: "Home",
        data: function () {
            return {}
        },
    }
</script>

<style lang="scss" scoped>
    .container {
        height: 100%;
        h1 {
            margin: auto;
        }
    }
</style>
