<template>
    <v-container>
	 <v-dialog v-model="dialog" max-width="500px">
	  <v-card>
	   <v-card-title>
		<span class="headline">Change Balance for {{ editedBalance.name }}</span>
	   </v-card-title>

	   <v-card-text>
		<ValidationObserver ref="observer" v-slot="{ validate, reset }">
		 <v-container>
		  <v-row>
		   <v-col cols="12" sm="5">
			<ValidationProvider v-slot="{ errors }"
								name="Balance"
								rules="required|decimal">
			 <v-text-field
			   v-model="editedBalance.balance"
			   :error-messages="errors"
			   label="Balance"
			   append-icon="mdi-attach_money"
			   required
			 ></v-text-field>
			</ValidationProvider>
		   </v-col>
		  </v-row>
		 </v-container>
		</ValidationObserver>
	   </v-card-text>

	   <v-card-actions>
		<v-spacer></v-spacer>
		<v-btn color="primary darken-1" text @click="dialog = false">
		 Cancel
		</v-btn>
		<v-btn color="primary darken-1" text :loading="updatingBalance" @click="updateBalance">
		 Save
		</v-btn>
	   </v-card-actions>
	  </v-card>
	 </v-dialog>
        <v-data-table
          :headers="headers"
          :items="items"
          :options.sync="meta"
          :server-items-length="meta.total"
          :loading="loading"
          class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title><h2>Partners</h2></v-toolbar-title>
                </v-toolbar>
            </template>
		 <template v-slot:item.balance="{ item }">
		  ${{item.balance}}
		 </template>
		 <template v-slot:item.actions="{ item }">

		  <v-btn
			color="primary"
			dark
			class="mb-2"
			@click="() => { dialog = true; editedBalance = Object.assign({}, item) }"
		  >
		   Change balance
		  </v-btn>

		 </template>
        </v-data-table>
    </v-container>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapState} = createNamespacedHelpers('admin');

  import {required, integer, between} from 'vee-validate/dist/rules';

  import {extend} from "vee-validate";

  extend('required', required)
  extend('integer', integer)
  extend('between', between)

  extend("decimal", {
    validate: (value, { decimals = '*', separator = '.' } = {}) => {
      if (value === null || value === undefined || value === '') {
        return {
          valid: false
        };
      }
      if (Number(decimals) === 0) {
        return {
          valid: /^-?\d*$/.test(value),
        };
      }
      const regexPart = decimals === '*' ? '+' : `{1,${decimals}}`;
      const regex = new RegExp(`^[-+]?\\d*(\\${separator}\\d${regexPart})?([eE]{1}[-]?\\d+)?$`);

      return {
        valid: regex.test(value),
      };
    },
    message: 'The {_field_} field must contain only decimal values'
  })



  export default {
    name: "Partners",
    data: function () {
      return {
        headers: [
          {
            text: 'id',
            align: 'start',
            sortable: false,
            value: 'id',
          },
          {text: 'User name', value: 'name'},
          {text: 'Company name', value: 'company_name'},
          {text: 'Merchant name', value: 'merchant_name'},
          {text: 'Balance', value: 'balance'},
          {text: 'Actions', value: 'actions'},
        ],
        items: [],
        editedBalance: {
          name: null,
		  balance: null
		},
        updatingBalance: false,
        dialog: false,
        loading: false,
        meta: {
          page: 1,
          itemsPerPage: 15,
          total: 0
        }
      }
    },
    watch: {
      meta: {
        handler(val, oldVal) {
          if (JSON.stringify(val) !== JSON.stringify(oldVal)) {
            this.getItems();
          }
        },
        deep: true,
      },
    },
    computed: {
      ...mapState({
        partners: state => state.partners && state.partners.data,
        partnersMeta: state => state.partners && state.partners.meta
      })
    },
    methods: {
      updateBalance() {
        this.updatingBalance = true;
		const item = this.items.find(i => i.id === this.editedBalance.id);
        this.$store.dispatch('admin/updateBalancePartnerRequest', {id: this.editedBalance.id, value: this.editedBalance.balance}).then((asd) => {
          if (asd && asd.success) {
            item.balance = this.editedBalance.balance;
		  } else {
            throw Error('sad');
		  }

		}).catch(() => {
          alert('Error while updating balance partners')
		}).finally(() => {
          this.updatingBalance = false;
          this.dialog = false;
          this.editedBalance = {
            name: null,
            balance: null
          };
		})
	  },
      getItems() {
        this.loading = true;
        this.$store.dispatch('admin/getPartners', {
          per_page: this.meta.itemsPerPage,
          page: this.meta.page
        }).then(() => {
          this.meta.page = parseInt(this.partnersMeta.current_page);
          this.meta.itemsPerPage = this.meta.itemsPerPage === -1 ? -1 : parseInt(this.partnersMeta.per_page);
          this.meta.total = parseInt(this.partnersMeta.total);
          this.items = this.partners;
        }).catch(() => {
          this.items = [];
          alert('Error while loading partners')
        }).finally(() => {
          this.loading = false;
        });
      }
    },
    mounted() {

    }
  }
</script>

<style scoped>

</style>
