<template>
    <v-container>
        <v-data-table
          :headers="headers"
          :items="items"
          :options.sync="meta"
          :server-items-length="meta.total"
          :loading="loading"
          class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title><h2>Transactions</h2></v-toolbar-title>
                </v-toolbar>
            </template>
            <template v-slot:item.created_at="{ item }">
                {{formatDate(item.created_at)}}
            </template>
            <template v-slot:item.value="{ item }">
                ${{item.value}}
            </template>
        </v-data-table>
    </v-container>

</template>

<script>
  import {createNamespacedHelpers} from 'vuex';
  import dayjs from "dayjs";

  const {mapState} = createNamespacedHelpers('admin');

  export default {
    name: "Transactions",
    data: function () {
      return {
        headers: [
          {
            text: 'id',
            align: 'start',
            sortable: false,
            value: 'id',
          },
          {text: 'Customer name', value: 'customer.first_name'},
          {text: 'Company name', value: 'partner.company_name'},
          {text: 'Value', value: 'value'},
          {text: 'Date', value: 'created_at'},
        ],
        items: [],
        loading: false,
        meta: {
          page: 1,
          itemsPerPage: 15,
          total: 0
        }
      }
    },
    watch: {
      meta: {
        handler(val, oldVal) {
          if (JSON.stringify(val) !== JSON.stringify(oldVal)) {
            this.getItems();
          }
        },
        deep: true,
      },
    },
    computed: {
      ...mapState({
        transactions: state => state.transactions && state.transactions.data,
        transactionsMeta: state => state.transactions && state.transactions.meta
      })
    },
    methods: {
      getItems() {
        this.loading = true;
        this.$store.dispatch('admin/getCustomerTransactions', {
          per_page: this.meta.itemsPerPage,
          page: this.meta.page
        }).then(() => {
          this.meta.page = parseInt(this.transactionsMeta.current_page);
          this.meta.itemsPerPage = this.meta.itemsPerPage === -1 ? -1 : parseInt(this.transactionsMeta.per_page);
          this.meta.total = parseInt(this.transactionsMeta.total);
          this.items = this.transactions;
        }).catch(() => {
          this.items = [];
          alert('Error while loading transactions')
        }).finally(() => {
          this.loading = false;
        });
      },
        formatDate(value) {
            return dayjs(value).format('D MMMM HH:mm');
        }
    },
    mounted() {

    }
  }
</script>

<style scoped>

</style>
