<template>
    <div class="tm-page tm-login uk-flex-1">
        <div class="uk-section uk-section-large uk-position-relative uk-background-cover uk-flex-1 uk-flex uk-flex-middle uk-height-1-1">
            <div class="uk-overlay uk-overlay-primary uk-position-cover"></div>
            <div class="uk-width-1-1 uk-container uk-position-relative uk-position-z-index uk-flex uk-flex-center">
                <div class="uk-width-xlarge@s uk-width-2xlarge@l">
                    <div class="uk-light uk-margin-medium-bottom">
                        <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                                       text="Error 404"/>
                        <h1 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 200"
                            class="uk-heading-small uk-margin-remove-top">
                            Page not found!
                        </h1>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: "Notfound"
}
</script>

<style lang="scss">
.tm-login {
  .uk-section.uk-background-cover {
    background-image: url("/images/front/errors/notfound-bg.jpg");
  }
}
</style>
