<template>
    <div id="favoriteDialog" class="tm-dialog uk-flex-top" data-uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical">
            <button class="uk-modal-close-default" type="button" data-uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Join Our Community</h2>
            </div>
            <div class="uk-modal-body">
                <p>Please log in or create an account to add offers to favourites</p>
            </div>
            <div class="uk-modal-footer">
                <button type="button"
                        class="uk-button uk-button-primary uk-modal-close"
                        @click="setRedirectRoute('/login')">
                    Sign In
                </button>
                <button class="uk-button uk-button-default uk-modal-close" type="button">
                    Sign Up
                </button>
                <div class="uk-box-shadow-medium" data-uk-dropdown="pos: bottom-justify">
                    <ul class="uk-nav uk-dropdown-nav uk-text-center">
                        <li>
                            <a class="uk-modal-close"
                               @click="setRedirectRoute('/register/customer')">
                                Customer
                            </a>
                        </li>
                        <li>
                            <a class="uk-modal-close"
                               @click="setRedirectRoute('/register/partner')">
                                Partner
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "FavoriteDialog",
  data: () => ({
    redirectRoute: null
  }),
  mounted () {
    this.$nextTick(() => {
      this.initFavoriteDialog();
    })
  },
  methods: {
    initFavoriteDialog () {
      UIkit.util.on('#favoriteDialog', 'hidden', ({ target }) => {
        if (target.id === 'favoriteDialog' && this.redirectRoute) {
          this.$router.push(this.redirectRoute);
          this.redirectRoute = null;
        }
      });
    },
    setRedirectRoute (route) {
      this.redirectRoute = route;
    }
  }
}
</script>
<style lang="scss">
@import '../../../sass/modules/dialog';
</style>
