<template>
    <div class="tm-signature">
        <span class="tm-signature__divider uk-display-inline-block"></span>
        <span class="uk-h4 uk-display-block uk-margin-remove">{{ text }}</span>
    </div>
</template>

<script>
export default {
  name: "Signature",
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-signature {
  &__divider {
    width: $global-gutter;
    height: 1px;
    background: $global-muted-color;
  }
}
</style>
