<template>
    <span class="tm-title-caption uk-text-muted uk-text-uppercase uk-display-block">
        <strong>{{ text }}</strong>
    </span>
</template>

<script>
export default {
  name: "TitleCaption",
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-title-caption {
  font-size: $global-font-size;
}
</style>
