<template>
    <footer v-if="footer" class="tm-footer uk-section uk-section-small uk-background-secondary uk-light"
            data-uk-scrollspy="cls:uk-animation-fade; delay: 200">
        <div class="uk-container">
            <div class="tm-footer__content" data-uk-grid>
                <div>
                    <logo/>
                </div>
                <div>
                    <div class="tm-footer__social uk-flex uk-flex-middle">
                        <a class="uk-link-muted" href="https://facebook.com"
                           data-uk-icon="icon: facebook; ratio: 1.3"></a>
                        <a class="uk-link-muted" href="https://linkedin.com"
                           data-uk-icon="icon: linkedin; ratio: 1.3"></a>
                        <a class="uk-link-muted" href="https://instagram.com"
                           data-uk-icon="icon: instagram; ratio: 1.3"></a>
                        <a class="uk-link-muted" href="https://twitter.com"
                           data-uk-icon="icon: twitter; ratio: 1.3"></a>
                    </div>
                </div>
                <div>
                    <span>&copy; {{ 2020 }} Caléna - Luxury Loyalty</span>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import { mapState } from 'vuex';
import Logo from "@/components/common/Logo";

export default {
  name: "Footer",
  components: {
    Logo
  },
  computed: {
    ...mapState({
      footer: state => state.footer
    })
  }
}
</script>

<style lang="scss">
@import '../../../sass/overwrites';

.tm-footer {
  margin-top: auto;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-mob($md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__social {
    a {
      &:not(:first-child) {
        margin-left: $global-medium-margin;
      }
    }
  }
}
</style>
