<template>
    <header class="tm-header uk-position-top">
        <div data-uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;">
            <div class="uk-navbar-container uk-navbar-transparent">
                <div class="uk-container">
                    <nav class="uk-light" data-uk-navbar>
                        <div class="uk-navbar-left">
                            <logo class="uk-navbar-item uk-logo"/>
                        </div>
<!--                        <div class="uk-navbar-center">-->
<!--                            <ul class="uk-navbar-nav uk-visible@s">-->
<!--                                <li><a href="#">About</a></li>-->
<!--                                <li><a href="#">How it works</a></li>-->
<!--                                <li><a href="#">Contact us</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
                        <div class="uk-navbar-right">
                            <main-menu />
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import Logo from "@/components/common/Logo";
import MainMenu from "@/components/common/MainMenu";

export default {
  name: "Header",
  components: {
    Logo,
    MainMenu
  }
}
</script>
