<template>
    <div ref="menu" class="tm-offcanvas-menu" id="off-canvas-menu" data-uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical"
                data-uk-scrollspy="cls:uk-animation-slide-left-medium">
                <off-canvas-item to="/" title="Home" @click="onClose"/>
                <off-canvas-item to="/offers" title="Offers" @click="onClose"/>
                <off-canvas-item to="#" title="Contact us" @click="onClose"/>
                <template v-if="loggedIn">
                    <li class="uk-nav-divider uk-margin-medium"></li>
                    <li>
                        <a href="/dashboard">
                            <span class="uk-h3">Dashboard</span>
                        </a>
                    </li>
                    <li class="uk-nav-divider uk-margin-medium"></li>
                    <li class="uk-nav-header">Exit</li>
                    <li @click="onClose">
                        <a href="#" @click.prevent="logout">
                            <span class="uk-h3">Logout</span>
                        </a>
                    </li>
                </template>
                <template v-else>
                    <li class="uk-nav-divider uk-margin-medium"></li>
                    <li class="uk-nav-header">Sign In</li>
                    <off-canvas-item to="/login" title="Login" @click="onClose"/>
                    <li class="uk-nav-divider uk-margin-medium"></li>
                    <li class="uk-nav-header">Sign Up</li>
                    <off-canvas-item to="/register/customer" title="Customer" @click="onClose"/>
                    <off-canvas-item to="/register/partner" title="Partner" @click="onClose"/>
                </template>
            </ul>
        </div>
    </div>
</template>

<script>
import OffCanvasItem from "@/components/offcanvas/OffCanvasItem";
import { wrappedLogoutRequest } from '@/requests/auth';
import authMixin from '@/mixins/auth';

export default {
  name: "OffCanvasMenu",
  components: {
    OffCanvasItem
  },
  mixins: [authMixin],
  data: () => ({
    menuEl: null
  }),
  mounted () {
    this.menuEl = this.$refs.menu;
  },
  methods: {
    async logout () {
      this.$store.dispatch('auth/logout').then(() => {
        this.$router.push({ name: 'home' }).finally(() => {
          this.onClose();
        }).catch(()=>{});
      });
    },
    onClose () {
      UIkit.offcanvas(this.menuEl).hide();
    }
  }
}
</script>
