<template>
    <div class="uk-background-cover uk-position-relative uk-height-1-1" :data-src="src" data-uk-img>
        <div class="uk-text-muted uk-position-center uk-animation-fade uk-position-z-index" v-show="loading"
             data-uk-spinner="ratio: 2">
        </div>
        <div class="uk-position-cover uk-background-muted uk-animation-fade" v-show="loading"></div>
    </div>
</template>

<script>
import { loadImage } from "@/helpers";

export default {
  name: "UkImage",
  props: {
    src: {
      type: String,
      required: true
    }
  },
  data: () => ({
    loading: true,
    loadImage
  }),
  async created () {
    setTimeout(() => {
      this.loading = false;
	}, 5000);
    await loadImage(this.src)
    this.loading = false;
  }
}
</script>
