<template>
    <a href="/" class="tm-logo">
        <img src="/images/logo/calena-logo.png" alt="Caléna" data-uk-img>
    </a>
</template>

<script>
export default {
  name: "Logo",
}
</script>

<style lang="scss">
@import '../../../sass/overwrites';

.tm-logo {
  img {
    width: 106px;
    @include media-mob($sm) {
      width: 147px;
    }
  }
}
</style>
