<template>
    <div data-uk-toggle="target: #off-canvas-menu"
         class="tm-menu uk-navbar-item uk-flex uk-flex-middle uk-navbar-toggle">
        <span class="uk-h5 uk-margin-remove-vertical uk-margin-right">Menu</span>
        <div class="tm-menu__hamburger uk-flex uk-flex-column uk-flex-center">
            <div></div>
        </div>
    </div>
</template>

<script>
export default {
  name: "MainMenu"
}
</script>

<style lang="scss">
@import '../../../sass/overwrites';

$hamburger-width: 45px;
$hamburger-line-height: 2px;
$hamburger-background: $global-inverse-color;
$hamburger-margin: $global-small-gutter;

.tm-menu {
  &__hamburger {
    height: $hamburger-margin * 2 + $hamburger-line-height;
    cursor: pointer;

    div {
      width: $hamburger-width;
      height: $hamburger-line-height;
      background-color: $hamburger-background;
      margin-top: -$hamburger-margin * 2;

      &::before, &::after {
        content: '';
        display: block;
        width: $hamburger-width;
        height: $hamburger-line-height;
        background-color: $hamburger-background;
      }

      &::before {
        margin-top: $hamburger-margin;
        margin-bottom: $hamburger-margin - $hamburger-line-height;
      }
    }

  }
}
</style>
