@import "@frontendStyles/variables.scss";

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: $base-heading-font-family, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #000;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Container
//@import '~vuetify/src/styles/settings/variables';
//$container-max-widths: map-deep-merge( ( 'md': map-get($grid-breakpoints, 'md') * 0.9375, 'lg': map-get($grid-breakpoints, 'md') * 0.9375, 'xl': map-get($grid-breakpoints, 'xl') * 0.9375 ), $container-max-widths );
