.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

// Container

@import '~vuetify/src/styles/settings/variables';

@media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    .container {
        max-width: map-get($grid-breakpoints, 'md') * 0.9375 !important;
    }
}
@media screen and (min-width: 1500px) {
    .container {
        max-width: map-get($grid-breakpoints, 'lg') * 0.9375 !important;
    }
}
