// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "text_typography";
// Variables
@import 'variables';
@import 'various';
@import 'form';
@import 'assets/customer/customer-offers-page';
@import 'assets/customer/customer-partners-page';
@import 'assets/customer/customer-home-page.scss';
@import 'assets/drawer-menu';
@import 'assets/components';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';



.container--fluid {
  max-width: 100% !important;
}
a:hover {
  text-decoration: none;
}

.base-container {
  padding-right: 60px;
}

.base-container .container:first-child {
  max-width: 100% !important;
}

.v-application {
  font-family: $global-font-family !important;
}




