<template>
    <div class="tm-offers-top-bar uk-grid-small uk-flex-bottom uk-child-width-1-3@s" data-uk-grid>
        <div class="tm-offers-top-bar__categories">
            <title-caption
              text="Categories"
              data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"/>
            <div data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"
                 class="tm-offers-top-bar__categories-nav uk-position-z-index uk-inline uk-margin-top">
                <div class="tm-offers-top-bar__categories-control uk-flex uk-flex-middle">
                    <span class="uk-text-bolder uk-text-large uk-display-block">
                        {{ dropdownTitle }}
                    </span>
                    <i class="uk-text-primary" data-uk-icon="icon: chevron-right; ratio: 1.2"></i>
                </div>

                <div ref="offersDropdown"
                     class="tm-offers-top-bar__dropdown uk-box-shadow-medium"
                     data-uk-dropdown="mode: click; delay-hide: 300">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li :class="{'uk-active': !activeCategory }">
                            <a href="#"
                               class="uk-text-emphasis"
                               :class="{'uk-text-primary uk-text-bolder': !activeCategory }"
                               @click.prevent="selectAll">
                                All
                            </a>
                        </li>
                        <li v-for="category in categories"
                            :key="category.id"
                            :class="{'uk-active': activeCategory === category.id }">
                            <a href="#"
                               class="uk-text-emphasis"
                               :class="{'uk-text-primary uk-text-bolder': activeCategory === category.id }"
                               @click.prevent="select(category.id)">
                                {{ category.title }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div></div>
        <div class="tm-offers-top-bar__search">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" data-uk-icon="search"></span>
                <a v-if="query"
                   class="uk-form-icon uk-form-icon-flip uk-animation-slide-bottom-small"
                   href="#"
                   data-uk-icon="close"
                   @click.prevent="clear"></a>
                <input
                  type="text"
                  class="uk-input"
                  placeholder="Search"
                  v-model="query"
                  @input="search">
            </div>

        </div>
    </div>
</template>

<script>
import TitleCaption from "@/components/common/typography/TitleCaption";
const debounced = _.debounce(fn => fn(), 300);

export default {
  name: "OffersTopBar",
  components: {
    TitleCaption,
  },
  model: {
    prop: 'model',
    event: 'search'
  },
  props: {
    categories: {
      type: Array,
      required: true
    },
    activeCategory: {
      type: Number,
      default: null
    },
    model: {
      type: String,
      default: null
    }
  },
  data: () => ({
    query: '',
    dropdownEl: null
  }),
  computed: {
    dropdownTitle () {
      return this.activeCategory
        ? _.find(this.categories, { id: this.activeCategory }).title
        : 'All';
    }
  },
  mounted () {
    this.dropdownEl = this.$refs.offersDropdown;
  },
  methods: {
    selectAll () {
      this.$emit('select-all');
      this.hideDropdown();
    },
    select (id) {
      this.$emit('select', id);
      this.hideDropdown();
    },
    clear () {
      this.query = '';
      this.$emit('search', null);
    },
    search () {
      debounced(this.emitted);
    },
    emitted () {
      this.$emit('search', this.query);
    },
    hideDropdown () {
      UIkit.dropdown(this.dropdownEl).hide();
    }
  }
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';

.tm-offers-top-bar {
  &__categories {
    &-nav {
      z-index: 2;
    }
    &-control {
      cursor: pointer;
      span {
        line-height: 1;
        margin-right: $global-small-gutter;
      }
      i {
        transition: transform $transition-duration ease-in-out;
      }
      &.uk-open {
        i {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__dropdown {
    background: #ECEAE8;
  }
}
</style>
