<template>
    <div class="tm-offer-card uk-card uk-card-small uk-card-default uk-transition-toggle uk-flex uk-flex-column"
         tabindex="0">
        <div class="uk-card-media-top">
            <uk-image class="tm-offer-card__image"
                      :src="item.image_url"/>
        </div>
        <div class="uk-card-body uk-position-top">
            <div class="uk-flex uk-flex-right uk-flex-middle">
                <div class="tm-offer-card__footer-left-block uk-flex">
                    <a class="uk-icon-link uk-text-primary"
                       data-uk-icon="icon: forward; ratio: 1.2"
                    ></a>
                    <a v-if="favoriteIsVisible"
                       href="#"
                       :class="{'tm-active': isFavorite}"
                       class="tm-favorite uk-margin-left uk-icon-link uk-text-primary"
                       data-uk-icon="icon: heart; ratio: 1.2"
                       @click.prevent="toggleFavorite"></a>
                </div>
            </div>
        </div>
        <div class="uk-card-body uk-position-relative">
            <div class="tm-offer-card__logo uk-border-circle">
                <div class="uk-width-1-1 uk-height-1-1 uk-position-relative">
                    <uk-image v-if="item.partner.logo" :src="item.partner.logo"/>
                    <uk-image v-else src="/images/logo/logo-placehloder.jpg"/>
                </div>
            </div>
            <span class="uk-text-muted uk-display-block">{{ item.category.title }}</span>
            <h2 class="tm-offer-card__title uk-h2 uk-margin-small-bottom">{{ item.title }}</h2>
            <p class="uk-margin-small-top">{{ item.partner.description_short }}</p>
            <div class="">
                <span>{{ item.partner.address }}</span>
            </div>
        </div>
        <hr class="uk-margin-remove-bottom uk-margin-auto-top">
        <div class="uk-card-body">
            <div class="tm-offer-card__footer uk-flex uk-flex-between">
                <div class="tm-offer-card__footer-right-block uk-flex uk-flex-middle">
                    <span>{{ item.shares}} shares</span>
                    <span>{{ item.favorites_count }} saved</span>
                </div>
            </div>
        </div>
        <div
          class="uk-transition-fade uk-position-cover tm-beige-background uk-flex uk-flex-column uk-position-z-index">
            <div class="uk-card-body">
                <div class="uk-flex uk-flex-between uk-flex-middle">
                    <span class="uk-text-meta">{{ item.views }} views</span>
                    <div class="tm-offer-card__footer-left-block uk-flex">
					 <transition name="fade" mode="out-in">
					  <div class="share-container" v-show="isShareShowing" style="box-shadow: 0 0 10px #0000004d;">
					   <input class="uk-input share-link--input" type="text" placeholder="Input" :value="shareUrl" ref="shareInput" @input.prevent @keyup.prevent @keydown.prevent>
					   <a class="uk-button uk-button-primary uk-width-1-1 uk-margin-auto-top" @click="copyLink(item.id)">
						Copy
					   </a>
					  </div>
					 </transition>
                        <a v-if="!isShareShowing"
						   @click="toggleShare"
                           class="uk-icon-link uk-text-primary"
                           data-uk-icon="icon: forward; ratio: 1.2"
                        ></a>
                        <a v-if="favoriteIsVisible"
                           href="#"
                           :class="{'tm-active': isFavorite}"
                           class="tm-favorite uk-margin-left uk-icon-link uk-text-primary"
                           data-uk-icon="icon: heart; ratio: 1.2"
                           @click.prevent="toggleFavorite"></a>
                    </div>
                </div>
            </div>
            <hr class="uk-margin-remove">
            <div class="uk-card-body ">
                <span class="uk-text-muted uk-display-block">{{ item.category.title }}</span>
                <h2 class="uk-h2 uk-margin-remove-top" style="font-size: 30px">{{ item.title }}</h2>
                <dl class="uk-description-list">
                    <dt>Web</dt>
                    <dd>{{ item.partner.site }}</dd>
                    <dt>Location</dt>
                    <dd>{{ item.partner.address }}</dd>
                    <dt>Phone</dt>
                    <dd>{{ item.partner.phone }}</dd>
                    <dt>Cashback</dt>
                    <dd>Upto {{ item.percent }}%</dd>
                </dl>
            </div>
            <div class="uk-card-body uk-margin-auto-top uk-padding-remove-top">
                <router-link
                  class="tm-offer-card__button uk-button uk-button-large uk-button-primary uk-width-1-1 uk-margin-auto-top"
                  :to="`/offers/${item.slug}`">
                    See Offer
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
import {wrappedOfferAddShareRequest} from '../../../requests/offers';

export default {
  name: "OfferCard",
  props: {
    item: {
      type: Object,
      required: true
    },
    isFavorite: {
      type: Boolean,
      default: false
    },
    favoriteIsVisible: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    accentColor: 'orange accent-2',
    isShareShowing: false,
    shareUrl: ''
  }),
  methods: {
    toggleFavorite () {
      this.$emit('toggleFavorite', this.item.id);
    },
	toggleShare() {
      this.shareUrl = window.location.href;
      this.isShareShowing = !this.isShareShowing;
      this.$refs.shareInput.select()
	},
    copyLink(id){
      this.item.shares++;
      this.$refs.shareInput.select()
      window.document.execCommand("copy");
      this.isShareShowing = false;
      wrappedOfferAddShareRequest(id)
    }
  }
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';
.uk-description-list > dt:nth-child(n+2) {
    margin-top: 12px;
}
.tm-offer-card {
  .uk-card-media-top {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(to bottom, rgba($global-secondary-background, .5) 0%, rgba($global-secondary-background, .2) 70%, rgba($global-secondary-background, 0) 100%);
    }
  }
  &__image {
    height: 240px;
    @include media-mob($lg) {
      height: 260px;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    right: $global-margin;
    width: 54px;
    height: 54px;
    transform: translateY(-50%);
    border: $global-border-width solid #B5996F;
    overflow: hidden;
    z-index: 1;
  }

  &__title {
	margin-top: 10px;
  }

  &__footer {
    &-right-block {
      color: $global-muted-color;
      font-size: $global-small-font-size;

      > * {
        &:not(:first-child) {
          margin-left: $global-small-gutter;
          padding-left: $global-small-gutter;
          border-left: $global-border-width solid $global-border;
        }
      }
    }
  }

  &__button {
    line-height: 42px;
    @include media-mob($sm) {
      line-height: 50px;
    }
    @include media-mob($lg) {
      line-height: 58px;
    }
  }
}
</style>
