<template>
    <section class="tm-offers-hero">
        <div class="tm-page-hero__background uk-section uk-section-xlarge uk-background-cover uk-light uk-position-relative">
            <div class="uk-container uk-position-relative uk-position-z-index">
                <div class="uk-flex uk-flex-center uk-text-center">
                    <h1 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                        class="uk-heading-medium uk-display-block uk-width-medium uk-width-xlarge@s uk-width-2xlarge@l">
                        Luxury has never been so rewarding
                    </h1>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: "OffersHero"
}
</script>

<style lang="scss">
@import '../../../../sass/modules/hero-background';

.tm-offers-hero {
  .tm-page-hero__background {
    background-image: url('/images/front/offers/offers-hero.jpg');
  }
}
</style>
