<template>
    <section
        class="tm-offer-hero uk-section uk-section-xlarge uk-background-cover uk-position-relative">
        <div class="uk-position-cover uk-overflow-hidden">
            <div class="tm-page-hero__background uk-position-cover uk-background-cover uk-position-absolute"
                 :data-src="item.image_url"
                 data-uk-scrollspy="cls: uk-animation-kenburns; repeat: true"
                 data-uk-img></div>
        </div>
        <div class="uk-container uk-light uk-text-center uk-position-relative uk-position-z-index">
            <h1 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                class="uk-heading-medium uk-display-block">
                {{ item.title }}
            </h1>
        </div>
        <div class="tm-offer-hero__bottom-bar uk-position-cover">
            <div class="tm-offer-hero__bottom-bar-container uk-container uk-height-1-1">
                <div class="uk-height-1-1 uk-position-relative">
                    <div class="tm-offer-hero__logo uk-border-circle">
                        <uk-image :src="item.partner.logo"/>
                    </div>
                    <div class="tm-offer-hero__bottom-bar-actions uk-flex uk-flex-column uk-flex-middle">
                        <transition name="fade" mode="out-in">
						 	<div class="share-container" v-show="isShareShowing">
							  <input class="uk-input share-link--input" type="text" placeholder="Input" :value="shareUrl" ref="shareInput" @input.prevent @keyup.prevent @keydown.prevent>
							  <a class="uk-button uk-button-primary uk-width-1-1 uk-margin-auto-top" @click="copyLink(item.id)">
								  Copy
							  </a>
                        	</div>
						</transition>
                        <a v-if="!isShareShowing" class="uk-icon-link uk-text-primary" data-uk-icon="icon: forward; ratio: 1.2" @click="toggleShowing" style="z-index: 150"> </a>


                        <a v-if="favoriteIsVisible"
                           href="#"
                           :class="{'tm-active': isFavorite}"
                           class="tm-favorite uk-icon-link uk-text-primary"
                           data-uk-icon="icon: heart; ratio: 1.2"
                           @click.prevent="toggleFavorite"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import UkImage from "@/components/common/image/UkImage";
import {loadImage} from "@/helpers";
import {wrappedOfferAddShareRequest} from '../../../requests/offers';

export default {
    name: "OfferHero",
    props: {
        item: {
            type: Object,
            required: true
        },
        isFavorite: {
            type: Boolean,
            default: false
        },
        favoriteIsVisible: {
            type: Boolean,
            default: true
        }
    },
    components: {
        UkImage
    },
    data: () => ({
        loadImage,
        bgLoading: false,
        isShareShowing: false,
        shareUrl: ''
    }),
    async created() {
        await loadImage(this.item.image_url)
        this.bgLoading = true;
    },
    methods: {
        toggleFavorite() {
            this.$emit('toggleFavorite', this.item.id);
        },
        toggleShowing(){
            this.shareUrl = window.location.href;
            this.isShareShowing = !this.isShareShowing;
            this.$refs.shareInput.select()
        },
        copyLink(id){
            this.$refs.shareInput.select()
            window.document.execCommand("copy");
            this.isShareShowing = false;
          	wrappedOfferAddShareRequest(id)
        }

    }
}
</script>

<style lang="scss">
@import '../../../../sass/overwrites';
@import '../../../../sass/modules/hero-background';

$logo-size: 60px;
$logo-size-s: 80px;
$logo-size-xl: 100px;

.share-container {
    box-shadow: 0px 0px 4px 0px #c29c63;
    padding: 0.5em;
    margin-bottom: 1em;
    z-index: 150;
 	margin-right: 170px;
}

.share-link--input {
    z-index: 150;
    box-shadow: 0px 0px 2px 0px #c29c63;
    /* position: relative; */
    margin-bottom: 0.4em;
    width: 14em;
    text-align: center;
}

.tm-offer-hero {
    &__bottom-bar {
        &-container {
            box-sizing: content-box !important;
        }

        &-actions {
            position: absolute;
            top: 100%;
            right: 0;
            width: $logo-size;
            padding-top: $section-padding-vertical;
            @include media-mob($sm) {
                width: $logo-size-s;
                padding-top: $section-padding-vertical-s;
            }
            @include media-mob($md) {
                padding-top: $section-padding-vertical-m;
            }
            @include media-mob($xl) {
                width: $logo-size-xl;
            }

            > a {
                &:not(:last-child) {
                    margin-bottom: $global-small-gutter;
                    @include media-mob($sm) {
                        margin-bottom: $global-margin;
                    }
                    @include media-mob($md) {
                        margin-bottom: $global-gutter;
                    }
                }
            }
        }
    }

    &__logo {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(50%);
        width: $logo-size;
        height: $logo-size;
        border: 2px solid #B5996F;
        overflow: hidden;
        box-sizing: border-box;
        @include media-mob($sm) {
            width: $logo-size-s;
            height: $logo-size-s;
        }
        @include media-mob($xl) {
            width: $logo-size-xl;
            height: $logo-size-xl;
        }
    }
}
</style>
