<template>
    <v-container>
        <v-row>
		 <v-col cols="12">
		  <v-card class="elevation-4 d-inline-flex" min-width="300px">
		   <v-card-text>
			<div class="d-flex">
			 <div class="mr-auto">
			  <v-card-title class="text-subtitle-2 pt-0 pb-0 ">Your balance</v-card-title>
			  <v-skeleton-loader
				:loading="loadingBalance"
				class="headline pt-0 pb-0"
				style="padding-left: 10px"
				type="chip"
			  >
			   <v-card-title class="headline pt-0 pb-0 pl-1"
							 :class="{'red--text text--lighten-1 text-subtitle-1 pl-3': !balanceLocal}">
				{{ balanceLocal ? `$${balanceLocal}` : 'Unknown' }}
			   </v-card-title>
			  </v-skeleton-loader>
			 </div>
                            <v-card-actions v-if="false" class="">
                                <v-btn color="primary">Top up</v-btn>
                            </v-card-actions>
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-card class="elevation-4" min-width="300px">
                    <v-card-text>
                        <ValidationObserver ref="observer" v-slot="{ validate, reset }">
                            <form>
                                <div class="d-flex">
                                    <div class="form-item-group">
                                        <h5>Largest description of the partner's service/brand</h5>
                                        <ValidationProvider v-slot="{ errors }" name="Largest description">
                                            <v-textarea
                                                v-model="description_large"
                                                :error-messages="errors"
                                                label="Largest description"
                                            ></v-textarea>
                                        </ValidationProvider>
                                    </div>
                                    <div class="form-item-group ml-5">
                                        <h5>Short description explaining the service</h5>
                                        <ValidationProvider v-slot="{ errors }" name="Short description">
                                            <v-textarea
                                                v-model="description_short"
                                                :error-messages="errors"
                                                label="Short description"
                                            ></v-textarea>
                                        </ValidationProvider>
                                    </div>
                                    <div class="form-item-group ml-5">
                                        <h5>Please select a picture with an aspect ratio of 1: 1.5 <small><b>(420x630px recommended)</b></small></h5>
                                        <v-skeleton-loader
                                            v-if="loadingContactImage"
                                            :loading="loadingContactImage"
                                            class="headline pt-0 pb-0"
                                            style="padding-left: 10px"
                                            type="image"
                                        > </v-skeleton-loader>
                                        <vue-dropzone id="contact_image"
                                                      v-show="!loadingContactImage && !loadingContactImageError"
                                                      ref="contact_image"
                                                      class="progress-bar-hide"
                                                      v-model="contact_image"
                                                      :options="dropzoneLogoOption"
                                                      @vdropzone-max-files-exceeded="logoMaxFile"
                                                      @vdropzone-files-added="addLogo"
                                                      @vdropzone-removed-file="removeFile"
                                        />
                                        <v-card-title v-if="loadingContactImageError" class="red--text text--lighten-1 text-subtitle-1 pl-3">
                                           Error while loading contact image
                                        </v-card-title>
                                    </div>
                                </div>
                                <v-btn :disabled="updating || loadingContactImage" class="mt-1" :loading="updating" color="primary" @click="update">Update extra information</v-btn>
                            </form>
                        </ValidationObserver>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row style="margin-top: 30px">
            <v-col>
                <v-alert
                        v-if="!recentTransactions && !transactions.loading"
                        class="elevation-4"
                        dismissible
                        close-icon="mdi-close"
                        type="error"
                        border="left"
                        style="margin: 0;"
                        colored-border
                >
                    <span>Error while getting transaction list</span>
                </v-alert>
                <v-data-table
                        v-else
                        :headers="transactions.headers"
                        :items="transactions.items"
                        :options.sync="transactions.meta"
                        :server-items-length="transactions.meta.total"
                        class="elevation-4"
                >
                    <template v-slot:item.id="{ item }">
                        <router-link :to="`/dashboard/transactions/${item.id}`">{{ item.id }}</router-link>
                    </template>
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title><h3>Recent Transactions<</h3></v-toolbar-title>
                        </v-toolbar>
                    </template>

                    <template v-if="transactions.loading" v-slot:body="{ items }">
                        <tbody>
                        <tr v-for="tr in 5" :key="tr">
                            <td v-for="td in Object.keys(transactions.headers).length">
                                <v-skeleton-loader
                                        type="table-cell"
                                >

                                </v-skeleton-loader>
                            </td>
                        </tr>
                        </tbody>
                    </template>

                    <template v-slot:item.value="{ item }">
                        {{item.value}}$
                    </template>

                    <template v-slot:item.status="{ item }">
                        <v-chip :color="item.status === 'pending' ? 'info' : 'green'" dark>{{ item.status.toUpperCase() }}</v-chip>
                    </template>

                    <template v-slot:item.actions="{ item }">
                        <v-menu
                                v-model="item.confirmFail"
                                :close-on-content-click="false"
                                :open-on-click="false"
                                :top="true"
                                offset-y
                                :auto="true"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" :loading="item.confirmLoading" @click="confirmTransaction(item)" v-if="item.status === 'pending'" color="success">
                                    CONFIRM
                                </v-btn>
                            </template>
                            <v-alert
                                    v-model="item.confirmFail"
                                    dismissible
                                    close-icon="mdi-close"
                                    type="error"
                                    border="left"
                                    style="margin: 0;"
                                    colored-border
                            >
                                <span>{{ item.confirmFailMsg ? item.confirmFailMsg : 'Unknown error while trying to confirm transaction' }}</span>
                            </v-alert>
                        </v-menu>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';
  import {
    wrappedPartnerAcceptRelatedReviewRequest,
    wrappedPartnerGetRelatedReviewsRequest,
    wrappedPartnerUpdateProfileRequest,
  } from '../../requests/partner';

  const {mapState} = createNamespacedHelpers('partner');

  const dropzoneOptions = {
    url: 'https://httpbin.org/post',
    autoProcessQueue: false,
    autoQueue: false,
    uploadMultiple: true,
    addRemoveLinks: true,
    maxFilesize: 5,
    maxFiles: 8,
    zIndex: 7,
  };

  export default {
    name: "Home",
    data() {
      return {
        transactions: {
          headers: [
            {text: 'Offer name', value: 'offer.title'},
            {text: 'Offer date', value: 'offer.beginning_at'},
            {text: 'Status', value: 'status'},
            {text: 'Purchase amount', value: 'value'},
            {text: 'Actions', value: 'actions'},
          ],
          meta: {
            page: 1,
            itemsPerPage: 5,
            total: 0
          },
          items: [],
          loading: false
        },
        loadingBalance: false,
        balanceLocal: false,
        updating: false,
        description_large: null,
        description_short: null,
        contact_image: null,
        loadingContactImage: null,
        loadingContactImageError: null,
        dropzoneLogoOption: {
          ...dropzoneOptions,
          uploadMultiple: false,
          maxFiles: 1,
          acceptedFiles: 'image/*'
        },
        paymentDialog: false,
      }
    },
    watch: {
      'transactions.meta': {
        handler(val, oldVal) {
          if (JSON.stringify(val) !== JSON.stringify(oldVal)) {
            this.loadRecentTransactions();
          }
        },
        deep: true,
      },
    },
    computed: {
      ...mapState(
        {
          recentTransactions: state => state.recentTransactions && state.recentTransactions.success ? state.recentTransactions.data : false,
          recentTransactionsMeta: state => state.recentTransactions && state.recentTransactions.success ? state.recentTransactions.meta : false,
          balance: state => state.balance && state.balance.success ? state.balance.data.value : false,
          lastConfirmedTransactionSuccess: state => state.lastConfirmedTransaction && state.lastConfirmedTransaction.success,
          lastConfirmedTransaction: state => state.lastConfirmedTransaction && state.lastConfirmedTransaction.success ? state.lastConfirmedTransaction.data : false,
          lastConfirmedTransactionErrMsg: state => (!state.lastConfirmedTransaction || !state.lastConfirmedTransaction.success) && state.lastConfirmedTransaction.message ? state.lastConfirmedTransaction.message : false,
        }
      ),
    },
    methods: {
      removeFile() {
        this.contact_image = null;
      },
      logoMaxFile(filelist) {
        this.$refs.contact_image.removeAllFiles();
        this.$refs.contact_image.addFile(filelist)
        this.contact_image = filelist;
      },
      addLogo(filelist) {
        this.contact_image = filelist;
      },
      loadRecentTransactions() {
        this.transactions.loading = true;
        this.$store.dispatch('partner/getRecentTransactions', {
          per_page: this.transactions.meta.itemsPerPage,
          page: this.transactions.meta.page
        }).finally(() => {
          this.transactions.loading = false;
          if (!this.recentTransactions) {
            this.transactions.items = [];
          } else {
            this.transactions.meta.page = parseInt(this.recentTransactionsMeta.current_page);
            this.transactions.meta.itemsPerPage = parseInt(this.recentTransactionsMeta.per_page);
            this.transactions.meta.total = parseInt(this.recentTransactionsMeta.total);
            this.transactions.items = this.recentTransactions;
          }
        })
      },
      loadBalance() {
        this.loadingBalance = true;
        this.$store.dispatch('partner/getBalance').finally(() => {
          this.loadingBalance = false;
          this.balanceLocal = this.balance
        })
      },
      confirmTransaction(item) {
        const index = this.transactions.items.indexOf(item);
        if (!(index > -1)) {
          throw new Error('Not found index of the offer')
        }
        this.transactions.items.splice(index, 1, Object.assign({}, item, {confirmLoading: true}))
        this.$store.dispatch('partner/confirmTransaction', item.id).finally(() => {
          this.transactions.items.splice(index, 1, Object.assign({}, item, {confirmLoading: false}))

          if (this.lastConfirmedTransactionSuccess) {
            this.transactions.items.splice(index, 1, Object.assign({}, item, {status: 'confirmed'}))
            gsap.to(this.$data, { duration: 0.6, balanceLocal: this.lastConfirmedTransaction.updatedBalance.value });
          } else {
            this.transactions.items.splice(index, 1, Object.assign({}, item, {confirmFail: true, confirmFailMsg: this.lastConfirmedTransactionErrMsg}))
            this.$nextTick(() => {
              setTimeout(() => {
                this.transactions.items.splice(index, 1, Object.assign({}, item, {confirmFail: false, confirmFailMsg: false}))
              }, 5000)
            })
          }
        })
      },
      async update() {
        const isValid = await this.$refs.observer.validate();
        if (!isValid) {

        } else {
          const params = {
            description_large: this.description_large,
            description_short: this.description_short,
            contact_image: this.contact_image instanceof FileList ? Array.from(this.contact_image)[0] : this.contact_image instanceof Blob ? false : null,
            logo: false,
          };

          const form = new FormData();
          for (const [field, value] of Object.entries(params)) {
            if (Array.isArray(value)) {
              value.forEach((item) => {
                form.append(`${field}[]`, item);
              })
            } else if (value !== null) {
              form.append(field, value);
            }
          }
          this.updating = true;
          wrappedPartnerUpdateProfileRequest(form).then((response) => {
            if (response && response.data) {
              this.$root.authUser = response.data;
			}
          }).catch(() => {
			alert('Undefined error while for updating')
		  }).finally(() => {
            this.updating = false;
		  })
        }
      },
    },
    mounted() {
      this.description_large = this.$root.authUser.partner.description_large;
      this.description_short = this.$root.authUser.partner.description_short;

      if (this.$root.authUser.partner.contact_image) {
        this.loadingContactImage = true;
        var blob = null
        var xhr = new XMLHttpRequest()
        xhr.open("GET", this.$root.authUser.partner.contact_image)
        xhr.responseType = "blob"
        xhr.onload = () =>
        {
          blob = xhr.response

          if (blob instanceof Blob && ['image/png', 'image/jpeg', 'image/jpg'].indexOf(blob.type) > -1) {
            this.$refs.contact_image.addFile(blob)
            this.contact_image = blob;
          } else {
            this.loadingContactImageError = true;
          }

          this.loadingContactImage = false;
        };
        xhr.send()
      }

      this.loadBalance();
      this.loadRecentTransactions();
    }
  }
</script>

<style scoped>

</style>
