<template>
    <v-container class="partner-create-offer">
        <v-row>
            <v-col cols="12">
                <h3 class="text-center">Create an offer</h3>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <ValidationObserver ref="observer" v-slot="{ validate, reset }">
                    <form action="/" method="post" @submit.prevent="submit">
                        <div class="form-item-group">
                            <h5>Business name</h5>
                            <ValidationProvider v-slot="{ errors }" name="Business name" rules="required">
                                <v-text-field
                                        v-model="title"
                                        :error-messages="errors"
                                        label="Business name"
                                        required
                                />
                            </ValidationProvider>
                        </div>

                        <div class="form-item-group">
                            <h5>Beginning at</h5>
                            <v-menu
                                    ref="beginningAtMenu"
                                    v-model="beginningAtMenu"
                                    :close-on-content-click="false"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <ValidationProvider v-slot="{ errors }" name="beginning_at"
                                                        :rules="`required|date_after_now`" ref="beginningAt">
                                        <v-text-field
                                                v-model="beginningAt"
                                                label="Beginning at"
                                                prepend-icon="mdi-calendar"
                                                :error-messages="errors"
                                                readonly
                                                v-bind="attrs"
                                                v-on="on"
                                        ></v-text-field>
                                    </ValidationProvider>
                                </template>
                                <v-date-picker v-model="beginningAt" no-title scrollable
                                               @input="beginningAtMenu = false">
                                </v-date-picker>
                            </v-menu>
                        </div>
                        <div class="form-item-group">
                            <h5>Ending at</h5>
                            <v-menu
                                    ref="endingAtMenu"
                                    v-model="endingAtMenu"
                                    :close-on-content-click="false"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <ValidationProvider v-slot="{ errors }" name="ending_at"
                                                        rules="required|date_after_now|date_after_beginning_at"
                                                        ref="endingAt">
                                        <v-text-field
                                                v-model="endingAt"
                                                label="Ending at"
                                                :error-messages="errors"
                                                prepend-icon="mdi-calendar"
                                                readonly
                                                v-bind="attrs"
                                                v-on="on"
                                        ></v-text-field>
                                    </ValidationProvider>
                                </template>
                                <v-date-picker v-model="endingAt" no-title scrollable
                                               @input="endingAtMenu = false">
                                </v-date-picker>
                            </v-menu>
                        </div>
                        <div class="form-item-group">
                            <h5>Terms</h5>
                            <ValidationProvider v-slot="{ errors }" name="terms" rules="required">
                                <v-textarea
                                        label="Terms"
                                        :error-messages="errors"
                                        v-model="terms"
                                ></v-textarea>
                            </ValidationProvider>
                        </div>
                        <div class="form-item-group mb-4">
                            <h5>Main Card Image* <br><small>Please select a picture with an aspect ratio of 2.7: 1 (1440x523px recommended)</small></h5>
                            <ValidationProvider v-slot="{ errors }" name="image" rules="required">
                                <vue-dropzone ref="image"
                                              class="progress-bar-hide"
                                              id="image"
                                              v-model="image"
                                              :options="dropzoneImageOption"
                                              @vdropzone-max-files-exceeded="handleMax"
                                              @vdropzone-files-added="pushImage"
                                />
                                <div v-if="errors" class="mt-2 v-messages theme--light error--text" role="alert"><div class="v-messages__wrapper"><div class="v-messages__message">{{ errors[0] }}</div></div></div>
                            </ValidationProvider>
                        </div>
                        <div class="form-item-group">
                            <h5>Is Active</h5>
                            <v-checkbox
                                    v-model="isActive"
                                    :label="`Is Active (${isActive ? 'Yes' : 'No'})`"
                            ></v-checkbox>
                        </div>
                        <div class="form-item-group">
                            <h5>Percent</h5>
                            <ValidationProvider v-slot="{ errors }" name="Percent" rules="required|between:0,100">
                                <v-text-field
                                        v-model="percent"
                                        :error-messages="errors"
                                        label="Percent (just digit from 0 to 100)%"
                                        required
                                ></v-text-field>
                            </ValidationProvider>
                        </div>
                        <div class="form-item-group">
                            <h5>Type</h5>
                            <ValidationProvider v-slot="{ errors }" name="Type" rules="required">
                                <v-select
                                        v-model="type"
                                        :items="['SERVICE', 'RETAIL']"
                                        :error-messages="errors"
                                        label="Select type of the Offer"
                                        dense
                                        outlined
                                ></v-select>
                            </ValidationProvider>
                        </div>
                        <div class="form-item-group">
                            <h5>Category</h5>
                            <ValidationProvider v-slot="{ errors }" name="Category" rules="required">
                                <v-select
                                        v-model="categoryId"
                                        :items="categories"
                                        item-text="title"
                                        item-value="id"
                                        :error-messages="errors"
                                        label="Select category of the Offer"
                                        dense
                                        outlined
                                ></v-select>
                            </ValidationProvider>
                        </div>
                        <div class="form-item-group mb-4">
                            <h5>Gallery Images<br><small>Please select pictures with an aspect ratio of 2: 1 (1070x500px recommended)</small></h5>
                            <vue-dropzone ref="galleryImages"
                                          id="galleryImages"
                                          class="progress-bar-hide"
                                          v-model="galleryImages"
                                          :options="dropzoneGalleryOptions"
                                          @vdropzone-max-files-exceeded="handleMax"
                                          @vdropzone-files-added="pushGalleryImage"
                            />
                        </div>
                    </form>
                </ValidationObserver>
                <v-btn class="mt-1" :loading="loading" color="primary" @click="submit">Create offer</v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
  import {extend} from 'vee-validate';
  import {required, integer, between} from 'vee-validate/dist/rules';
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'

  extend('required', required)
  extend('integer', integer)
  extend('between', between)

  import {createNamespacedHelpers} from 'vuex';

  const {mapState, mapActions} = createNamespacedHelpers('partner');

  import dayjs from "dayjs";

  var isSameOrAfter = require('dayjs/plugin/isSameOrAfter')
  dayjs.extend(isSameOrAfter)

  const dropzoneOptions = {
    url: 'https://httpbin.org/post',
    autoProcessQueue: false,
    autoQueue: false,
    uploadMultiple: true,
    addRemoveLinks: true,
    maxFilesize: 5,
    maxFiles: 8,
    zIndex: 7
  };

  export default {
    name: "OfferCreate",
    components: {
      vueDropzone: vue2Dropzone
    },
    data() {
      return {
        beginningAtMenu: false,
        endingAtMenu: false,
        loading: false,
        dropzoneGalleryOptions: {
          ...dropzoneOptions
        },
        dropzoneImageOption: {
          ...dropzoneOptions,
          uploadMultiple: false,
          maxFiles: 1
        }
      }
    },
    computed: {
      ...mapState({
        form: state => state.offerForm,
        categories: state => state.categories
      }),
      beginningAt: {
        set(value) {
          this.setOfferFormFieldAction({field: 'beginning_at', value});
          this.$refs.endingAt.validate();
        },
        get() {
          return this.$store.state.partner.offerForm.beginning_at
        }
      },
      endingAt: {
        set(value) {
          this.setOfferFormFieldAction({field: 'ending_at', value});
          this.$refs.beginningAt.validate()
        },
        get() {
          return this.$store.state.partner.offerForm.ending_at
        }
      },
      terms: {
        set(value) {
          this.setOfferFormFieldAction({field: 'terms', value});
        },
        get() {
          return this.$store.state.partner.offerForm.terms
        }
      },
      isActive: {
        set(value) {
          this.setOfferFormFieldAction({field: 'is_active', value: Number(value)});
        },
        get() {
          return this.$store.state.partner.offerForm.is_active
        }
      },
      percent: {
        set(value) {
          this.setOfferFormFieldAction({field: 'percent', value});
        },
        get() {
          return this.$store.state.partner.offerForm.percent
        }
      },
      type: {
        set(value) {
          this.setOfferFormFieldAction({field: 'type', value});
        },
        get() {
          return this.$store.state.partner.offerForm.type
        }
      },
      categoryId: {
        set(value) {
          this.setOfferFormFieldAction({field: 'category_id', value});
        },
        get() {
          return this.$store.state.partner.offerForm.category_id
        }
      },
      title: {
        set(value) {
          this.setOfferFormFieldAction({field: 'title', value});
        },
        get() {
          return this.$store.state.partner.offerForm.title
        }
      },
      // subtitle: {
      //   set(value) {
      //     this.setOfferFormFieldAction({field: 'subtitle', value});
      //   },
      //   get() {
      //     return this.$store.state.partner.offerForm.subtitle
      //   }
      // },
      image: {
        set(value) {
          this.setOfferFormFieldAction({field: 'image', value: Array.from(value)[0]});
        },
        get() {
          return this.$store.state.partner.offerForm.image
        }
      },
      galleryImages: {
        set(value) {
          this.setOfferFormFieldAction({field: 'gallery_images', value: Array.from(value)});
        },
        get() {
          return this.$store.state.partner.offerForm.gallery_images
        }
      },
    },
    created() {
      extend('date_after_now', {
        getMessage: 'Must go after or same to the current day',
        validate: value => {
          return dayjs(value).isSameOrAfter(dayjs(), 'day') || 'Date must be go after or same to the current day';
        }
      });
      extend('date_after_beginning_at', {
        getMessage: 'Must go after `beginningAt` field',
        validate: value => {
          return dayjs(value).isAfter(dayjs(this.beginningAt), 'day') || 'Date must be go after `beginningAt` field';
        }
      });
      extend('date_before_ending_at', {
        getMessage: 'Must go before `endingAt` field',
        validate: value => {
          return dayjs(value).isBefore(dayjs(this.endingAt), 'day') || 'Date must be before `endingAt` field';
        }
      });
      this.getCategoriesAction();
    },
    beforeDestroy() {
      this.clearOfferFieldsAction();
    },
    methods: {
      ...mapActions({
        clearOfferFieldsAction: 'clearOfferFields',
        setOfferFormFieldAction: 'setOfferFormField',
        getCategoriesAction: 'getCategories'
      }),
      async submit() {
        const isValid = await this.$refs.observer.validate();
        if (!isValid) {

        } else {
          this.loading = true;
          this.$store.dispatch('partner/createOffer', this.form).finally(() => {
            this.loading = false;
            const lastRequest = this.$store.state.partner.lastCreatedOffer;
            if (lastRequest && lastRequest.success) {
              this.$router.push({name: 'dashboard.offers'})
            } else {
              alert('Error while creating offer' + (lastRequest && lastRequest.message ? ': ' + lastRequest.message : ''))
            }
          })
        }
      },
      pushGalleryImage(files) {
        this.galleryImages = files
      },
      pushImage(file) {
        this.image = file
      },
      handleMax(file) {
        this.$refs.image.removeFile(file);
      }
    },
  }
</script>

<style lang="scss">
    .partner-create-offer {
        .v-select {
            fieldset {
                height: 100%;
            }
        }
        .form-item-group {
            padding: 5px;
        }

        .progress-bar-hide .dz-progress {
            display: none !important;
        }

        .dropzone .dz-preview .dz-image {
            z-index: 3;
        }
    }

</style>
