<template>
    <v-container class="partner-edit-offer">
        <v-row>
            <v-col cols="12">
                <h3 class="text-center">Edit an offer: {{ currentTitle }}</h3>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <ValidationObserver ref="observer" v-slot="{ validate, reset }">
                    <form action="/" method="post" @submit.prevent="submit">
                        <div class="form-item-group">
						 	<h5>Business name</h5>
                            <ValidationProvider v-slot="{ errors }" name="Title" rules="required">
                                <v-text-field
                                        v-model="title"
                                        :error-messages="errors"
                                        label="Title of the offer"
                                        required
                                ></v-text-field>
                            </ValidationProvider>
                        </div>
					 <div class="form-item-group">
					  <h5>Beginning at</h5>
					  <v-menu
						ref="beginningAtMenu"
						v-model="beginningAtMenu"
						:close-on-content-click="false"
						transition="scale-transition"
						offset-y
						min-width="290px"
					  >
					   <template v-slot:activator="{ on, attrs }">
						<ValidationProvider v-slot="{ errors }" name="beginning_at"
											:rules="`required|date_after_now`" ref="beginningAt">
						 <v-text-field
						   v-model="beginningAt"
						   label="Beginning at"
						   prepend-icon="mdi-calendar"
						   :error-messages="errors"
						   readonly
						   v-bind="attrs"
						   v-on="on"
						 ></v-text-field>
						</ValidationProvider>
					   </template>
					   <v-date-picker v-model="beginningAt" no-title scrollable
									  @input="beginningAtMenu = false">
					   </v-date-picker>
					  </v-menu>
					 </div>
					 <div class="form-item-group">
					  <h5>Ending at</h5>
					  <v-menu
						ref="endingAtMenu"
						v-model="endingAtMenu"
						:close-on-content-click="false"
						transition="scale-transition"
						offset-y
						min-width="290px"
					  >
					   <template v-slot:activator="{ on, attrs }">
						<ValidationProvider v-slot="{ errors }" name="ending_at"
											rules="required|date_after_now|date_after_beginning_at"
											ref="endingAt">
						 <v-text-field
						   v-model="endingAt"
						   label="Ending at"
						   :error-messages="errors"
						   prepend-icon="mdi-calendar"
						   readonly
						   v-bind="attrs"
						   v-on="on"
						 ></v-text-field>
						</ValidationProvider>
					   </template>
					   <v-date-picker v-model="endingAt" no-title scrollable
									  @input="endingAtMenu = false">
					   </v-date-picker>
					  </v-menu>
					 </div>
                        <div class="form-item-group">
                            <h5>Terms</h5>
                            <ValidationProvider v-slot="{ errors }" name="terms" rules="required">
                                <v-textarea
                                        label="Terms"
                                        :error-messages="errors"
                                        v-model="terms"
                                ></v-textarea>
                            </ValidationProvider>
                        </div>
                        <div class="form-item-group mb-4">
						 	<h5>Main Card Image*</h5>
                            <ValidationProvider v-slot="{ errors }" name="image" rules="required">
                                <vue-dropzone ref="image"
                                              id="image"
                                              class="progress-bar-hide"
                                              v-model="image"
                                              :options="dropzoneImageOption"
                                              @vdropzone-max-files-exceeded="handleMax"
                                              @vdropzone-removed-file="image = null"
                                              @vdropzone-files-added="pushImage"
                                />
                                <div v-if="errors" class="mt-2 v-messages theme--light error--text" role="alert"><div class="v-messages__wrapper"><div class="v-messages__message">{{ errors[0] }}</div></div></div>
                            </ValidationProvider>
                        </div>
                        <div class="form-item-group">
                            <h5>Is Active</h5>
                            <v-checkbox
                                    v-model="isActive"
                                    :label="`Is Active (${isActive ? 'Yes' : 'No'})`"
                            ></v-checkbox>
                        </div>
                        <div class="form-item-group mb-4">
                            <h5>Gallery Images</h5>
                            <vue-dropzone ref="galleryImages"
                                          id="galleryImages"
                                          class="progress-bar-hide"
                                          v-model="gallery_images"
                                          :options="dropzoneGalleryOptions"
                                          @vdropzone-max-files-exceeded="handleMax"
                                          @vdropzone-removed-file="removeImage"
                                          @vdropzone-files-added="pushGalleryImage"
                            />
                        </div>
                    </form>
                </ValidationObserver>
                <v-btn class="mt-1" :loading="loading" color="primary" @click="submit">Update offer</v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
  import {extend} from 'vee-validate';
  import {required, integer} from 'vee-validate/dist/rules';
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'

  extend('required', required)
  extend('integer', integer)

  import {createNamespacedHelpers} from 'vuex';

  const {mapState, mapActions} = createNamespacedHelpers('partner');

  import dayjs from "dayjs";

  var isSameOrAfter = require('dayjs/plugin/isSameOrAfter')
  dayjs.extend(isSameOrAfter)

  const dropzoneOptions = {
    url: 'https://httpbin.org/post',
    autoProcessQueue: false,
    autoQueue: false,
    uploadMultiple: true,
    addRemoveLinks: true,
    maxFilesize: 5,
    maxFiles: 8
  };

  export default {
    name: "OfferEdit",
    components: {
      vueDropzone: vue2Dropzone
    },
    props: {
      id: {
        type: [String, Number],
        required: true
      }
    },
    data() {
      return {
        beginningAtMenu: false,
        endingAtMenu: false,
        loading: false,
        currentTitle: null,
        dropzoneGalleryOptions: {
          ...dropzoneOptions
        },
        dropzoneImageOption: {
          ...dropzoneOptions,
          uploadMultiple: false,
          maxFiles: 1,
        }
      }
    },
    computed: {
      ...mapState({
        form: state => state.offerForm
      }),
      beginningAt: {
        set(value) {
          this.setOfferFormFieldAction({field: 'beginning_at', value});
          this.$refs.endingAt.validate();
        },
        get() {
          return this.$store.state.partner.offerForm.beginning_at
        }
      },
      endingAt: {
        set(value) {
          this.setOfferFormFieldAction({field: 'ending_at', value});
          this.$refs.beginningAt.validate()
        },
        get() {
          return this.$store.state.partner.offerForm.ending_at
        }
      },
      terms: {
        set(value) {
          this.setOfferFormFieldAction({field: 'terms', value});
        },
        get() {
          return this.$store.state.partner.offerForm.terms
        }
      },
      isActive: {
        set(value) {
          this.setOfferFormFieldAction({field: 'is_active', value: Number(value)});
        },
        get() {
          return this.$store.state.partner.offerForm.is_active
        }
      },
      title: {
        set(value) {
          this.setOfferFormFieldAction({field: 'title', value});
        },
        get() {
          return this.$store.state.partner.offerForm.title
        }
      },
      image: {
        set(value) {
          this.setOfferFormFieldAction({field: 'image', value: value instanceof Object ? Array.from(value)[0] : value});
        },
        get() {
          return this.$store.state.partner.offerForm.image
        }
      },
      gallery_images: {
        set(value) {
          value = this.gallery_images ? this.gallery_images.concat([...value]) : [...value];
          this.setOfferFormFieldAction({field: 'gallery_images', value});
        },
        get() {
          return this.$store.state.partner.offerForm.gallery_images
        }
      },
    },
    methods: {
      ...mapActions({
        getOfferAction: 'getOffer',
        removeGalleryUrlAction: 'removeGalleryUrl',
        clearOfferFieldsAction: 'clearOfferFields',
        setOfferFormFieldAction: 'setOfferFormField',
      }),
      async submit() {
        const isValid = await this.$refs.observer.validate();
        if (!isValid) {

        } else {
          this.loading = true;
          this.$store.dispatch('partner/updateOffer', {id: this.id, form: this.form})
          .finally(() => {
            this.loading = false;
            const lastRequest = this.$store.state.partner.lastCreatedOffer;
            if (lastRequest && lastRequest.success) {
              this.$router.push({name: 'dashboard.offers'})
            } else {
              alert('Error while updating offer' + (lastRequest && lastRequest.message ? ': ' + lastRequest.message : ''))
            }
          })
        }
      },
      pushGalleryImage(filelist) {
        this.gallery_images = filelist;
      },
      pushImage(file) {
        this.image = file
      },
      addFileManually(ref, url) {
        return new Promise((resolve, reject) => {
          convertImgToBase64URL(url, (image) => {
            resolve(image, url)
          });
        })

      },
      removeImage({name}) {
        this.removeGalleryUrlAction(name);
      },
      handleMax(file) {
        this.$refs.image.removeFile(file);
      }
    },
    created() {
      extend('date_after_now', {
        getMessage: 'Must go after or same to the current day',
        validate: value => {
          return dayjs(value).isSameOrAfter(dayjs(), 'day') || 'Date must be go after or same to the current day';
        }
      });
      extend('date_after_beginning_at', {
        getMessage: 'Must go after `beginningAt` field',
        validate: value => {
          return dayjs(value).isAfter(dayjs(this.beginningAt), 'day') || 'Date must be go after `beginningAt` field';
        }
      });
      extend('date_before_ending_at', {
        getMessage: 'Must go before `endingAt` field',
        validate: value => {
          return dayjs(value).isBefore(dayjs(this.endingAt), 'day') || 'Date must be before `endingAt` field';
        }
      });
    },
    async mounted() {
      await this.getOfferAction(this.id);
      this.currentTitle = this.title;

      const url = this.form.image_url;
      this.$nextTick(() => {
        convertImgToBase64URL(url, (image) => {
          if (image instanceof Blob) {
            this.$refs['image'].addFile(image);
          } else {
            this.$refs['image'].manuallyAddFile({name: 'Base Image', size: 0, }, image);
          }

          this.image = url;
        });


        const queue = [];

        this.form.gallery_urls.forEach((url, index) => {
          if (!this.gallery_images) this.gallery_images = [];

          queue.push(new Promise((resolve, reject) => {
            convertImgToBase64URL(url, (image) => {
              resolve({image, url})
            });
          }))
        })

        Promise.all(queue).then(results => {
          results.forEach((payload, url) => {
            if (payload.image instanceof Blob) {
              this.$refs['galleryImages'].addFile(payload.image);
            } else {
              this.$refs['galleryImages'].manuallyAddFile({name: payload.image, size: 0, }, payload.image);
            }

            this.gallery_images.push(payload.url)
          })
        });
      })
    },
    beforeDestroy() {
      this.clearOfferFieldsAction();
    }
  }

  function convertImgToBase64URL(url, callback, outputFormat){
    var img = new Image();
    img.crossOrigin = 'crossorigin';
    img.onload = function(){
      var canvas = document.createElement('CANVAS'),
        ctx = canvas.getContext('2d'), dataURL;
      canvas.height = img.height;
      canvas.width = img.width;
      ctx.drawImage(img, 0, 0);
      canvas.toBlob((blob) => {
        blob.name = url;
        callback(blob);
      });
      canvas = null;
    };
    img.onerror = function(){callback(url);}
    img.src = url;
  }
</script>

<style lang="scss">
    .partner-edit-offer {
        .v-select {
            fieldset {
                height: 100%;
            }

            .form-item-group {
                padding: 5px;
            }

            .progress-bar-hide .dz-progress {
                display: none !important;
            }

            .dropzone .dz-preview .dz-image {
                z-index: 3;
            }
        }
    }

</style>
