<template>
    <v-container class="partner-offers-page">
        <v-row>
            <v-col cols="12">
                <div class="d-flex">
                    <h1 class="text-left mr-auto">My Offers</h1>
                    <v-btn :to="{name: 'dashboard.offers.create'}" class="primary">Create</v-btn>
                </div>
            </v-col>
        </v-row>
        <v-row v-if="!loading" dense style="max-width: 1280px;">
            <v-col
              v-for="(offer, index) in offers"
              class="d-flex partner-offer-item offer-card-container"
              :cols="xs" :sm="sm" :md="md" :lg="lg" :key="index">
                <PartnerOfferCard :offer="offer"/>
            </v-col>
        </v-row>
        <v-row>
            <v-progress-linear
                    v-if="loading"
                    indeterminate
                    color="primary"
            ></v-progress-linear>
            <h3 v-if="!loading && items.length === 0">
                Not found transactions
            </h3>
        </v-row>
    </v-container>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapState} = createNamespacedHelpers('partner');

  import PartnerOfferCard from "../../components/PartnerOfferCard";

  export default {
    name: "Offers",
    components: {
      PartnerOfferCard
    },
    data() {
      return {
        loading: false,
        items: []
      }
    },
    computed: {
      ...mapState(
        {
          offers: state => state.offers && state.offers.success ? state.offers.data : false
        }
      ),
      xs() {
        return this.$root.drawerMenuMiniVariant ? 12 : 12
      },
      sm() {
        return this.$root.drawerMenuMiniVariant ? 6 : 12
      },
      md() {
        return this.$root.drawerMenuMiniVariant ? 4 : 6
      },
      lg() {
        return this.$root.drawerMenuMiniVariant ? 3 : 3
      },
    },
    created() {
      this.loading = true;
      this.$store.dispatch('partner/getOffers').finally(() => {
        this.loading = false;
        if (!this.offers) {
          this.items = [];
          alert('Error while loading offers')
        } else {
          this.items = this.offers
        }
      })
    },
  }
</script>
