<template>
    <v-data-table
        :headers="headers"
        :items="desserts"
		:loading="loading"
        :items-per-page="5"
        class="elevation-1"
    >
	 <template v-slot:item.link="{ item }">
	  <a :href="`/offers/${item.offer.slug}`">Link</a>
	 </template>
	 <template v-slot:item.customer_name="{ item }">
	  <strong>{{ item.customer.first_name }} {{ item.customer.last_name }}</strong>
	 </template>
        <template v-slot:item.rating="{ item }">
            <v-rating
                color="primary"
                length="5"
                readonly
                :value="item.rating"
            ></v-rating>
        </template>
        <template v-slot:item.action="{ item }">
		 <v-btn
		   v-if="!item.accepted"
		   :loading="item.loading"
		   color="primary"
		   @click="accept(item.id)"
		 >Accept</v-btn>
        </template>
        <template v-slot:item.accepted="{ item }">
            <v-icon color="green" v-if="item.accepted === true">
                mdi-check
            </v-icon>
            <v-icon color="red" v-else>
                mdi-minus
            </v-icon>
        </template>
    </v-data-table>
</template>

<script>
import {wrappedPartnerAcceptRelatedReviewRequest, wrappedPartnerGetRelatedReviewsRequest} from "../../requests/partner";

export default {
    name: "Reviews",
    data () {
        return {
            headers: [
              {
                text: 'Offer title',
                align: 'start',
                sortable: false,
                value: 'offer.title',
              },
              {text: 'Offer Link', value: 'link'},
              {text: 'Customer name', value: 'customer_name'},
                {
                    text: 'Title',
                    align: 'start',
                    sortable: false,
                    value: 'title',
                },
                { text: 'Description', value: 'description' },
                { text: 'Rating', value: 'rating', sortable: true },
                { text: 'Accepted', value: 'accepted' },
                { text: 'Action', value: 'action' },

            ],
            desserts: [

            ],
          	loading: false,
        }
    },
	methods: {
	  accept(id) {
	    const item = this.desserts.find(r => r.id === id);

        item.loading = true;
        wrappedPartnerAcceptRelatedReviewRequest({review_id: id}).then(() => {
          item.accepted = true;
		}).finally(() => item.loading = false);
	  }
	},
    mounted() {
      this.loading = true;
        wrappedPartnerGetRelatedReviewsRequest().then(
			(e) => {
			  this.desserts = e.data.map((item) => {
			    return {...item, loading: false}
			  })
			}
		).finally(() => this.loading = false);
        //
    }
}
</script>

<style scoped>

</style>
