<template>
 <v-container>
  <v-row>
   <v-col cols="12">
	<v-card class="elevation-4" min-width="300px">
	 <v-card-text>
	  <form @submit.prevent="submit">
	   <div class="uk-margin-medium">
		<v-container>
		 <v-row>
		  <v-col md="6" lg="3" cols="12">
		   <uk-v-input
			 placeholder="Company Name"
			 v-model="company_name"/>

		   <div class="uk-margin-medium">
			<uk-v-input
			  placeholder="Merchant Name"
			  v-model="merchant_name"/>
		   </div>
		   <div class="uk-margin-medium">
			<uk-v-input
			  placeholder="Website"
			  v-model="site"/>
		   </div>
		   <div class="uk-form uk-margin-medium">
			<uk-v-input
			  placeholder="Address"
			  v-model="address"/>
		   </div>
		  </v-col>
		  <v-col md="6" lg="3">
		   <div class="uk-form uk-margin-medium">
			<uk-v-input
			  placeholder="Phone"
			  v-model="phone"/>
		   </div>
		   <div class="uk-form uk-margin-medium">
			<uk-v-input
			  placeholder="Facebook"
			  v-model="facebook"/>
		   </div>
		   <div class="uk-form uk-margin-medium">
			<uk-v-input
			  placeholder="Instagram"
			  v-model="instagram"/>
		   </div>
		   <div class="uk-form uk-margin-medium">
			<uk-v-input
			  placeholder="Linkedin"
			  v-model="linkedin"/>
		   </div>
		  </v-col>
		 </v-row>
		 <v-row>
		  <v-col md="6" lg="3" cols="12">
		   <div class="uk-margin-medium">
			<v-skeleton-loader
			  v-if="loadingLogoImage"
			  :loading="loadingLogoImage"
			  class="headline pt-0 pb-0"
			  type="image"
			/>
			<vue-dropzone id="logo"
						  ref="logo"
						  v-show="!loadingLogoImage && !loadingLogoImageError"
						  class="progress-bar-hide"
						  v-model="logo"
						  :options="dropzoneLogoOption"
						  @vdropzone-max-files-exceeded="logoMaxFile"
						  @vdropzone-files-added="addLogo"
						  @vdropzone-removed-file="removeFile"
			/>
			<span v-if="!logo && !loadingLogoImage"
				  class="tm-title-caption uk-text-muted uk-display-block uk-scrollspy-inview uk-animation-slide-bottom-small"
                  style="margin: 0px 0 10px 10px">Logo. Please select a picture with an aspect ratio of 1:1<small><b>(52x52px recommended)</b></small></span>

			<v-card-title v-if="loadingLogoImageError" class="red--text text--lighten-1 text-subtitle-1 pl-3">
			 Error while loading contact image
			</v-card-title>
		   </div>
		  </v-col>
		 </v-row>
		</v-container>
	   </div>
	   <v-btn :loading="loading" type="submit" class="mt-1 ml-3" color="primary">Update information</v-btn>
	  </form>
	 </v-card-text>
	</v-card>
   </v-col>
  </v-row>
 </v-container>
</template>

<script>
  import UkVInput from '@/components/form/UkVInput';
  import {wrappedPartnerUpdateProfileRequest} from '../../requests/partner';

  const dropzoneOptions = {
    url: 'https://httpbin.org/post',
    autoProcessQueue: false,
    autoQueue: false,
    uploadMultiple: true,
    addRemoveLinks: true,
    maxFilesize: 5,
    maxFiles: 8,
    zIndex: 7,
  };

  export default {
    components: {
      UkVInput,
    },

    data() {
      return {
        loading: false,
        company_name: null,
        merchant_name: null,
        logo: null,
        site: null,
        address: null,
        phone: null,
        facebook: null,
        instagram: null,
        linkedin: null,
        loadingLogoImage: false,
        loadingLogoImageError: null,
        dropzoneLogoOption: {
          ...dropzoneOptions,
          uploadMultiple: false,
          maxFiles: 1,
        },
      };
    },
    methods: {
      removeFile() {
        this.logo = null;
      },
      logoMaxFile(filelist) {
        this.$refs.logo.removeAllFiles();
        this.$refs.logo.addFile(filelist);
        this.logo = filelist;
      },
      addLogo(filelist) {
        this.logo = filelist;
      },
      async submit() {
        // const isValid = await this.$refs.observer.validate();
        const isValid = true;
        if (!isValid) {

        }
        else {
          const params = {
            company_name: this.company_name,
            merchant_name: this.merchant_name,
            facebook: this.facebook,
            instagram: this.instagram,
            linkedin: this.linkedin,
            address: this.address,
            phone: this.phone,
            site: this.site,
            logo: this.logo instanceof FileList ? Array.from(this.logo)[0] : this.logo instanceof Blob ? false : null,
            contact_image: false
          };

          const form = new FormData();
          for (const [field, value] of Object.entries(params)) {
            if (Array.isArray(value)) {
              value.forEach((item) => {
                form.append(`${field}[]`, item);
              });
            }
            else if (value !== null) {
              form.append(field, value);
            }
          }
          this.loading = true;
          wrappedPartnerUpdateProfileRequest(form).then((response) => {
            if (response && response.data) {
              this.$root.authUser = response.data;
            }
          }).catch(() => {
            alert('Undefined error while for updating')
          }).finally(() => {
            this.loading = false;
          })
        }
      },
    },
    mounted() {
      const user = this.$root.authUser.partner;
      const dataKeys = Object.keys(this.$data);
      const keys = Object.keys(user).filter(k => dataKeys.includes(k));
      keys.forEach((key) => {
        if (key === 'logo' && user[key]) {
          this.loadingLogoImage = true;
          var blob = null;
          var xhr = new XMLHttpRequest();
          xhr.open('GET', user[key]);
          xhr.responseType = 'blob';
          xhr.onload = () => {
            blob = xhr.response;
            if (blob instanceof Blob && ['image/png', 'image/jpeg', 'image/jpg'].indexOf(blob.type) > -1) {
              this.$refs.logo.addFile(blob);
              this.logo = blob;
            }
            else {
              this.loadingLogoImageError = true;
            }
            this.loadingLogoImage = false;
          };
          xhr.send();
        }
        else {
          this.$data[key] = user[key];
        }
      });
    },
  };
</script>
