<template>
    <div class="tm-page tm-login uk-flex-1">
        <div class="uk-section uk-section-large uk-position-relative uk-background-cover uk-flex-1 uk-flex uk-flex-middle uk-height-1-1">
            <div class="uk-overlay uk-overlay-primary uk-position-cover"></div>
            <div class="uk-width-1-1 uk-container uk-position-relative uk-position-z-index uk-flex uk-flex-center">
                <div class="uk-width-xlarge@s uk-width-2xlarge@l">
                    <div class="uk-light uk-margin-medium-bottom">
                        <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                                       text="Sign In"/>
                        <h1 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 200"
                            class="uk-heading-small uk-margin-remove-top">Login</h1>
                    </div>
                    <div data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 400"
                         class="tm-form-card uk-card uk-card-large uk-card-body uk-card-default uk-dark uk-position-relative">
                        <ValidationObserver ref="observer" v-slot="{ validate, reset, failed }">
                            <div v-if="Boolean(failedLogin) || failed"
                                 class="tm-form-card__alert uk-position-top uk-animation-shake">
                                <span class="uk-text-danger uk-text-small">
                                    {{ Boolean(failedLogin) ? failedLogin : 'Please check the correctness of filling in the fields' }}
                                </span>
                            </div>
                            <form @submit.prevent="submit">
                                <div class="uk-form uk-margin-medium">
                                    <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
                                        <uk-v-input
                                          name="email"
                                          placeholder="E-mail"
                                          :errors="errors"
                                          v-model="email"/>
                                    </ValidationProvider>
                                </div>
                                <div class="uk-margin-medium">
                                    <ValidationProvider v-slot="{ errors }" name="password" rules="required">
                                        <uk-v-input
                                          name="password"
                                          :type="passwordType"
                                          placeholder="Password"
                                          :errors="errors"
                                          :append-flip="passwordAppendIcon"
                                          flip-action
                                          @click:append-flip="togglePasswordType"
                                          v-model="password"/>
                                    </ValidationProvider>
                                </div>
                                <div class="uk-margin-top-medium">
                                    <label>
                                        <input class="uk-checkbox" type="checkbox" name="remember">
                                        Remember me
                                    </label>
                                </div>
                                <div class="uk-margin-medium-top uk-flex uk-flex-middle">
                                    <button class="uk-button uk-button-large uk-button-primary uk-margin-small-right"
                                            type="submit">
                                        <span class="uk-display-block uk-position-relative uk-light">
                                            Login
                                            <span v-if="loading"
                                                  class="tm-form-card__spinner uk-position-center-right uk-text-muted uk-position-z-index"
                                                  data-uk-spinner></span>
                                        </span>
                                    </button>

                                    <a href="#" class="uk-link-reset uk-margin-auto-left" type="button">Sign Up</a>
                                    <div class="uk-box-shadow-medium" data-uk-dropdown="pos: bottom-center">
                                        <ul class="uk-nav uk-dropdown-nav uk-text-center">
                                            <li><router-link to="/register/customer">Customer</router-link></li>
                                            <li><router-link to="/register/partner">Partner</router-link></li>
                                        </ul>
                                    </div>
                                </div>
                                <router-link
                                  class="uk-display-block uk-text-small uk-link-text uk-margin-small-top"
                                  to="/password/forgot">
                                    Forgot your password?
                                </router-link>
                            </form>
                        </ValidationObserver>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import { extend, ValidationObserver, ValidationProvider } from 'vee-validate';
import UkVInput from '@/components/form/UkVInput';
import hiddenInputsMixin from '@/mixins/hidden-inputs';
import { required, email } from 'vee-validate/dist/rules'
import startCase from 'lodash/fp/startCase'
import { wrappedLoginRequest } from '@/requests/auth';

extend('required', {
  ...required,
  message: (fieldName) => `${startCase(fieldName)} can not be empty`,
});

extend('email', {
  ...email,
  message: 'Email must be valid',
});

export default {
  name: "Login",
  scrollToTop: true,
  components: {
    UkVInput,
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [hiddenInputsMixin],
  data: () => ({
    email: null,
    password: null,
    remember: false,
    loading: false,
    failedLogin: false,
    type: null
  }),
  watch: {
    email () {
      this.failedLogin = false;
    },
    password () {
      this.failedLogin = false;
    }
  },
  methods: {
    async submit () {
      this.failedLogin = false;
      const valid = await this.$refs.observer.validate();
      if (valid) {
        this.loading = true;
        const response = await wrappedLoginRequest({
          email: this.email,
          password: this.password,
          remember: this.remember,
        });

        if (response === 204) {
          window.location.replace('/dashboard')
        } else if (response && response.errors) {
          this.failedLogin = response.errors.email && response.errors.email[0]
        } else {
          this.failedLogin = 'Webserver error';
        }

        this.loading = false;
      }
    }
  }
}
</script>

<style lang="scss">
@import '../../../sass/modules/form-card';

.tm-login {
  .uk-section.uk-background-cover {
    background-image: url("/images/front/auth/login-bg.jpg");
  }
}
</style>
