<template>
    <div class="tm-page tm-password-reset uk-flex-1">
        <div class="uk-section uk-section-large uk-position-relative uk-background-cover uk-flex-1 uk-flex uk-flex-middle uk-height-1-1">
            <div class="uk-overlay uk-overlay-primary uk-position-cover"></div>
            <div class="uk-width-1-1 uk-container uk-position-relative uk-position-z-index uk-flex uk-flex-center">
                <div class="uk-width-xlarge@s uk-width-2xlarge@l">
                    <div class="uk-light uk-margin-medium-bottom">
                        <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                                       text="Reset You Password"/>
                        <h1 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 200"
                            class="uk-heading-small uk-margin-remove-top">Reset Password</h1>
                    </div>
                    <div data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 400"
                         class="tm-form-card uk-card uk-card-large uk-card-body uk-card-default uk-dark uk-position-relative">
                        <ValidationObserver ref="observer" v-slot="{ validate, reset, failed }">
                            <div v-if="failed"
                                 class="tm-form-card__alert uk-position-top uk-animation-shake">
                                <span class="uk-text-danger uk-text-small">
                                    {{ 'Please check the correctness of filling in the fields' }}
                                </span>
                            </div>
                            <form @submit.prevent="submit">
                                <div class="uk-form uk-margin-medium">
                                    <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
                                        <uk-v-input
                                          name="email"
                                          placeholder="E-mail"
                                          :errors="errors"
                                          v-model="email"/>
                                    </ValidationProvider>
                                </div>
                                <div class="uk-form uk-margin-medium">
                                    <ValidationProvider v-slot="{ errors }" name="password" rules="required">
                                        <uk-v-input
                                          name="password"
                                          :type="passwordType"
                                          placeholder="Password"
                                          :errors="errors"
                                          :append-flip="passwordAppendIcon"
                                          flip-action
                                          @click:append-flip="togglePasswordType"
                                          v-model="password"/>
                                    </ValidationProvider>
                                </div>
                                <div class="uk-form uk-margin-medium">
                                    <ValidationProvider v-slot="{ errors }" name="password_confirmation" rules="required">
                                        <uk-v-input
                                          name="password_confirmation"
                                          :type="passwordConfirmationType"
                                          placeholder="Password confirmation"
                                          :errors="errors"
                                          :append-flip="passwordConfirmationAppendIcon"
                                          flip-action
                                          @click:append-flip="togglePasswordConfirmationType"
                                          v-model="password_confirmation"/>
                                    </ValidationProvider>
                                </div>
                                <div class="uk-margin-medium-top uk-flex uk-flex-middle uk-flex-between">
                                    <button class="uk-button uk-button-large uk-button-primary uk-margin-small-right"
                                            type="submit">
                                        Reset
                                    </button>
                                    <router-link to="/" class="uk-link-reset">
                                        Home
                                    </router-link>
                                </div>
                            </form>
                        </ValidationObserver>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { email, required } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider } from 'vee-validate'
import { wrappedResetPasswordRequest } from "@/requests/auth";
import UkVInput from "@/components/form/UkVInput";
import hiddenInputsMixin from '@/mixins/hidden-inputs';
import startCase from "lodash/fp/startCase"

extend('required', {
  ...required,
  message: (fieldName) => `${startCase(fieldName)} can not be empty`,
});

extend('email', {
  ...email,
  message: 'Email must be valid',
});

export default {
  name: 'PasswordReset',
  components: {
    ValidationProvider,
    ValidationObserver,
    UkVInput
  },
  mixins: [hiddenInputsMixin],
  data: () => ({
    email: null,
    password: null,
    password_confirmation: null,
    loading: false
  }),
  methods: {
    async submit () {
      const valid = await this.$refs.observer.validate();
      if (valid) {
        this.loading = true;
        const response = await wrappedResetPasswordRequest({
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation
        });

        if (response === 201) {
          window.location.replace('/')
        } else if (response && response.errors) {
          this.$refs.observer.setErrors(response.errors)
        } else {
          alert('Send unhandled error')
        }

        this.loading = false;
      }
    },
  },
}
</script>

<style lang="scss">
@import '../../../sass/modules/form-card';

.tm-password-reset {
  .uk-section.uk-background-cover {
    background-image: url("/images/front/auth/password-reset-bg.jpg");
  }
}
</style>
