<template>
    <div class="tm-page tm-password-forgot uk-flex-1">
        <div class="uk-section uk-section-large uk-position-relative uk-background-cover uk-flex-1 uk-flex uk-flex-middle uk-height-1-1">
            <div class="uk-overlay uk-overlay-primary uk-position-cover"></div>
            <div class="uk-width-1-1 uk-container uk-position-relative uk-position-z-index uk-flex uk-flex-center">
                <div class="uk-width-xlarge@s uk-width-2xlarge@l">
                    <div class="uk-light uk-margin-medium-bottom">
                        <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                                       text="Send Reset Password Link"/>
                        <h1 data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 200"
                            class="uk-heading-small uk-margin-remove-top">Forgot Password</h1>
                    </div>
                    <div data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 400"
                         class="tm-form-card uk-card uk-card-large uk-card-body uk-card-default uk-dark uk-position-relative">
                        <ValidationObserver ref="observer" v-slot="{ validate, reset, failed }">
                            <form @submit.prevent="submit">
                                <div class="uk-form uk-margin-medium">
                                    <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
                                        <uk-v-input
                                          name="email"
                                          placeholder="E-mail"
                                          :errors="errors"
                                          v-model="email"/>
                                    </ValidationProvider>
                                </div>
                                <div class="uk-margin-medium-top uk-flex uk-flex-middle uk-flex-between">
                                    <button class="uk-button uk-button-large uk-button-primary uk-margin-small-right"
                                            type="submit">
                                        Send
                                    </button>
                                    <router-link to="/login" class="uk-link-reset">
                                        Sign In
                                    </router-link>
                                </div>
                            </form>
                        </ValidationObserver>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { required, email } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider } from 'vee-validate'
import { wrappedForgotPasswordRequest } from "@/requests/auth";
import UkVInput from '@/components/form/UkVInput';
import startCase from "lodash/fp/startCase"

extend('required', {
  ...required,
  message: (fieldName) => `${startCase(fieldName)} can not be empty`,
});

extend('email', {
  ...email,
  message: 'Email must be valid',
});

export default {
  name: 'PasswordForgot',
  components: {
    ValidationProvider,
    ValidationObserver,
    UkVInput
  },
  data: () => ({
    email: null,
    loading: false
  }),

  methods: {
    async submit () {
      const valid = await this.$refs.observer.validate();
      if (valid) {
        this.loading = true;
        const response = await wrappedForgotPasswordRequest({
          email: this.email
        });

        if (response === 201) {
          window.location.replace('/')
        } else if (response && response.errors) {
          this.$refs.observer.setErrors(response.errors)
        } else {
          alert('Send unhandled error')
        }

        this.loading = false;
      }
    },
  },
}
</script>


<style lang="scss">
@import '../../../sass/modules/form-card';

.tm-password-forgot {
  .uk-section.uk-background-cover {
    background-image: url("/images/front/auth/password-forgot-bg.jpg");
  }
}
</style>
