<template>
    <div class="tm-page tm-register-partner uk-flex-1">
        <div
                class="uk-section uk-section-large uk-position-relative uk-background-cover uk-flex-1 uk-flex uk-flex-middle uk-height-1-1">
            <div class="uk-overlay uk-overlay-primary uk-position-cover"></div>
            <div class="uk-width-1-1 uk-container uk-position-relative uk-position-z-index uk-flex uk-flex-center">
                <div class="uk-width-xlarge@s uk-width-2xlarge@l">
                    <div class="uk-light uk-margin-medium-bottom">
                        <title-caption data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100"
                                       text="Sign Up"/>
                        <h1 ref="validation"  data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 200"
                            class="uk-heading-small uk-margin-remove-top">Register Partner</h1>
                    </div>
                    <div ref="form" data-uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 400"
                         class="tm-form-card uk-card uk-card-large uk-card-body uk-card-default uk-dark uk-position-relative">
                        <ValidationObserver ref="observer" v-slot="{ validate, reset, failed }">
                            <div v-if="failed"
                                 class="tm-form-card__alert uk-position-top uk-animation-shake">
                                <span class="uk-text-danger uk-text-small">
                                    {{ 'Please check the correctness of filling in the fields' }}
                                </span>
                            </div>
                            <form @submit.prevent="submit">
                                <div class="uk-form uk-margin-medium">
                                    <ValidationProvider v-slot="{ errors }" name="name" rules="required">
                                        <uk-v-input
                                                placeholder="Name"
                                                :errors="errors"
                                                v-model="name"/>
                                    </ValidationProvider>
                                </div>
                                <div class="uk-form uk-margin-medium">
                                    <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
                                        <uk-v-input
                                                placeholder="E-mail"
                                                :errors="errors"
                                                v-model="email"/>
                                    </ValidationProvider>
                                </div>
                                <div class="uk-margin-medium">
                                    <ValidationProvider v-slot="{ errors }" name="password" rules="required">
                                        <uk-v-input
                                                :type="passwordType"
                                                placeholder="Password"
                                                :errors="errors"
                                                :append-flip="passwordAppendIcon"
                                                flip-action
                                                @click:append-flip="togglePasswordType"
                                                v-model="password"/>
                                    </ValidationProvider>
                                </div>
                                
                                <div class="uk-margin-medium-top uk-flex uk-flex-middle">
                                    <button class="uk-button uk-button-large uk-button-primary uk-margin-small-right"
                                            type="submit">
                                        <span class="uk-display-block uk-position-relative uk-light">
                                            Register
                                            <span v-if="loading"
                                                  class="tm-form-card__spinner uk-position-center-right uk-text-muted uk-position-z-index"
                                                  data-uk-spinner></span>
                                        </span>
                                    </button>
                                </div>
                                <router-link
                                        class="uk-display-block uk-text-small uk-link-text uk-margin-small-top"
                                        to="/login">
                                    Have an account?
                                </router-link>
                            </form>
                        </ValidationObserver>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import {required, email} from 'vee-validate/dist/rules'
  import {extend, ValidationObserver, ValidationProvider} from 'vee-validate'
  import {wrappedRegisterPartnerRequest} from "@/requests/auth";
  import UkVInput from "@/components/form/UkVInput";
  import hiddenInputsMixin from '@/mixins/hidden-inputs';

  import startCase from "lodash/fp/startCase"

  extend('required', {
    ...required,
    message: (fieldName) => `${startCase(fieldName)} can not be empty`,
  });

  extend('email', {
    ...email,
    message: 'Email must be valid',
  });

  export default {
    name: 'RegisterPartner',
    components: {
      ValidationProvider,
      ValidationObserver,
      UkVInput
    },
    mixins: [hiddenInputsMixin],
    data: () => ({
      name: null,
      email: null,
      password: null,
      loading: false,
    }),
    methods: {
      async submit() {
        if (this.loading) return;
        const valid = await this.$refs.observer.validate();
        // todo Change validation rules, remove unused fields .etc
        if (valid) {
          this.loading = true;

          const params = {
            name: this.name,
            email: this.email,
            password: this.password,
          };

          const form = new FormData();
          for (const [field, value] of Object.entries(params)) {
            if (Array.isArray(value)) {
              value.forEach((item) => {
                form.append(`${field}[]`, item);
              })
            } else if (value !== null) {
              form.append(field, value);
            }
          }


          const response = await wrappedRegisterPartnerRequest(form);

          this.loading = false;

          if (response && typeof response === 'object') {
            if (response.errors) {
              this.$refs.validation.scrollIntoView();
              return this.$refs.observer.setErrors(response.errors);
            }

            if (response.success) {
              return window.location.replace('/dashboard')
            }
          }

          alert('Register unhandled error')
        } else {
          this.$refs.validation.scrollIntoView();
        }
      },
    },
  }
</script>

<style lang="scss">
    @import '../../../sass/modules/form-card';

    .tm-register-partner {
        .uk-section.uk-background-cover {
            background-image: url("/images/front/auth/register-partner-bg.jpg");
        }

        .v-select {
            fieldset {
                height: 100%;
            }
        }

        .form-item-group {
            padding: 5px;
        }

        .progress-bar-hide .dz-progress {
            display: none !important;
        }

        .dropzone .dz-preview .dz-image {
            z-index: 3;
        }
    }
</style>
