<template>
    <router-link :to="to" v-slot="{ href, route, navigate, isExactActive }">
        <li :class="{'uk-active': isExactActive}" @click="onClick">
            <a :href="href" @click="navigate">
                <span class="uk-h3" :class="{'uk-text-primary': isExactActive}">{{ title }}</span>
            </a>
        </li>
    </router-link>
</template>

<script>
export default {
  name: "OffCanvasItem",
  props: {
    to: {
      type: String,
      default: '/'
    },
    title: {
      type: String,
      required: true
    }
  },
  methods: {
    onClick () {
      this.$emit('click');
    }
  }
}
</script>
